@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800|Roboto:300,400,500,700");
* {
  outline-width: 0 !important;
  font-family: 'Roboto'; }

body, html {
  padding: 0;
  margin: 0;
  background: #eee; }

.wrapper {
  width: 500px;
  margin: 0 auto; }

.responsiveVideo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .responsiveVideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none; }

#banner {
  height: 100px;
  background: #009688;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #banner h1 {
    font-family: 'Nunito';
    font-weight: 500;
    color: #fff;
    margin: 0; }
    #banner h1 a {
      font-family: 'Nunito';
      font-weight: 500;
      color: #fff;
      -webkit-box-shadow: inset 0 -1px 0 #fff;
      box-shadow: inset 0 -1px 0 #fff;
      text-decoration: none; }

#list {
  width: 500px;
  margin: 50px auto; }
  #list ul {
    padding: 0;
    margin: 0; }
    #list ul li {
      display: block;
      list-style: none;
      border-bottom: 1px solid #ccc; }
      #list ul li a {
        display: block;
        padding: 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        text-decoration: none; }
        #list ul li a span {
          color: #444;
          font-family: 'Nunito';
          font-weight: 600; }
        #list ul li a i {
          padding-right: 10px;
          color: #009688; }
        #list ul li a .border {
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #009688;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.18, 1);
          -o-transition: 0.4s cubic-bezier(0.77, 0, 0.18, 1);
          transition: 0.4s cubic-bezier(0.77, 0, 0.18, 1); }
        #list ul li a:hover .border {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1); }
