#app-mount .guilds-1SWlCJ {
  background: var(--set-tint);
  box-shadow: inset 0 0 0 100vmax rgba(0,0,0,var(--serverlist-brightness));
  .scroller-2TZvBN {
    background: transparent;
    padding-top: 8px;
    > .listItem-2P_4kh:first-child .childWrapper-anI2G9 {
      background: var(--set-gradient-solid);
      color: #fff;
    }
  }
  // Expanded folder icon/background
  .folder-21wGz3 {
    background: transparent;
  }
  .expandedFolderBackground-2sPsd- {
    background: rgba(#fff, 0.05);
  }
  // No icon/Add/Discovery
  .bd-selected .acronym-2mOFsV {
    background: rgba(#fff, 0.1);
  }
  .circleIconButton-jET_ig, .acronym-2mOFsV {
    background: rgba(#fff, 0.05);
    color: #fff;
    &.selected-ugP_am, &:hover {
      background: rgba(#fff, 0.1);
    }
  }
}