/* ---------- HOMEPAGES START ---------- */

#app-mount {
    // Activity
    .activityFeed-1C0EmJ {
        background-color: transparent;
        position: relative;
        .h5-18_1nd {
            color: #fff;
        }
        .layout-1cQCv2 {
            background: none;
        }
        .section-2VKIPC {
            background: transparent;
        }
        .popoutContainer-3WC9HR:hover {
            background: rgba(#000, 0.3);
        }
        .outer-2IVh5n {
            background: rgba(#000, 0.3);
            .colorStandard-2KCXvj {
                color: #fff;
            }
            .colorMuted-HdFt4q {
                color: rgba(#fff, 0.5);
            }
        }
        .popout-3G62UL {
            background: transparent;
            box-shadow: none;
        }
        .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover {
            background: rgba(#000, 0.3);
        }
        .separator-2c4hi3 {
            background: rgba(#000, 0.1);
        }
        .unwrapped-37iUtM, .inset-GQDQYw, .recentlyPlayedContainer-2F3MqS {
            background-color: rgba(#000, 0.3);
        }
        .wrapper-9ppXpy {
            box-shadow: inset 0 1px 0 rgba(#000, 0.1);
        }
        .container-1r6BKw {
            background: transparent;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            .icon-22AiRD {
                color: #fff;
            }
            .children-19S4PO:after {
                content: none;
            }
        }
        .buttonColor-1agP3J {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
    }

    // Discovery
    .pageWrapper-1PgVDX {
        background: transparent;
        & > img {display: none;}
        .loading-17PYl_ {
            background: rgba(#000, 0.3);
        }
        .searchBox-3Y2Vi7, .css-1wqqa50-container {
            box-shadow: none;
            background: rgba(#000, 0.3);
            border: none;
        }
        .searchHelpText-19imBp, .description-2QALGo {
            color: #fff;
        }
        .searchHelpText-19imBp:not(.searchHelpTextVisible-1mRnNd) {
            opacity: 0;
        }
        .css-1rckt42-menu {
            background: transparent;
            border: none;
        }
        .guildList-1ItbxP .card-3DjzTQ {
            background: rgba(#000, 0.3);
            border: none;
            box-shadow: none;
        }
        .sectionSeparator-2OWiNT {
            border-top-color: rgba(#000, 0.1);
        }
        .activeButton-1BJAiN {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
    }

    // Library
    .gameLibrary-TTDw4Y {
        background: transparent;
        position: relative;
        .item-PXvHYJ {
            color: #fff;
            &.selected-3s45Ha {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
            }
        }
        .stickyHeader-1pqx0j {
            background: transparent;
            overflow: hidden;
            & > div {
                position: relative;
            }
            .headerCell-3L6rFG {
                color: rgba(#fff, 0.5);
                font-weight: 500;
            }
            .headerCellSorted-3a5AzJ {
                color: #fff;
            }
        }
        .gameUpdates-2GPqBU {
            background: rgba(#000, 0.3);
            .progress-5tMCVk, .progress-2XXRYo {
                background: rgba(#000, 0.3) !important;
            }
            .progress-5tMCVk {
                background-color: rgba(#000, 0.3) !important;
            }
            .progressBar-3zryPV {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
            }
        }
        .textCell-1aBIUP, .icon-1IKq3C {
            color: #fff;
        }
        .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
            background: rgba(#000, 0.3);
        }
        .lookFilled-1Gx00P.colorGreen-29iAKY {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
        .rowWrapperActive-2L7i9f {
            box-shadow: none;
            background: rgba(#000, 0.3);
        }
        .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
            border-top-color: rgba(#fff, 0.05);
        }
    }

    // Store
    .applicationStore-1pNvnv {
        background: transparent;
        position: relative;
        .itemBackground-2vEldQ {
            background: transparent;
            background-position: center;
            background-size: cover;
            &:before {
                background: rgba(#000, 0.8);
            }
        }
        .tileMedia-1q3guD {
            background: rgba(#000, 0.3);
            .loadingContainer-138F59, .mediaFade-1SdEfL {
                background: transparent;
            }
        }
        .whyYouMightLikeIt-2zZIIj, .content-35aVm0, .item-2yFVoY {
            background: rgba(#000, 0.3);
        }
        .bodySection-jqkkIP {
            background: rgba(#000, 0.3);
            border-top-color: rgba(#000, 0.3);
            .skuNormal-3h1es- {
                border-bottom-color: rgba(#000, 0.3);
            }
            .price-NUANu6 {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
            }
        }
        .features-_IOqVv {
            .title-3KTIjF {
                color: #fff;
            }
            .row-1bU71H {
                background: rgba(#000, 0.3);
                color: #fff;
            }
        }
        .memberInfo-1TAaKC {
            color: #fff;
            font-weight: 500;
        }
        .categoryHeader-1D7Tqy, .sortFilterBar-3hePOV {
            border-color: rgba(#fff, 0.1);
        }
        .carouselItem-1qFCGP {
            padding: 0;
            top: 0;
        }
        .tile-QA_yMc {
            background-color: rgba(#000, 0.3);
            box-shadow: none;
            .title-2XwaXv, .tagline-EIH5-W {
                color: #fff;
            }
        }
        .overlappingBorder-1-XPGl {
            border-color: rgba(var(--BG-gradient-one), 1);
        }
        .perkTag-2O4dx4, .lookFilled-1Gx00P.colorGreen-29iAKY, .toggleCollapseButton-2wffKu, .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
        .footer-3oZnEF, .filterBackground-QanGTJ:before {
            display: none;
        }
        .searchBox-3Y2Vi7 {
            background: rgba(#000, 0.3);
            box-shadow: none;
            input::placeholder {
                color: rgba(#fff, 0.5);
                font-weight: 400;
            }
        }
        .hideGames-zMTyGl {
            color: #fff;
        }
        .checked-3_4uQ9 {
            border: none;
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
    }

    // Friends
    .container-3gCOGc {
        background: transparent;
        position: relative;
        .primary-3j8BhM, .botTag-2WPJ74 {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
        .friendsTable-133bsv {
            .friendsColumn-eVHFqJ {
                color: #fff;
            }
            .friendsRow-2yicud {
                &:hover {
                    box-shadow: none;
                    background: rgba(#000, 0.3);
                }
            }
            .friendsRow-2yicud+.friendsRow-2yicud {
                border-top-color: rgba(#fff, 0.05);
            }
            .friendsAction-__WNE9 {
                background-color: rgba(#fff, 0.1);
                &:hover {
                    background-color: rgba(#fff, 0.2);
                }
            }
        }
    }

    // Gift
    .root-1BQpZw {
        background: transparent;
        position: relative;
        overflow: hidden;
        .divider-3573oO {
            border-color: rgba(#fff, 0.1);
        }
        .input-cIJ7To {
            background: rgba(#000, 0.3);
            border: none;
            &::placeholder {
                color: rgba(#fff, 0.5);
                font-weight: 400;
            }
        }
    }







}

/* ---------- HOMEPAGES END ---------- */
