/* ---------- HOMEPAGES START ---------- */
#app-mount {
  // Discovery
  .pageWrapper-1PgVDX {
    background: transparent;
    & > img {
      display: none;
    }
    .loading-17PYl_ {
      background: rgba(#000, 0.3);
    }
    .css-1wqqa50-container, .searchBox-3Y2Vi7 {
      box-shadow: none;
      background: rgba(#000, 0.3);
      border: none;
    }
    .description-2QALGo, .searchHelpText-19imBp {
      color: #fff;
    }
    .searchHelpText-19imBp:not(.searchHelpTextVisible-1mRnNd) {
      opacity: 0;
    }
    .css-1rckt42-menu {
      background: transparent;
      border: none;
    }
    .guildList-1ItbxP .card-3DjzTQ {
      background: rgba(#000, 0.3);
      border: none;
      box-shadow: none;
    }
    .sectionSeparator-2OWiNT {
      border-top-color: rgba(#000, 0.1);
    }
    .activeButton-1BJAiN {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
    }
  }
  // Library
  .container-3Mxszk {
    background: transparent;
    position: relative;
    .item-PXvHYJ {
      color: #fff;
      &.selected-3s45Ha {
        background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
      }
    }
    .stickyHeader-1pqx0j {
      background: transparent;
      overflow: hidden;
      & > div {
        position: relative;
      }
      .headerCell-3L6rFG {
        color: rgba(#fff, 0.5);
        font-weight: 500;
      }
      .headerCellSorted-3a5AzJ {
        color: #fff;
      }
    }
    .gameUpdates-2GPqBU {
      background: rgba(#000, 0.3);
      .progress-2XXRYo, .progress-5tMCVk {
        background: rgba(#000, 0.3) !important;
      }
      .progress-5tMCVk {
        background-color: rgba(#000, 0.3) !important;
      }
      .progressBar-3zryPV {
        background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
      }
    }
    .icon-1IKq3C, .textCell-1aBIUP {
      color: #fff;
    }
    .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
      background: rgba(#000, 0.3);
    }
    .lookFilled-1Gx00P.colorGreen-29iAKY {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
    }
    .rowWrapperActive-2L7i9f {
      box-shadow: none;
      background: rgba(#000, 0.3);
    }
    .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
      border-top-color: rgba(#fff, 0.05);
    }
  }
  // Nitro
  .applicationStore-1pNvnv {
    background: transparent;
    position: relative;
    .itemBackground-2vEldQ {
      background: transparent;
      background-position: center;
      background-size: cover;
      &:before {
        background: rgba(#000, 0.8);
      }
    }
    .tileMedia-1q3guD {
      background: rgba(#000, 0.3);
      .loadingContainer-138F59, .mediaFade-1SdEfL {
        background: transparent;
      }
    }
    .content-35aVm0, .item-2yFVoY, .whyYouMightLikeIt-2zZIIj {
      background: rgba(#000, 0.3);
    }
    .bodySection-jqkkIP {
      background: rgba(#000, 0.3);
      border-top-color: rgba(#000, 0.3);
      .skuNormal-3h1es- {
        border-bottom-color: rgba(#000, 0.3);
      }
      .price-NUANu6 {
        background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
      }
    }
    .features-_IOqVv {
      .title-3KTIjF {
        color: #fff;
      }
      .row-1bU71H {
        background: rgba(#000, 0.3);
        color: #fff;
      }
    }
    .memberInfo-1TAaKC {
      color: #fff;
      font-weight: 500;
    }
    .categoryHeader-1D7Tqy, .sortFilterBar-3hePOV {
      border-color: rgba(#fff, 0.1);
    }
    .carouselItem-1qFCGP {
      padding: 0;
      top: 0;
    }
    .tile-QA_yMc {
      background-color: rgba(#000, 0.3);
      box-shadow: none;
      .tagline-EIH5-W, .title-2XwaXv {
        color: #fff;
      }
    }
    .overlappingBorder-1-XPGl {
      border-color: rgba(var(--BG-gradient-one), 1);
    }
    .lookFilled-1Gx00P.colorGreen-29iAKY, .lookFilled-1Gx00P.colorPrimary-3b3xI6, .perkTag-2O4dx4, .toggleCollapseButton-2wffKu {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
    }
    .filterBackground-QanGTJ:before, .footer-3oZnEF {
      display: none;
    }
    .searchBox-3Y2Vi7 {
      background: rgba(#000, 0.3);
      box-shadow: none;
      input::placeholder {
        color: rgba(#fff, 0.5);
        font-weight: 400;
      }
    }
    .hideGames-zMTyGl {
      color: #fff;
    }
    .checked-3_4uQ9 {
      border: none;
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
    }
  }
  // Friends
  .container-1D34oG {
    background: transparent;
    .nowPlayingColumn-2sl4cE {
      background: transparent;
    }
    .emptyCard-1RJw8n {
      background: rgba(#000, 0.3);
    }
    .actionButton-uPB8Fs {
      background: rgba(#000, 0.1);
      color: #fff;
      &:hover {
        background: rgba(#000, 0.3);
      }
    }
  }
  // Gift
  .root-1BQpZw {
    background: transparent;
    position: relative;
    overflow: hidden;
    .divider-3573oO {
      border-color: rgba(#fff, 0.1);
    }
    .input-cIJ7To {
      background: rgba(#000, 0.3);
      border: none;
      &::placeholder {
        color: rgba(#fff, 0.5);
        font-weight: 400;
      }
    }
  }
}
/* ---------- HOMEPAGES END ---------- */