/* ---------- MEMBERS LIST START ---------- */
#app-mount .members-1998pB {
  background: transparent;
  .botTagRegular-2HEhHi {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
  }
  .layout-2DM8Md {
    background: transparent;
  }
  .member-3-YXUe {
    .botTag-2WPJ74 {
      font-weight: bold;
    }
    &:hover {
      background: rgba(#fff, 0.1);
    }
    &.selected-aXhQR6 {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
      .roleColor-rz2vM0, .text-zpzAjW {
        color: #fff !important;
      }
      .botTag-2WPJ74 {
        background: #fff !important;
        color: rgba(var(--BG-gradient-one), 1) !important;
        border-color: transparent !important;
      }
    }
  }
  .activity-2Gy-9S {
    color: rgba(#fff, 0.8);
  }
}
/* ---------- MEMBERS LIST END ---------- */