#app-mount .searchResultsWrap-2DKFzt {
  background: rgba(#000, 0.2);
  .searchHeader-1l-wpR {
    background: rgba(#000, 0.2);
  }
  .channelName-1QajIf {
    background: transparent;
  }
  .channelSeparator-1X1FuH:before {
    content: none;
  }
  .searchResult-3pzFAB {
    &:after, &:before {
      content: none;
    }
    .attachment-33OFj0 {
      border: none;
      background: rgba(#000, 0.5);
    }
    pre {
      background: rgba(0,0,0,0.5);
      border: none;
      overflow: hidden;
      code {
        background: transparent;
        overflow: hidden;
      }
    }
    code {
      background: rgba(0,0,0,0.5);
    }
  }
  .jumpButton-Ia2hRJ {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
  }
  .embedInner-1-fpTo, .searchResultMessage-2VxO12.hit-NLlWXA {
    box-shadow: none;
    border: none;
    background: rgba(#000, 0.3);
  }
  .searchResult-3pzFAB.expanded-v2Szsz {
    border: none;
    background: rgba(#000, 0.2);
  }
}