/**
 * @name Frosted Glass
 * @author Gibbu#1211
 * @version 0.1.0
 * @description Display your picture of choice with adjustable blur and brightness. Discord Dark theme is required.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me/
*/


/*
Awesome images by the Among Trees game
Website: https://www.amongtreesgame.com/

Forest 1080p:     https://i.redd.it/4v718eku9z221.png
Dear 1080p:       https://i.imgur.com/zcGnnwR.jpg
Valley 2K:        https://hdqwalls.com/wallpapers/small-memory-lp.jpg
Valley 8K:        https://i.imgur.com/768zfyS.jpg
*/

@import url("https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/base.css");

:root {

    /* Image variables */
    --BG-image: url('https://i.imgur.com/zcGnnwR.jpg');  /* URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
    --BG-image-blur: 5px;                                /* MUST END IN px (0px) | DEFAULT: 5px */

    /* Brightness variables */
    --BG-left-brightness: 0.8;         /* DEFAULT: 0.8 */
    --BG-right-brightness: 0.6;        /* DEFAULT: 0.6 */
    --BG-popout-brightness: 0.7;       /* Usually darker than --BG-right-brightness | DEFAULT: 0.7 */

    /*
        Gradient variables
        Use this website: https://htmlcolorcodes.com/color-picker/
        to get your desired RGB numbers. Then simply put each number in their respective area.
        R,G,B
    */
    --BG-gradient-one: 72,222,217;        /* DEFAULT: 72,222,217 */
    --BG-gradient-two: 3,169,244;         /* DEFAULT: 2,168,244 */
    --BG-gradient-direction: -45deg;      /* DEFAULT: -45deg */
    --BG-gradient-opacity: 1;             /* DEFAULT: 1 */

    /* Other variables */
    --BG-window-padding: 20px;           /* DEFAULT: 20px */
    --BG-window-roundness: 10px;         /* DEFAULT: 10px */
    --BG-left-right-split: 0;          /* DEFAULT: 0 */
    --BG-roundness: 0%;                 /* DEFAULT: 50% */

    /* Status variables */
    --online: #43b581;
    --idle: #faa61a;
    --dnd: #f04747;
    --offline: #75808e;

}

/*
    Coloured SVG's by DevilBro#4401
    Discord Server: https://discordapp.com/invite/Jx3TjNS
    PayPal.Me: https://www.paypal.me/MircoWittrien
*/
