:root {
  --border-radius: 3px;
  --accent-solid: rgba(var(--accent-colour), 1);
  --spacing: 10px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size-xsm: 9px;
  --font-size-sm: 11px;
  --font-size: 12px;
  --font-size-lg: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 28px;
  --titlebar-height: 28px;
  --toolbar-height: 50px;
  --sidebar-width: 260px;
  --member-height: 42px;
  --channel-height: 32px;
  --avatar-size: 30px;
  --avatar-size-small: 25px;
  --avatar-size-large: 45px;
  --discord-green: #43b581;
  --discord-yellow: #faa61a;
  --discord-red: #f04747;
  --discord-purple: #593695;
  --discord-invisible: #747f8d;
  --discord-nitro: #ff73fa;
}

.theme-dark {
  --border-color: #141414;
  --background-color: #24292e;
  --text-default: #d1d5da;
  --text-muted: #959da5;
  --text-focus: #ffffff;
  --toolbar-background: #1d2125;
  --toolbar-hover-background: #2f363d;
  --toolbar-server-icon-color: #454f59;
  --account-panel-background-color: #2f363d;
  --account-button-hover-color: #313940;
  --main-background: #2a3036;
  --main-background-hover: #2e353c;
  --server-icon: var(--toolbar-background);
  --now-playing-background: var(--main-background);
  --userpopout-header: var(--toolbar-background);
  --userpopout-body: var(--background-color);
  --userpopout-textbox: var(--toolbar-background);
  --font-weight-ultralight: 300;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --channel-scrollbar: rgba(0,0,0,0.3);
  --background-modifier-hover: #2f363d;
  --background-modifier-active: #444d56;
  --background-modifier-selected: var(--accent-solid);
}

::-webkit-input-placeholder, body, button, input, select, textarea {
  font-family: var(--font-family-sans-serif);
}

#app-mount .titleBar-AC4pGV {
  height: calc(var(--titlebar-height) - 2px);
  border-bottom: 1px solid var(--border-color);
  margin-top: 2px;
  background: var(--background-color);
  position: relative;
}
#app-mount .titleBar-AC4pGV .wordmarkWindows-1v0lYD {
  padding: 0 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--titlebar-height);
  margin-top: -3px;
}
#app-mount .titleBar-AC4pGV .wordmarkWindows-1v0lYD svg {
  display: none;
}
#app-mount .titleBar-AC4pGV .wordmarkWindows-1v0lYD:before {
  content: "Discord";
  font-size: var(--font-size);
  color: var(--text-default);
}
#app-mount .titleBar-AC4pGV .winButton-iRh8-Z {
  height: var(--titlebar-height);
  width: calc(var(--titlebar-height) * 1.5);
  top: -2px;
}

#app-mount {
  background: var(--background-color);
}
#app-mount .base-3dtUhz {
  border-radius: 0;
  border-left: 1px solid var(--border-color);
}
#app-mount .mention {
  background: rgba(var(--accent-colour), 0.15);
  border-radius: var(--border-radius);
  color: var(--accent-solid);
}
#app-mount .mention:hover {
  background: var(--accent-solid);
  color: #fff;
}
#app-mount .content-yTz4x3:before {
  content: none;
}

#app-mount .wrapper-3t9DeA * {
  overflow: visible;
  mask: none;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k {
  position: relative;
  z-index: 2;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="2.5"] {
  cy: -8;
  cx: -8.5;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="8.75"] {
  cy: -8;
  cx: -2.25;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="15"] {
  cy: -8;
  cx: 4;
}
#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
  x: 0;
  y: 0;
}
#app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
  x: -49;
  y: -53;
}
#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
#app-mount .wrapper-3t9DeA[style*="width: 80px;"][aria-label*=mobile] {
  position: relative;
  margin-bottom: 25px;
}
#app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect {
  width: 80px;
  height: 80px;
  rx: calc(var(--border-radius) * 1.5) !important;
  ry: calc(var(--border-radius) * 1.5) !important;
}
#app-mount .wrapper-3t9DeA[style*="width: 80px;"] img {
  border-radius: calc(var(--border-radius) * 1.5) !important;
}
#app-mount .wrapper-3t9DeA[style*="width: 80px;"][style*="width:80px;"]:after {
  top: auto;
  left: auto;
  bottom: -25px;
  right: 35%;
  transform: translateX(-50%);
}
#app-mount .wrapper-3t9DeA[style*="width: 40px;"] rect {
  rx: calc(var(--border-radius) / 1.5) !important;
  ry: calc(var(--border-radius) / 1.5) !important;
}
#app-mount .wrapper-3t9DeA[style*="width: 40px;"] img {
  border-radius: calc(var(--border-radius) / 1.5) !important;
}
#app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect {
  width: 32px;
  height: 32px;
  overflow: visible;
  x: -14.5;
  y: -17;
  rx: calc(var(--border-radius) / 2) !important;
  ry: calc(var(--border-radius) / 2) !important;
}
#app-mount .wrapper-3t9DeA[style*="width: 32px;"] img {
  border-radius: calc(var(--border-radius) / 2) !important;
}
#app-mount .wrapper-3t9DeA img {
  border-radius: var(--border-radius) !important;
}
#app-mount .wrapper-3t9DeA[aria-label*=mobile]:not([style*="width:80px;"]):before {
  content: "";
  background: linear-gradient(90deg, transparent, var(--bg4) 50%);
  height: 30px;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  right: -180px;
}
#app-mount .wrapper-3t9DeA[aria-label*=mobile]:after {
  content: "";
  -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZD0iTTE1LjUgMWgtOEM2LjEyIDEgNSAyLjEyIDUgMy41djE3QzUgMjEuODggNi4xMiAyMyA3LjUgMjNoOGMxLjM4IDAgMi41LTEuMTIgMi41LTIuNXYtMTdDMTggMi4xMiAxNi44OCAxIDE1LjUgMXptLTQgMjFjLS44MyAwLTEuNS0uNjctMS41LTEuNXMuNjctMS41IDEuNS0xLjUgMS41LjY3IDEuNSAxLjUtLjY3IDEuNS0xLjUgMS41em00LjUtNEg3VjRoOXYxNHoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==");
  -webkit-mask-size: 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  display: block;
  position: absolute;
  width: 12px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: -171px;
  background: var(--green);
  z-index: 1;
}
#app-mount .wrapper-3t9DeA rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  rx: var(--border-radius);
  ry: var(--border-radius);
  fill: transparent;
  stroke-width: 2px;
}
#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online] {
  stroke: var(--discord-green);
}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
  stroke: var(--discord-yellow);
}
#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd] {
  stroke: var(--discord-red);
}
#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[fill="rgba(89, 54, 149, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
  stroke: var(--discord-purple);
}
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[mask*=ivisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] {
  stroke: var(--discord-invisible);
}
#app-mount .wrapper-3t9DeA rect[x="16"] {
  width: 24px;
  height: 24px;
}
#app-mount .wrapper-3t9DeA rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}

.avatarHint-1qgaV3 foreignObject {
  mask: none;
}
.avatarHint-1qgaV3 .avatarHintInner-Dco91E {
  border-radius: var(--border-radius);
  padding-top: 0;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin-top: 1px;
  margin-left: 1px;
}

#app-mount .container-1r6BKw {
  background: var(--toolbar-background);
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--border-color);
  padding-left: 0;
  position: relative;
}
#app-mount .container-1r6BKw .children-19S4PO {
  flex: none;
  height: var(--toolbar-height);
  min-width: 230px;
  padding: var(--spacing);
  border-right: 1px solid var(--border-color);
}
#app-mount .container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 {
  margin: 0 var(--spacing) 0 0;
}
#app-mount .container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .icon-22AiRD {
  width: 16px;
  color: var(--text-default);
}
#app-mount .container-1r6BKw .children-19S4PO h3 {
  font-size: var(--font-size);
  font-weight: var(--font-weight-semibold);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#app-mount .container-1r6BKw .children-19S4PO h3:before {
  content: "Current Channel";
  margin-bottom: -5px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  line-height: normal;
  color: var(--text-muted);
}
#app-mount .container-1r6BKw .children-19S4PO .divider-3FBTu8 {
  display: none;
}
#app-mount .container-1r6BKw .children-19S4PO .topic-TCb_qw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#app-mount .container-1r6BKw .children-19S4PO .topic-TCb_qw a {
  display: none;
}
#app-mount .container-1r6BKw .children-19S4PO:after {
  content: none;
}
#app-mount .container-1r6BKw .children-19S4PO:hover {
  background: var(--toolbar-hover-background);
}
#app-mount .container-1r6BKw .toolbar-1t6TWx {
  height: var(--toolbar-height);
  padding: 0 var(--spacing);
  border-right: 1px solid var(--border-color);
}
#app-mount .container-1r6BKw .toolbar-1t6TWx .iconWrapper-2OrFZ1 {
  margin: 0 calc(var(--spacing) * 2) 0 0;
}
#app-mount .container-1r6BKw .toolbar-1t6TWx a .iconWrapper-2OrFZ1 {
  margin-right: 0;
}
#app-mount .container-1r6BKw .toolbar-1t6TWx .divider-3FBTu8 {
  display: none;
}
#app-mount .container-1r6BKw .topPill-30KHOu {
  height: var(--toolbar-height);
  border-left: 1px solid var(--border-color);
  margin-left: var(--spacing);
}
#app-mount .container-1r6BKw .topPill-30KHOu div {
  border-radius: 0;
  margin: 0;
  display: flex;
  align-items: center;
  background: transparent !important;
  color: var(--text-muted) !important;
  padding: 0 var(--spacing);
}
#app-mount .container-1r6BKw .topPill-30KHOu div:hover {
  background: var(--toolbar-hover-background) !important;
  color: var(--text-default) !important;
}
#app-mount .container-1r6BKw .topPill-30KHOu div.selected-3s45Ha {
  color: var(--text-focus) !important;
  background: var(--accent-solid) !important;
}
#app-mount .container-1r6BKw .topPill-30KHOu div[style="background-color: rgba(67, 181, 129, 0.2); color: rgb(67, 181, 129);"] {
  background: var(--discord-green) !important;
  color: var(--text-focus) !important;
}
#app-mount .container-1r6BKw .search-36MZv- {
  position: absolute;
  right: var(--spacing);
}
#app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 0 var(--spacing-sm);
  height: 27px;
  border-radius: var(--border-radius);
}

#app-mount .sidebar-2K8pFh {
  width: var(--sidebar-width);
  border-right: 1px solid var(--border-color);
  border-radius: 0;
}
#app-mount .sidebar-2K8pFh .container-PNkimc {
  background: var(--background-color);
}
#app-mount .sidebar-2K8pFh .hasBanner-14PPlG ~ .scrollerWrap-2lJEkd div[style*="width: 100%;"] {
  height: 135px !important;
}
#app-mount .sidebar-2K8pFh .animatedContainer-1pJv5C {
  top: 50px;
  box-shadow: none;
}
#app-mount .sidebar-2K8pFh .bannerImage-1jOskm {
  width: var(--sidebar-width);
  top: 0;
}
#app-mount .sidebar-2K8pFh .scroller-2FKFPG::-webkit-scrollbar {
  display: none;
}

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd {
  height: auto;
  position: relative;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd .content-3at_AU {
  margin: 0;
  padding: 0 var(--spacing);
  border-radius: 0;
  height: 34px;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd .content-3at_AU svg {
  color: var(--text-default);
  opacity: 0.75;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd .content-3at_AU .icon-1_QxNX {
  margin-right: var(--spacing);
  opacity: 0.75;
  height: 16px;
  width: auto;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd .content-3at_AU .name-3_Dsmg {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  color: var(--text-default);
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU {
  padding-left: 0;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .content-3xS9Lh {
  border-radius: 0;
  margin: 0;
  height: 100%;
  padding-left: calc(var(--spacing) * 2.5);
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns {
  border-radius: 0;
  height: 36px;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns .avatarContainer-2inGBK {
  margin-left: var(--spacing);
  border-radius: var(--border-radius);
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns .avatarContainer-2inGBK.avatarSpeaking-3MqCHL {
  box-shadow: none;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns .usernameSpeaking-2xbKKh {
  display: flex;
  align-items: center;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns .usernameSpeaking-2xbKKh:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-left: var(--spacing);
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M12 8.02c0 1.09-.45 2.09-1.17 2.83l-.67-.67c.55-.56.89-1.31.89-2.16 0-.85-.34-1.61-.89-2.16l.67-.67A3.99 3.99 0 0112 8.02zM7.72 2.28L4 6H2c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1h2l3.72 3.72c.47.47 1.28.14 1.28-.53V2.81c0-.67-.81-1-1.28-.53zm5.94.08l-.67.67a6.996 6.996 0 012.06 4.98c0 1.94-.78 3.7-2.06 4.98l.67.67A7.973 7.973 0 0016 8c0-2.22-.89-4.22-2.34-5.66v.02zm-1.41 1.41l-.69.67a5.05 5.05 0 011.48 3.58c0 1.39-.56 2.66-1.48 3.56l.69.67A5.971 5.971 0 0014 8.02c0-1.65-.67-3.16-1.75-4.25z"></path></svg>') center/cover no-repeat;
  background: currentColor;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns .icons-3q-_6z {
  margin-right: var(--spacing);
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns.selected-3TGCSZ .username-lm8y6T {
  color: #fff !important;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd + .list-2bwCXU .voiceUser-14U_Ns.selected-3TGCSZ .usernameSpeaking-2xbKKh:after {
  background: #fff;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd .unread-3zKkbm {
  border-radius: 0;
  width: 2px;
  height: 40%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  background: var(--accent-solid);
  transition: 0.2s ease;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU svg, #app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg {
  color: var(--text-focus);
  opacity: 1;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeUnread-1zpFdA:hover .unread-3zKkbm {
  height: 100%;
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeMuted-3osy7j .content-3at_AU svg, #app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeMuted-3osy7j .content-3at_AU .name-3_Dsmg {
  opacity: 0.75;
  color: var(--text-muted);
}
#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU svg, #app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .name-3_Dsmg {
  opacity: 1;
  color: var(--text-focus);
}

#app-mount .sidebar-2K8pFh .container-2Rl01u.selected-WP3kCM .header-2o-2hj {
  background: var(--background-color);
}
#app-mount .sidebar-2K8pFh .header-2o-2hj {
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--toolbar-background);
  height: var(--toolbar-height);
  padding: var(--spacing);
  transition: none;
  filter: none;
}
#app-mount .sidebar-2K8pFh .header-2o-2hj .guildIconContainer-E1JUVt {
  margin-right: var(--spacing);
}
#app-mount .sidebar-2K8pFh .header-2o-2hj h1 {
  font-size: var(--font-size);
  font-weight: var(--font-weight-semibold);
}
#app-mount .sidebar-2K8pFh .header-2o-2hj h1:before {
  display: block;
  content: "Current Server";
  margin-bottom: -5px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--text-muted);
}
#app-mount .sidebar-2K8pFh .header-2o-2hj .button-1w5pas {
  transform-origin: center;
  transition: none;
  position: absolute;
  margin: 0;
  right: var(--spacing);
  top: calc(var(--toolbar-height) / 2 - 2px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--text-default);
}
#app-mount .sidebar-2K8pFh .header-2o-2hj .button-1w5pas g {
  display: none;
}
#app-mount .sidebar-2K8pFh .header-2o-2hj .button-1w5pas.open-1Te94t {
  transform: rotate(180deg);
}
#app-mount .sidebar-2K8pFh .header-2o-2hj:hover {
  background: var(--toolbar-hover-background);
}

#app-mount .panels-j1Uci_ {
  background: var(--account-panel-background-color);
  border-top: 1px solid var(--border-color);
}
#app-mount .panels-j1Uci_ .container-1giJp5 {
  border: none;
  padding: var(--spacing) var(--spacing) 0;
  position: relative;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .inner-tyMogq > div {
  display: flex;
  align-items: center;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi > div {
  display: none;
  position: absolute;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  height: 34px;
  margin-top: 1px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  z-index: 1;
  width: calc(100% - var(--spacing) * 6 + 2px);
  right: var(--spacing);
  overflow: visible;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi > div button {
  text-align: center;
  width: 100%;
  height: 100%;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi > div button:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
}
#app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi > div:before {
  content: "";
  height: 100%;
  width: 12px;
  display: block;
  position: absolute;
  left: -12px;
  z-index: 1;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi svg {
  width: 24px;
  height: 24px;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi + a {
  display: none;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi:hover > div, #app-mount .panels-j1Uci_ .container-1giJp5 .rtcConnectionStatus-2-jIsi:hover > a {
  display: block;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .horizontal-1ae9ci {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  width: calc(100% - var(--spacing) * 4);
}
#app-mount .panels-j1Uci_ .container-1giJp5 .horizontal-1ae9ci button {
  border-radius: 0;
  flex: 1;
}
#app-mount .panels-j1Uci_ .container-1giJp5 .horizontal-1ae9ci button:hover {
  background: rgba(255, 255, 255, 0.05);
}
#app-mount .panels-j1Uci_ .container-3baos1 {
  padding: 0 var(--spacing);
}
#app-mount .panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy {
  display: none;
}
#app-mount .panels-j1Uci_ .container-3baos1 .wrapper-3t9DeA {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
#app-mount .panels-j1Uci_ .container-3baos1 .avatarWrapper-2yR4wp {
  margin-right: 0;
}
#app-mount .panels-j1Uci_ .container-3baos1 .horizontal-1ae9ci {
  margin-left: var(--spacing);
  width: 100%;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
#app-mount .panels-j1Uci_ .container-3baos1 .horizontal-1ae9ci button {
  flex: 1;
  border-radius: 0;
}
#app-mount .panels-j1Uci_ .container-3baos1 .horizontal-1ae9ci button:hover {
  background: rgba(255, 255, 255, 0.05);
}

#app-mount .sidebar-2K8pFh .unread-1s3J68 {
  padding: 0;
  height: auto;
}
#app-mount .sidebar-2K8pFh .unread-1s3J68 .bar-30k2ka {
  border-radius: 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--accent-solid);
  opacity: 1;
  height: auto;
  box-shadow: none;
  padding: var(--spacing) 0;
}
#app-mount .sidebar-2K8pFh .unread-1s3J68 .bar-30k2ka:before {
  content: none;
}

#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ {
  padding: var(--spacing) 0 calc(var(--spacing) / 2);
}
#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5 {
  color: var(--text-default);
}
#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5 svg, #app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS {
  color: var(--text-default);
}
#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS {
  text-transform: none;
}
#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5.muted-1NRuDm {
  color: var(--text-muted);
}
#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5.muted-1NRuDm svg, #app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ .wrapper-CU3qI5.muted-1NRuDm .name-IbjUBS {
  color: var(--text-muted);
}

#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 {
  background: var(--toolbar-background);
  border-bottom: 1px solid var(--border-color);
  height: calc(var(--toolbar-height) - 1px);
  box-shadow: none;
}
#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 button {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: calc(var(--spacing) / 2) var(--spacing);
  height: auto;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}
#app-mount .privateChannels-1nO12o .header-zu8eWb {
  padding: var(--spacing);
  height: auto;
}
#app-mount .privateChannels-1nO12o .scroller-1JbKMe {
  background: var(--background-color);
}
#app-mount .privateChannels-1nO12o .scroller-1JbKMe > div[style*="height: 8px"] {
  display: none;
}
#app-mount .privateChannels-1nO12o .scroller-1JbKMe .channel-2QD9_O {
  margin: 0;
  max-width: 100%;
  padding: 0;
}
#app-mount .privateChannels-1nO12o .scroller-1JbKMe .channel-2QD9_O .layout-2DM8Md {
  border-radius: 0;
  padding: 0 var(--spacing);
}
#app-mount .privateChannels-1nO12o .scroller-1JbKMe .channel-2QD9_O .name-uJV0GL {
  font-size: var(--font-size-lg);
}
#app-mount .privateChannels-1nO12o .scroller-1JbKMe .channel-2QD9_O .activityText-OW8WYb {
  font-size: var(--font-size-sm);
}
#app-mount .privateChannels-1nO12o .scroller-1JbKMe .channel-2QD9_O .wrapper-3t9DeA {
  width: 26px !important;
  height: 26px !important;
}

#app-mount .guilds-1SWlCJ .scroller-2TZvBN {
  background: var(--background-color);
}
#app-mount .guilds-1SWlCJ .listItem-2P_4kh:first-child .childWrapper-anI2G9 {
  background: transparent;
}
#app-mount .guilds-1SWlCJ .homeIcon-tEMBK1 {
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 16 16" version="1.1" fill="#ffffff" aria-hidden="true"><path fill-rule="evenodd" d="M15 1H6c-.55 0-1 .45-1 1v2H1c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h1v3l3-3h4c.55 0 1-.45 1-1V9h1l3 3V9h1c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zM9 11H4.5L3 12.5V11H1V5h4v3c0 .55.45 1 1 1h3v2zm6-3h-2v1.5L11.5 8H6V2h9v6z"/></svg>') center/cover no-repeat;
  background: var(--text-default);
  width: 70%;
  height: 70%;
}
#app-mount .guilds-1SWlCJ .homeIcon-tEMBK1 path {
  display: none;
}
#app-mount .guilds-1SWlCJ .guildSeparator-3s64Iy {
  height: 1px;
  background-color: var(--border-color);
}
#app-mount .guilds-1SWlCJ .childWrapper-anI2G9 {
  background: var(--server-icon);
}
#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig {
  background: var(--server-icon);
  color: var(--text-default);
}
#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig.selected-ugP_am {
  background-color: var(--accent-solid);
  color: #fff;
}
#app-mount .guilds-1SWlCJ foreignObject {
  mask: none;
}
#app-mount .guilds-1SWlCJ .expandedFolderBackground-2sPsd- {
  background: var(--server-icon);
}
#app-mount .guilds-1SWlCJ .wrapper-25eVIn {
  border-radius: var(--border-radius);
  overflow: hidden;
}
#app-mount .guilds-1SWlCJ .folderIconWrapper-226oVY,
#app-mount .guilds-1SWlCJ .guildIcon-GuAC7C,
#app-mount .guilds-1SWlCJ [class*=pill] span,
#app-mount .guilds-1SWlCJ .expandedFolderBackground-2sPsd-,
#app-mount .guilds-1SWlCJ .guildIconUnavailable-5PMHDN,
#app-mount .guilds-1SWlCJ .iconBadge-2NuvG9,
#app-mount .guilds-1SWlCJ .guildsError-b7zR5H,
#app-mount .guilds-1SWlCJ .numberBadge-2s8kKX {
  border-radius: var(--border-radius);
}

#app-mount .chat-3bRxxu {
  background: var(--main-background);
}

#app-mount .messages-3amgkR {
  background: var(--main-background);
  overflow: hidden;
}
#app-mount .messages-3amgkR::-webkit-scrollbar {
  width: 12px;
  display: none;
  background: transparent;
  border-left: 1px solid var(--border-color);
}
#app-mount .messages-3amgkR::-webkit-scrollbar-track-piece {
  background: transparent;
  border-color: transparent;
}
#app-mount .messages-3amgkR::-webkit-scrollbar-thumb {
  border-style: solid;
  border-color: transparent;
  border-left-width: 4px;
  border-right-width: 3px;
  background-clip: padding-box;
  background-color: var(--channel-scrollbar);
}
#app-mount .messages-3amgkR:hover {
  overflow: overlay;
}
#app-mount .messages-3amgkR:hover::-webkit-scrollbar {
  display: block;
}
#app-mount .messages-3amgkR:after {
  content: none;
}

#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 {
  margin: 0;
  padding: 0;
  background: transparent !important;
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6.groupStart-23k01U {
  border-top: 1px solid var(--border-color);
  margin-top: var(--spacing);
  padding-top: var(--spacing);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .avatar-1BDn8e {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  width: 26px !important;
  height: 26px !important;
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .avatar-1BDn8e:hover {
  border-color: var(--accent-solid);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .attachment-33OFj0,
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 code,
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .wrapper-35wsBm {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 code, #app-mount .messagesWrapper-3lZDfY .message-2qnXI6 pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .embedFull-2tM8-- {
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color) !important;
  border-right: 1px solid var(--border-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .embedFull-2tM8-- .embedTitle-3OXDkz,
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .embedFull-2tM8-- .embedDescription-1Cuq9a {
  font-size: var(--font-size);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .username-1A8OIy {
  font-size: var(--font-size-lg);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .timestampCozy-1HNQR2 {
  font-size: var(--font-size-sm);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .markupRtl-3M0hmN {
  font-size: var(--font-size);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .markupRtl-3M0hmN .emoji {
  width: calc(var(--font-size) * 1.6);
  height: calc(var(--font-size) * 1.6);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .markupRtl-3M0hmN .emoji.jumboable {
  width: calc(var(--font-size) * 4);
  height: calc(var(--font-size) * 4);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6:last-child .container-3FojY8 {
  padding-bottom: calc(var(--spacing) + 5px);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .operations-36ENbA {
  font-size: 0px;
  margin-top: var(--spacing);
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .operations-36ENbA a {
  font-size: var(--font-size);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing) / 2);
  margin-right: var(--spacing);
  color: var(--accent-solid);
  text-decoration: none;
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6 .operations-36ENbA a:hover {
  background: var(--accent-solid);
  color: #fff;
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6.cozyMessage-3V1Y8y .header-23xsNx {
  margin-left: -68px;
  padding-left: 58px;
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6.cozyMessage-3V1Y8y .container-1ov-mD {
  margin-left: -10px;
}
#app-mount .messagesWrapper-3lZDfY .message-2qnXI6.cozyMessage-3V1Y8y .markupRtl-3M0hmN {
  margin-left: -10px;
}
#app-mount .messagesWrapper-3lZDfY .newMessagesBar-mujexs {
  left: 0;
  right: 0;
  border-radius: 0;
  background: var(--accent-solid);
  border-bottom: 1px solid var(--border-color);
  box-shadow: none;
}
#app-mount .messagesWrapper-3lZDfY .hasMore-3e72_v {
  margin: 0;
  box-shadow: none;
  background: var(--background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
}
#app-mount .messagesWrapper-3lZDfY .divider-JfaTT5 {
  height: auto;
  margin: var(--spacing) 0 0;
  padding: var(--spacing) 0;
  border-top: 1px solid var(--border-color);
  background: var(--background-color);
}
#app-mount .messagesWrapper-3lZDfY .divider-JfaTT5 .content-1o0f9g {
  background: transparent;
  color: var(--text-muted);
}
#app-mount .messagesWrapper-3lZDfY .divider-JfaTT5 + .groupStart-23k01U {
  margin-top: 0;
}
#app-mount .messagesWrapper-3lZDfY .divider-JfaTT5.isUnread-3Ef-o9 {
  border-bottom: 1px solid var(--border-color);
}
#app-mount .messagesWrapper-3lZDfY .divider-JfaTT5.isUnread-3Ef-o9 .unreadPill-2HyYtt {
  position: unset;
  background: transparent;
  color: var(--discord-red);
}
#app-mount .messagesWrapper-3lZDfY .divider-JfaTT5.isUnread-3Ef-o9 .unreadPill-2HyYtt svg {
  display: none;
}
#app-mount .messagesWrapper-3lZDfY .divider-JfaTT5.isUnread-3Ef-o9 + .groupStart-23k01U {
  margin-top: calc(var(--spacing) - 4px);
}
#app-mount .messagesWrapper-3lZDfY .mentioned-xhSam7 {
  background: var(--background-mentioned) !important;
}
#app-mount .messagesWrapper-3lZDfY .scrollableContainer-2NUZem {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
#app-mount .messagesWrapper-3lZDfY .scrollableContainer-2NUZem .markup-2BOw-j {
  font-size: var(--font-size);
}
#app-mount .messagesWrapper-3lZDfY .scrollableContainer-2NUZem .emojiButton-3uL3Aw {
  transform: scale(0.75);
}

#app-mount .form-2fGMdU {
  margin: 0;
  padding: var(--spacing);
  border-top: 1px solid var(--border-color);
  min-height: 53px;
  display: flex;
  align-items: center;
  background: var(--main-background);
}
#app-mount .form-2fGMdU:before {
  content: none;
}
#app-mount .form-2fGMdU .attachWrapper-2TRKBi {
  border-color: var(--border-color);
}
#app-mount .form-2fGMdU .attachWrapper-2TRKBi button {
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 12 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8.5 1H1a1 1 0 00-1 1v12a1 1 0 001 1h10a1 1 0 001-1V4.5L8.5 1zM11 14H1V2h3v1h1V2h3l3 3v9zM5 4V3h1v1H5zM4 4h1v1H4V4zm1 2V5h1v1H5zM4 6h1v1H4V6zm1 2V7h1v1H5zM4 9.28A2 2 0 003 11v1h4v-1a2 2 0 00-2-2V8H4v1.28zM6 10v1H4v-1h2z"></path></svg>') center/20px no-repeat;
  background: var(--text-muted);
  width: 44px;
  height: 44px;
}
#app-mount .form-2fGMdU .attachWrapper-2TRKBi button div {
  display: none;
}
#app-mount .form-2fGMdU .channelTextArea-rNsIhG {
  margin-bottom: 0;
  background-color: var(--background-color);
}
#app-mount .form-2fGMdU .placeholder-37qJjk {
  font-size: var(--font-size);
  padding: calc(var(--spacing) + 2px);
}
#app-mount .form-2fGMdU .scrollableContainer-2NUZem {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
#app-mount .form-2fGMdU .textAreaSlate-1ZzRVj {
  height: 40px;
}
#app-mount .form-2fGMdU .slateTextArea-1Mkdgw {
  padding: calc(var(--spacing) + 2px);
}
#app-mount .form-2fGMdU .markup-2BOw-j {
  font-size: var(--font-size);
}
#app-mount .form-2fGMdU .buttons-3JBrkn {
  height: 44px;
}
#app-mount .form-2fGMdU .buttons-3JBrkn button {
  transform: scale(0.75);
  transform-origin: center right;
}
#app-mount .form-2fGMdU .charCounter-7fw40k.charcounter {
  font-size: var(--font-size-sm);
}
#app-mount .form-2fGMdU .typing-2GQL18 {
  opacity: 0.5;
  bottom: unset;
  left: var(--spacing);
  top: -6px;
}
#app-mount .form-2fGMdU .typing-2GQL18 svg {
  display: none;
}
#app-mount .form-2fGMdU .typing-2GQL18 .text-1y-e8- {
  font-size: var(--font-size-sm);
  margin-left: 0;
}

#app-mount .members-1998pB {
  width: var(--sidebar-width);
  border-left: 1px solid var(--border-color);
  background: var(--background-color);
}
#app-mount .members-1998pB::-webkit-scrollbar {
  display: none;
}

#app-mount .members-1998pB .membersGroup-v9BXpm {
  padding: var(--spacing);
  height: auto;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: none;
}

#app-mount .members-1998pB .member-3-YXUe {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
#app-mount .members-1998pB .member-3-YXUe .layout-2DM8Md {
  border-radius: 0;
  height: 44px;
}
#app-mount .members-1998pB .member-3-YXUe .layout-2DM8Md .avatar-3uk_u9 {
  margin-right: var(--spacing);
}
#app-mount .members-1998pB .member-3-YXUe .layout-2DM8Md .name-uJV0GL {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  color: var(--text-default);
}
#app-mount .members-1998pB .member-3-YXUe .layout-2DM8Md .wrapper-3t9DeA {
  width: 26px !important;
  height: 26px !important;
}
#app-mount .members-1998pB .member-3-YXUe .layout-2DM8Md .activity-2Gy-9S {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--text-muted);
}
#app-mount .members-1998pB .member-3-YXUe.selected-aXhQR6 .activity-2Gy-9S,
#app-mount .members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0 {
  color: #fff !important;
}

#app-mount .container-1D34oG {
  background: var(--main-background);
}
#app-mount .container-1D34oG .children-19S4PO {
  padding-right: 0;
}
#app-mount .container-1D34oG .children-19S4PO:hover {
  background: transparent;
}
#app-mount .container-1D34oG .tabBody-3YRQ8W:before {
  content: none;
}
#app-mount .container-1D34oG .scroller-2FKFPG {
  overflow: hidden;
}
#app-mount .container-1D34oG .scroller-2FKFPG::-webkit-scrollbar {
  width: 12px;
  display: none;
  background: transparent;
  border-left: 1px solid var(--border-color);
}
#app-mount .container-1D34oG .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background: transparent;
  border-color: transparent;
}
#app-mount .container-1D34oG .scroller-2FKFPG::-webkit-scrollbar-thumb {
  border-style: solid;
  border-color: transparent;
  border-left-width: 4px;
  border-right-width: 3px;
  background-clip: padding-box;
  background-color: var(--channel-scrollbar);
}
#app-mount .container-1D34oG .scroller-2FKFPG:hover {
  overflow: overlay;
}
#app-mount .container-1D34oG .scroller-2FKFPG:hover::-webkit-scrollbar {
  display: block;
}
#app-mount .container-1D34oG .title-30qZAO {
  margin: 0;
  padding: var(--spacing);
  border-bottom: 1px solid var(--border-color);
}
#app-mount .container-1D34oG .peopleListItem-2nzedh {
  border-top: none;
  border-bottom: 1px solid var(--border-color);
  margin: 0;
  padding: var(--spacing);
  border-radius: 0;
  height: auto !important;
}
#app-mount .container-1D34oG .peopleListItem-2nzedh .userInfo-2zN2z8 {
  overflow: visible;
}
#app-mount .container-1D34oG .peopleListItem-2nzedh .discordTag-2_tqUA {
  overflow: visible;
}
#app-mount .container-1D34oG .peopleListItem-2nzedh .username-31C1TQ {
  font-size: var(--font-size-lg);
  overflow: visible;
}
#app-mount .container-1D34oG .peopleListItem-2nzedh .discriminator-22Okc1 {
  font-size: var(--font-size-sm);
  color: var(--text-muted);
  visibility: visible;
  margin-left: 5px;
}
#app-mount .container-1D34oG .peopleListItem-2nzedh .text-3MU_QQ {
  font-size: var(--font-size);
}
#app-mount .container-1D34oG .peopleListItem-2nzedh .actionButton-uPB8Fs {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-focus);
}
#app-mount .container-1D34oG .peopleListItem-2nzedh:hover {
  background: var(--main-background-hover);
}
#app-mount .container-1D34oG .sectionHeader-20RGqu {
  border-bottom-color: var(--border-color);
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d {
  padding: var(--spacing);
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d h2 {
  margin: 0;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d .description-1EvxpH {
  display: none;
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d .wrapper-1cBijl {
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  margin: var(--spacing) 0 0 0;
  padding: 0;
  height: 46px;
  overflow: hidden;
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d .wrapper-1cBijl input {
  font-size: var(--font-size-lg);
  padding-left: var(--spacing);
  height: 100%;
  margin-right: 0;
  border-right: 1px solid var(--border-color);
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d .wrapper-1cBijl .addFriendHint-3Y70FX {
  height: 100%;
  font-size: var(--font-size-lg);
  top: -2px;
  left: var(--spacing);
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d .wrapper-1cBijl button {
  height: 100%;
  border-radius: 0;
  background: transparent;
  transition: none;
}
#app-mount .container-1D34oG .sectionHeader-20RGqu .addInputWrapper-1BOZ3d .wrapper-1cBijl button:not([disabled]):hover {
  background: var(--accent-solid);
}
#app-mount .container-1D34oG .nowPlayingColumn-2sl4cE {
  border-left: 1px solid var(--border-color);
  background: var(--background-color);
}
#app-mount .container-1D34oG .wrapper-3D2qGf {
  background: var(--now-playing-background);
  border: 1px solid var(--border-color);
}
#app-mount .container-1D34oG .wrapper-3D2qGf .separator-XqIyoz {
  background-color: var(--border-color);
}
#app-mount .container-1D34oG .wrapper-3D2qGf .inset-3sAvek {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

#app-mount .container-3Mxszk {
  background: var(--main-background);
}
#app-mount .container-3Mxszk .container-19hC9u:before {
  content: none;
}
#app-mount .container-3Mxszk .children-19S4PO {
  padding-right: 0;
}
#app-mount .container-3Mxszk .children-19S4PO:hover {
  background: transparent;
}
#app-mount .container-3Mxszk .scroller-1IIF0A {
  background: var(--main-background);
  overflow: hidden;
}
#app-mount .container-3Mxszk .scroller-1IIF0A::-webkit-scrollbar {
  width: 12px;
  display: none;
  background: transparent;
  border-left: 1px solid var(--border-color);
}
#app-mount .container-3Mxszk .scroller-1IIF0A::-webkit-scrollbar-track-piece {
  background: transparent;
  border-color: transparent;
}
#app-mount .container-3Mxszk .scroller-1IIF0A::-webkit-scrollbar-thumb {
  border-style: solid;
  border-color: transparent;
  border-left-width: 4px;
  border-right-width: 3px;
  background-clip: padding-box;
  background-color: var(--channel-scrollbar);
}
#app-mount .container-3Mxszk .scroller-1IIF0A:hover {
  overflow: overlay;
}
#app-mount .container-3Mxszk .scroller-1IIF0A:hover::-webkit-scrollbar {
  display: block;
}
#app-mount .container-3Mxszk .searchBar-TUoVPN {
  background: var(--background-color);
  border: 1px solid var(--border-color);
}
#app-mount .container-3Mxszk .header-39GIC8 {
  padding: var(--spacing);
  background: var(--main-background);
  border-bottom-color: var(--border-color);
  width: 100%;
}
#app-mount .container-3Mxszk .rowWrapper-2fB6P0 {
  margin: 0;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  padding-bottom: 0;
}
#app-mount .container-3Mxszk .rowWrapper-2fB6P0 .bodyCell-9xKjWE {
  padding: var(--spacing);
}
#app-mount .container-3Mxszk .rowWrapper-2fB6P0:hover {
  background: var(--main-background-hover);
}
#app-mount .container-3Mxszk .scroller-2XE8rp {
  background-color: var(--main-background);
}

#app-mount .applicationStore-1pNvnv .scrollerWrap-2lJEkd:before {
  content: none;
}
#app-mount .applicationStore-1pNvnv .scroller-9moviB {
  background-color: var(--main-background);
}
#app-mount .applicationStore-1pNvnv .detailsBlock-FoDTGA {
  background: var(--background-color);
  border: 1px solid var(--border-color);
}

#app-mount [id*=popout_][style*=top][style*=left] .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 {
  transform: none !important;
  transition: none !important;
}
#app-mount [id*=popout_][style*=top][style*=left] .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 {
  padding: 0;
  border-radius: 0;
  margin-left: -20px;
  margin-top: -8px;
  width: var(--sidebar-width);
  box-shadow: none;
  height: 100vh;
  background: var(--background-color);
}
#app-mount [id*=popout_][style*=top][style*=left] .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .item-1GzJrl {
  margin: 0;
  padding: var(--spacing);
  border-radius: 0;
}
#app-mount [id*=popout_][style*=top][style*=left] .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .item-1GzJrl:first-child {
  color: var(--discord-nitro);
}
#app-mount [id*=popout_][style*=top][style*=left] .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .separator-2zcjq8 {
  display: none;
}
#app-mount [id*=popout_][style*=top][style*=left] .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 241px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  pointer-events: none;
}

#app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
  transform: none !important;
  transition: none !important;
}
#app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 {
  background: var(--background-color);
  width: var(--sidebar-width);
  box-shadow: none;
  margin-left: -10px;
  margin-bottom: -5px;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid var(--border-color);
}
#app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .statusItem-2uzPIV, #app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .item-1GzJrl {
  margin: 0;
  padding: var(--spacing);
  border-radius: 0;
}
#app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .statusItem-2uzPIV.itemActive-2V2HNc, #app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .item-1GzJrl.itemActive-2V2HNc {
  background: var(--accent-solid);
  color: #fff;
}
#app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .statusItem-2uzPIV .customStatusContentIcon-2sionu, #app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .item-1GzJrl .customStatusContentIcon-2sionu {
  margin-left: 0;
}
#app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .statusItem-2uzPIV .statusIconText-3b4TkH, #app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .menu-Sp6bN1 .item-1GzJrl .statusIconText-3b4TkH {
  height: auto;
}
#app-mount [id*=popout_][style*=bottom][style*=left] .animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 .separator-2zcjq8 {
  display: none;
}

#app-mount .userPopout-3XzG_A {
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--background-color);
}
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN {
  background: var(--userpopout-header);
}
#app-mount .userPopout-3XzG_A .headerTextNormal-2mGWX3,
#app-mount .userPopout-3XzG_A .activityName-1IaRLn,
#app-mount .userPopout-3XzG_A .textRow-19NEd_ {
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
}
#app-mount .userPopout-3XzG_A .bodyInner-245q0L {
  background: var(--userpopout-body);
}
#app-mount .userPopout-3XzG_A .bodyInner-245q0L .role-2irmRk {
  border-radius: var(--border-radius);
}
#app-mount .userPopout-3XzG_A .bodyInner-245q0L .role-2irmRk .roleCircle-3xAZ1j {
  border-radius: var(--border-radius);
}
#app-mount .userPopout-3XzG_A .bodyInner-245q0L .bodyTitle-Y0qMQz {
  font-size: var(--font-size-sm);
  color: var(--text-default);
  font-weight: var(--font-weight-normal);
}
#app-mount .userPopout-3XzG_A .bodyInner-245q0L .note-3HfJZ5 {
  margin-left: 0;
}
#app-mount .userPopout-3XzG_A .bodyInner-245q0L .note-3HfJZ5 textarea {
  background: var(--userpopout-textbox);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-size: var(--font-size);
  padding: var(--spacing);
  line-height: normal;
  height: 38px !important;
}
#app-mount .userPopout-3XzG_A .bodyInner-245q0L .note-3HfJZ5 textarea::placeholder {
  color: var(--text-muted);
}
#app-mount .userPopout-3XzG_A .footer-1fjuF6 {
  background: var(--userpopout-body);
  border: none;
  padding: 0;
  margin: 0;
}
#app-mount .userPopout-3XzG_A .footer-1fjuF6 input {
  background: var(--userpopout-textbox);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-size: var(--font-size);
  padding: var(--spacing);
  line-height: normal;
  width: calc(100% - 20px);
  margin: 0 var(--spacing) var(--spacing);
}
#app-mount .userPopout-3XzG_A .footer-1fjuF6 input::placeholder {
  color: var(--text-muted);
}
#app-mount .userPopout-3XzG_A .footer-1fjuF6 .protip-YaFfgO {
  display: none;
}