@import url('https://gibbubdstuff.github.io/Slate/base.css');
.toolbar-1t6TWx::after {
  content: "This version of Slate is no longer receiving updates.\APlease redownload from: github.com/GibbuBDStuff/Slate";
  white-space: pre;
  font-size: var(--font-size-sm);
  color: var(--text-muted);
  opacity: .6;
  position: absolute;
  left: 465px;
  line-height: 15px;
}