/**
 * @name Slate
 * @author Gibbu#1211 & Tropical#8908
 * @version 1.0.0
 * @invite TeRQEPb
 * @description Github Desktop meets Discord
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/Slate
 * @website https://www.gibbu.me
*/

@import url("https://gibbu.github.io/BetterDiscord-Themes/Slate/base.css");
@import url("https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css");

:root {

  --accent: 3, 102, 214; /* This affects: Mentions, select channel/dm, unread channel */
  --accent-hover: 17, 83, 157; /* Hover state of --accent */
  --chat-font-size: 12px; /* Font size for chat | DEAFULT: 12px; */

  /* Adjustable Server Width variables  */
  --server-icon-size: 35px; /* Size of the server icons | DEFAULT: 35px */
  --server-icon-spacing: 8px; /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
  --server-container-padding: 10px; /* Spacing to the left and right sides of server icons | DEFAULT: 10px */

}
