/*! //META {"name": "zHorizontal Scroll - Horizontal Server List", "description": "Moves the server list from the left to the top of Discord. Also allows for adjusting the size of the server icons.", "author": "Gibbu", "version": "1.1"} #{'*'}//**/
:root {
    --HSL-size: 55px;
    --HSL-spacing: 10px;
    --HSL-roundness: 50%;
    --HSL-roundnessHover: 20%;
}

#app-mount .base-3dtUhz {
    border-radius: 0;
    margin-top: calc(var(--HSL-size) + 20px);
    position: absolute !important;
    transition: 0.3s ease;
    transition-delay: 0.3s;
    left: 0 !important;
}

.wrapper-1Rf91z {
    position: absolute !important;
    height: 100vw;
    width: calc(var(--HSL-size) + 20px);
    transform: rotate(-90deg);
    top: calc(var(--HSL-size) + 20px);
    transform-origin: top left;
    z-index: 999;
    .scrollerWrap-2lJEkd {
        height: 150vh;
        .scroller-2FKFPG {
            > div[style*="height: 56px;"] {
                .listItem-2P_4kh {
                    margin: -10px 0 var(--HSL-spacing) 10px !important;
                    position: relative;
                    top: 10px;
                }
            }
            .bd-guild-separator {
                margin: -30px 0 var(--HSL-spacing) 10px !important;
                position: relative;
                top: 15px;
                .guildSeparator-3s64Iy {
                    height: var(--HSL-size);
                    width: 2px;
                }
            }
            .listItem-2P_4kh {
                transform: rotate(90deg);
                width: var(--HSL-size);
                height: var(--HSL-size);
                margin: 0 0 var(--HSL-spacing) 10px;
                div[class*='pill'] {
                    top: -10px;
                    width: 100%;
                    height: 3px;
                    left: 50%;
                    transform: translate(-50%, 0) !important;
                    transition: 0.2s ease;
                    span {
                        height: 3px !important;
                        width: 100%;
                        margin-left: 0;
                        border-radius: 0 0 3px 3px;
                        transform: none !important;
                        transition: 0.2s ease;
                        transform: scale(0,1);
                    }
                    // Not hovered
                    @for $i from 0 through 8 {
                        span[style*="height: #{$i}"] {
                            transform: scale(0.25,1) !important;
                        }
                    }
                    // Hovered
                    @for $i from 9 through 20 {
                        span[style*="height: #{$i}"] {
                            transform: scale(0.5,1) !important;
                        }
                    }
                    // Selected
                    @for $i from 21 through 40 {
                        span[style*="height: #{$i}"] {
                            transform: scale(1,1) !important;
                        }
                    }
                }
                .svg-1X37T1, .wrapper-25eVIn {
                    height: var(--HSL-size);
                    width: var(--HSL-size);
                }
                &:first-child {
                    margin-top: 5px;
                }
            }
            .guildsError-b7zR5H {
                height: 100%;
                width: 100%;
            }
        }
    }
    [class*="unreadMentionsIndicator"] {
        display: none;
    }
    .RANbutton-frame {
        width: 45px !important;
        transform: rotate(90deg) translateY(5px) !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .wrapper-21YSNc {
        display: block;
    }
    .expandedFolderBackground-2sPsd- {
        left: 50%;
        transform: translateX(calc(-50% + 1px));
        width: calc(var(--HSL-size) + 1px);
    }
    .expandedGuilds-1JMD4M {
        height: auto !important;
        animation: folder 0.2s ease forwards;
        transform-origin: top center;
    }
    &.foldercontent {
        top: calc(var(--HSL-size) * 2 + 40px);
        left: 0 !important;
        transition-delay: 0.6s !important;
        &.foldercontentclosed {
            transition-delay: 0s !important;
        }
    }
}

@keyframes folder {
    0% {transform: scale(1,0)}
    100% {transform: scale(1,1)}
}


// ServerFolders fix
body.foldercontentopened .base-3dtUhz {
    margin-top: calc(var(--HSL-size) * 2 + 40px) !important;
}

// Frosted Glass & SimplyDark windows buttons fixed
#app-mount .winButton-iRh8-Z {
    margin-top: var(--HSL-btns);
    transition: 0.3s margin-top ease;
}
body.foldercontentopened #app-mount .winButton-iRh8-Z {
    margin-top: var(--HSL-btns-SF-opened);
}