#app-mount .members-1998pB .member-3-YXUe {
  padding: 0;
  margin: 0;
  max-width: 100%;
  .layout-2DM8Md {
    border-radius: 0;
    .avatar-3uk_u9 {
      margin-right: var(--spacing);
    }
    .name-uJV0GL {
      font-size: var(--font-size);
      font-weight: var(--font-weight-normal);
      color: var(--text-default);
    }
    .wrapper-3t9DeA {
      width: 26px !important;
      height: 26px !important;
    }
  }
  &.selected-aXhQR6 {
    .activity-2Gy-9S,
    .roleColor-rz2vM0 {
      color: #fff !important;
    }
  }
}