#app-mount {
  .channelName-1QajIf {
    background: transparent;
  }
  .channelSeparator-1X1FuH:before,
  .searchResult-3pzFAB:after,
  .searchResult-3pzFAB:before {
    content: none;
  }
  .searchResultMessage-2VxO12 {
    background: var(--background-secondary);
    border-radius: 3px;
    padding: 5px 0;
    &.hit-NLlWXA {
      box-shadow: 0 0 15px 5px var(--background-secondary), 0 0 15px 5px var(--background-secondary);
    }
    &.before-1x1q5S {
      margin-bottom: 0;
    }
    &.after-2g0jjc {
      margin-top: 0;
    }
  }
}