#app-mount .guilds-1SWlCJ {
  border-right: 1px solid var(--border-colour);
  box-sizing: border-box;
  .scroller-2TZvBN {
    background: var(--background);
    contain: none;
    padding-top: var(--toolbar-height);
  }
  // Home button
  .tutorialContainer-1v44GL .childWrapper-anI2G9 {
    background: transparent !important;
  }
  .tutorialContainer-1v44GL {
    [class*=pill] {
      display: none;
    }
    .wrapper-25eVIn {
      display: flex;
      align-items: center;
      height: var(--toolbar-height);
    }
    .listItem-2P_4kh {
      margin-bottom: 0;
    }
    .svg-1X37T1 {
      height: var(--toolbar-height);
      width: 32px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .homeIcon-tEMBK1 {
    -webkit-mask: url($icon_home) center/cover no-repeat;
    background: var(--text-default);
    width: 70%;
    height: 70%;
    transition: 150ms ease;
    path {
      display: none;
    }
  }
  .selected-bZ3Lue .homeIcon-tEMBK1 {
    background: var(--text-focus);
  }
  .guildSeparator-3s64Iy {
    background: var(--border-colour);
    height: 1px;
  }
  .childWrapper-anI2G9 {
    background: var(--background-light);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-light);
  }
  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background: var(--accent-solid);
    color: var(--text-focus);
  }
  .circleIconButton-jET_ig {
    background: var(--background-light);
    color: var(--text-default);
    &.selected-ugP_am {
      background-color: var(--accent-solid);
      color: #fff;
    }
  }
  foreignObject {
    mask: none;
  }
  .expandedFolderBackground-2sPsd- {
    background: var(--background-light);
  }
  .wrapper-25eVIn {
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  .expandedFolderBackground-2sPsd-,
  .folderIconWrapper-226oVY,
  .guildIcon-GuAC7C,
  .guildIconUnavailable-5PMHDN,
  .guildsError-b7zR5H,
  .iconBadge-2NuvG9,
  .numberBadge-2s8kKX {
    border-radius: var(--border-radius);
  }
  [class*="pill"] span {
    border-radius: 0;
    max-height: 75%;
    background: var(--text-muted);
    width: 7px;
  }
}

.theme-light {
  #app-mount .guilds-1SWlCJ {
    .childWrapper-anI2G9 {
      background:var(--background-dark);
    }
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
      color: var(--white);
    }
  }
}
