#app-mount .form-2fGMdU {
  margin: 0;
  padding: var(--spacing);
  border-top: 1px solid var(--border-colour);
  min-height: 53px;
  display: flex;
  align-items: center;
  background: var(--main-background);
  &:before {
    content: none;
  }

  [aria-controls] {
    width: 100%;
  }

  // Attach files
  .attachWrapper-2TRKBi {
    border-right: 1px solid var(--border-colour);
    button {
      -webkit-mask: url($icon_upload) center/20px no-repeat;
      background: var(--text-muted);
      width: 44px;
      height: 44px;
      transition: 0.1s ease;
      div {
        display: none;
      }
      &:hover {
        background: var(--text-focus);
      }
    }
  }

  // No attachment
  .sansAttachButton-td2irx {
    padding-left: 0;
  }

  //
  .channelTextArea-rNsIhG {
    margin-bottom: 0;
    background-color: var(--background-colour);
  }
  .placeholder-37qJjk {
    font-size: var(--font-size);
    padding: calc(var(--spacing) + 2px);
  }
  .scrollableContainer-2NUZem {
    background-color: var(--background-colour);
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
  }
  .textAreaSlate-1ZzRVj {
    height: 40px;
  }
  .slateTextArea-1Mkdgw {
    padding: calc(var(--spacing) + 2px);
  }
  .markup-2BOw-j {
    font-size: var(--font-size);
  }
  .buttons-3JBrkn {
    height: 44px;
    button {
      transform: scale(0.75);
      transform-origin: center right;
    }
  }

  .button-318s1X {
    margin-left: 0;
  }

  // DevilBro CharCounter
  .charCounter-7fw40k.charcounter {
    font-size: var(--font-size-sm);
    color: var(--text-muted);
    opacity: .4;
    bottom: -11px;
    right: 1px;
  }

  // Users typing
  .typing-2GQL18 {
    opacity: 1;
    bottom: unset;
    left: var(--spacing);
    top: -6px;
    svg {
      display: none;
    }
    .text-1y-e8- {
      font-size: var(--font-size-sm);
      margin-left: 0;
    }
  }

}