#app-mount .chat-3bRxxu {
  background: var(--background-alt);

  // Message spacing
  .scrollerSpacer-avRLaA {
    display: none;
  }
  // Old messages
  .jumpToPresentBar-G1R9s6 {
    opacity: 1;
    left: 0;
    right: 0;
    border-radius: 0;
    padding: 0;
    min-height: auto;
    border-top: 1px solid var(--border-colour);
    background: var(--background-light);
    button {
      padding: var(--spacing-half) var(--spacing);
      height: auto;
      color: var(--text-focus);
      font-size: var(--font-size);
      line-height: inherit;
      & > svg {
        display: none;
      }
    }
    &:active {
      margin: 0;
    }
  }
  // New messages
  .newMessagesBar-265mhP {
    left: 0;
    right: 0;
    border-radius: 0;
    background: var(--background-light);
    border-bottom: 1px solid var(--border-colour);
    box-shadow: none;
    opacity: 1;
    padding: var(--spacing-half) var(--spacing);
    min-height: auto;
    cursor: default;
    button {
      font-size: 12px;
      padding: 0;
      color: var(--text-normal);
      font-weight: var(--font-weight-normal);
      height: auto;
      line-height: normal;
      cursor: default;
    }
    .barButtonAlt-3gIkIj {
      font-size: 0;
      svg {
        margin: 0;
        color: rgb(var(--discord-yellow));
        path {
          d: path($path_warning);
          transform: scale(1.35) translateY(2px);
        }
      }
    }
  }
  // Load more messages
  .hasMore-3e72_v {
    margin: 0;
    box-shadow: none;
    background: var(--background);
    border-top: 1px solid var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
    border-radius: 0;
  }
}
#app-mount .messages-3amgkR {
  background: var(--background-alt);
  .scrollerSpacer-1Rp0XE {
    height: 0;
  }
  // Welcome Message
  .container-3zqIcM {
    padding: var(--spacing) var(--spacing) 0;
  }
}



// .scrollerInner-2YIMLh > .message-2qnXI6 {
//   display: none;
// }