#app-mount .chat-3bRxxu {
  background: var(--background-alt);

  // Message spacing
  .scrollerSpacer-avRLaA {
    display: none;
  }
  // Old messages
  .jumpToPresentBar-G1R9s6 {
    opacity: 1;
    left: 0;
    right: 0;
    border-radius: 0;
    padding: 0;
    min-height: auto;
    border-top: 1px solid var(--border-colour);
    background: var(--background-light);
    button {
      padding: var(--spacing-half) var(--spacing);
      height: auto;
      color: var(--text-focus);
      font-size: var(--font-size);
      line-height: inherit;
      & > svg {
        display: none;
      }
    }
    &:active {
      margin: 0;
    }
  }
  // New messages
  .newMessagesBar-265mhP {
    left: 0;
    right: 0;
    border-radius: 0;
    background: var(--background-light);
    border-bottom: 1px solid var(--border-colour);
    box-shadow: none;
    opacity: 1;
    padding: var(--spacing-half) var(--spacing);
    min-height: auto;
    cursor: default;
    button {
      font-size: 12px;
      padding: 0;
      color: var(--text-normal);
      font-weight: var(--font-weight-normal);
      height: auto;
      line-height: normal;
      cursor: default;
    }
    .barButtonAlt-3gIkIj {
      font-size: 0;
      svg {
        margin: 0;
        color: rgb(var(--discord-yellow));
        path {
          d: path($path_warning);
          transform: scale(1.35) translateY(2px);
        }
      }
    }
  }
  // Load more messages
  .hasMore-3e72_v {
    margin: 0;
    box-shadow: none;
    background: var(--background);
    border-top: 1px solid var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
    border-radius: 0;
  }
}
#app-mount .messagesWrapper-1sRNjr {
  background: var(--background-alt);  
  .scrollerSpacer-1Rp0XE {
    height: 0;
  }
  // Welcome Message
  .container-3zqIcM {
    padding: var(--spacing-double) var(--spacing-double) 0;
    .hasDivider-20M1le {
      border:none;
    }
    .inner-3GZ54g {
      max-width:600px;
      &:before {
        content:'';
        width:100%;
        height:200px;
        background:var(--text-muted);
        -webkit-mask: url($illustration_3) center/50% no-repeat;
      }
      .titleName-3-Lp3Z {
        font-size:var(--font-size-xxl);
        font-weight:var(--font-weight-ultralight);
        p:first-child {
          display:none;
        }
      }
      .cardWrapper-2R6-SX {
        .card-3RzMcx {
          margin:0;
          border-radius:0;
          background:transparent;
          border:1px solid var(--border-colour);
          border-top:none;
          padding:var(--spacing-double);
          .arrow-3bRNiS {
            color:var(--text-muted);
          }
          &:hover .arrow-3bRNiS {
            color:var(--text-normal);
          }
          .checkmark-3rush5 {
            background:transparent;
            padding:0;
            color:rgb(var(--discord-green));
          }
          .icon-2ou77m {
            display:none;
          }
          .cardHeader-2Wz67Q {
            margin:0;
            font-size:var(--font-size);
            font-weight:var(--font-weight-semibold);
          }
        }
        &:nth-child(2) .card-3RzMcx {
          border-top:1px solid var(--border-colour);
          border-radius:3px 3px 0 0;
        }
        &:last-child .card-3RzMcx {
          border-radius:0 0 3px 3px;
        }
      }
    }
  }
}



// .scrollerInner-2YIMLh > .message-2qnXI6 {
//   display: none;
// }