#app-mount .messagesWrapper-3lZDfY {
  .message-2qnXI6 {
    margin: 0;
    padding-left: calc(var(--avatar-size) * 1.9);
    padding-bottom: var(--spacing);
    background: transparent !important;
    .avatar-1BDn8e {
      border-radius: var(--border-radius);
      border: 1px solid var(--border-colour);
      top: var(--spacing);
      left: var(--spacing);
      width: var(--avatar-size) !important;
      height: var(--avatar-size) !important;
      &:hover {
        border-color: var(--accent-solid);
      }
    }
    .username-1A8OIy {
      font-size: var(--font-size-lg);
    }
    .timestampCozy-1HNQR2 {
      font-size: var(--font-size-sm);
    }
    .markup-2BOw-j {
      font-size: var(--font-size);
      margin-left: 0;
      padding-left: 0;
      .emoji {
        width: calc(var(--font-size) * 1.6);
        height: calc(var(--font-size) * 1.6);
        &.jumboable {
          width: calc(var(--font-size) * 4);
          height: calc(var(--font-size) * 4);
        }
      }
    }
    &:last-child {
      padding-bottom: calc(var(--spacing) + 5px);
    }
    .operations-36ENbA {
      font-size: 0px;
      margin-top: var(--spacing);
      a {
        font-size: var(--font-size);
        background: var(--background-colour);
        border: 1px solid var(--border-colour);
        border-radius: var(--border-radius);
        padding: calc(var(--spacing) / 2);
        margin-right: var(--spacing);
        color: var(--accent-solid);
        text-decoration: none;
        &:hover {
          background: var(--accent-solid);
          color: #fff;
        }
      }
    }
    & + .message-2qnXI6:not(.groupStart-23k01U) {
      margin-top: calc(var(--spacing) / -1);
    }
  }
  .groupStart-23k01U {
    border-top: 1px solid var(--border-colour);
    padding-top: var(--spacing);
    h2, .username-1A8OIy, .timestamp-3ZCmNB {
      line-height: normal;
    }
  }

  .mentioned-xhSam7 {
    background: rgba(var(--accent), 0.1) !important;
    &:before {
      background-color: var(--accent-solid);
    }
  }

  // Edit message
  .scrollableContainer-2NUZem {
    background-color: var(--background-colour);
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    .markup-2BOw-j {
      font-size: var(--font-size);
    }
    .emojiButton-3uL3Aw {
      transform: scale(0.75);
    }
  }
}

#app-mount {
  .zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: visible;
  }
  .attachment-33OFj0,
  code,
  .wrapper-35wsBm {
    border: 1px solid var(--border-colour);
    background-color: var(--background-colour);
  }
  code, pre {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size);
  }
  .embedFull-2tM8-- {
    background-color: var(--background-colour);
    border-top: 1px solid var(--border-colour) !important;
    border-right: 1px solid var(--border-colour) !important;
    border-bottom: 1px solid var(--border-colour) !important;
    .embedTitle-3OXDkz,
    .embedDescription-1Cuq9a {
      font-size: var(--font-size);
    }
  }
}