#app-mount .messagesWrapper-3lZDfY {
  .message-2qnXI6 {
    margin: 0;
    padding: 0;
    background: transparent !important;
    &.groupStart-23k01U {
      border-top: 1px solid var(--border-color);
      margin-top: var(--spacing);
      padding-top: var(--spacing);
    }
    .attachment-33OFj0,
    code,
    .wrapper-35wsBm {
      border: 1px solid var(--border-color);
      background-color: var(--background-color);
    }
    .embedFull-2tM8-- {
      background-color: var(--background-color);
      border-top: 1px solid var(--border-color) !important;
      border-right: 1px solid var(--border-color) !important;
      border-bottom: 1px solid var(--border-color) !important;
    }
    .username-1A8OIy {
      font-size: var(--font-size);
    }
    .markupRtl-3M0hmN {
      font-size: var(--font-size);
      .emoji {
        width: calc(var(--font-size) * 1.6);
        height: calc(var(--font-size) * 1.6);
      }
    }
  }

  .divider-JfaTT5 {
    height: auto;
    margin: var(--spacing) 0 0;
    padding: var(--spacing) 0;
    border-top: 1px solid var(--border-color);
    background: var(--background-color);
    .content-1o0f9g {
      background: transparent;
      color: var(--text-muted);
    }
    & + .groupStart-23k01U {
      margin-top: 0;
    }
    &.isUnread-3Ef-o9 {
      border-bottom: 1px solid var(--border-color);
      .unreadPill-2HyYtt {
        position: unset;
        background: transparent;
        color: var(--discord-red);
        svg {
          display: none;
        }
      }
      & + .groupStart-23k01U {
        margin-top: calc(var(--spacing) - 4px);
      }
    }
  }


  .mentioned-xhSam7 {
    background: var(--background-mentioned) !important;
  }
}