#app-mount {
  .message-2qnXI6 {
    background: transparent !important;
  }
  .timestamp-3ZCmNB {
    font-size: calc(var(--font-size-sm) - 2px);
    height: auto;
    display:flex;
    align-items:center;
  }

  .cozy-3raOZG {
    margin: 0;
    padding-left: calc(var(--avatar-size) + var(--spacing) * 2);
    padding-bottom: var(--spacing);
    .container-1ov-mD {
      max-width: 100%;
      overflow: hidden;
      padding-bottom:var(--spacing);
    }
    .avatar-1BDn8e {
      border-radius: calc(var(--border-radius) / 1.5);
      box-shadow: 0 0 0 1px var(--border-colour);
      top: var(--spacing);
      left: var(--spacing);
      width: var(--avatar-size) !important;
      height: var(--avatar-size) !important;
      transition: 100ms ease box-shadow;
      &:hover {
        box-shadow: 0 0 0 1px var(--accent-solid);
      }
    }

    .header-23xsNx {
      align-items: center;
      display: flex;
      min-height:unset;
    }

    .emoji {
      width: calc(var(--font-size) * 1.6);
      height: calc(var(--font-size) * 1.6);
      &.jumboable {
        width: calc(var(--font-size) * 4);
        height: calc(var(--font-size) * 4);
      }
    }

    // Quick actions
    .operations-36ENbA {
      font-size: 0px;
      margin-top: var(--spacing);
      a {
        font-size: var(--font-size);
        background: var(--background-colour);
        border: 1px solid var(--border-colour);
        border-radius: var(--border-radius);
        padding: calc(var(--spacing) / 2);  
        margin-right: var(--spacing);
        color: var(--accent-solid);
        text-decoration: none;
        &:hover {
          background: var(--accent-solid);
          color: #fff;
        }
      }
    }

    // Timestamps
    .latin24CompactTimeStamp-2V7XIQ {
      width: 55px;
      margin: 0;
      text-align: center;
    }

    & + .message-2qnXI6:not(.groupStart-23k01U) {
      margin-top: calc(var(--spacing) / -1);
    }
    &:last-child {
      padding-bottom: calc(var(--spacing) + 5px);
    }
  }
  .compact-T3H92H {
    .emoji {
      width: calc(var(--font-size) * 1.6);
      height: calc(var(--font-size) * 1.6);
      &.jumboable {
        width: calc(var(--font-size) * 2);
        height: calc(var(--font-size) * 2);
      }
    }
  }



  .groupStart-23k01U {
    border-top: 1px solid var(--border-colour);
    padding-top: var(--spacing);
    padding-bottom:0;
    h2, .username-1A8OIy, .timestamp-3ZCmNB {
      line-height: normal;
    }
  }

  .username-1A8OIy {
    font-size: var(--chat-font-size);
    color:var(--text-default);
    margin:0;
  }
  .timestampCozy-1HNQR2 {
    font-size: var(--chat-font-size);
  }

  // Message text
  .markup-2BOw-j {
    font-size: var(--chat-font-size);
    margin-left: 0;
    padding-left: 0;
  }


  .mentioned-xhSam7 {
    background: rgba(var(--accent), 0.1) !important;
    &:before {
      background-color: var(--accent-solid);
    }
  }

  // Reactions
  .reaction-1hd86g {
    background: var(--background-colour);
    &.reactionMe-wv5HKu {
      background: rgba(var(--accent), 0.2);
      .reactionCount-2mvXRV {
        color: var(--accent-solid);
      }
    }
  }

  // Quick actions
  .wrapper-2aW0bm {
    background: var(--background-colour);
    border: 1px solid var(--border-colour);
    box-shadow: none;
    height: 24px;
  }
  .button-1ZiXG9 {
    height: 22px;
    padding: 0;
    width: auto;
  }
  .icon-3Gkjwa {
    width: 14px;
    height: 14px;
  }

  // Edit message
  .scrollableContainer-2NUZem {
    background-color: var(--background-colour);
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    .slateTextArea-1Mkdgw {
      padding: calc(var(--spacing) + 2px);
    }
    .emojiButton-3uL3Aw {
      transform: scale(0.75);
    }
  }
}

#app-mount {
  .zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: visible;
  }
  .attachment-33OFj0,
  code,
  .wrapper-35wsBm {
    border: 1px solid var(--border-colour);
    background-color: var(--background-colour);
  }
  code, pre {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size);
  }
  pre {
    padding-bottom:var(--spacing);
  }
  .embedFull-2tM8-- {
    background-color: var(--background-colour);
    border-top: 1px solid var(--border-colour) !important;
    border-right: 1px solid var(--border-colour) !important;
    border-bottom: 1px solid var(--border-colour) !important;
    .embedTitle-3OXDkz,
    .embedDescription-1Cuq9a {
      font-size: var(--chat-font-size);
    }
  }
}