/**
 * @name RadialStatus
 * @author Gibbu#1211
 * @version 1.0.0
 * @description Changes the status dot to go around the user's avatar. Temporary fix until Zerebos updates his.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/RadialStatus
 * @website
*/

:root {
    --rs-small-spacing: 2px; /* spacing between avatar and status */
    --rs-large-spacing: 3px; /* spacing between avatar and status for user popouts & modals/profiles */
    --rs-width: 2px; /* Width/thickness of status border */

    --rs-online-color: #43b581; /* color for online status */
    --rs-idle-color: #faa61a; /* color for idle status */
    --rs-dnd-color: #f04747; /* color for dnd status */
    --rs-offline-color: #636b75; /* color for offline status */
    --rs-invisible-color: #747f8d; /* color for invisible status - Note this will only show for your own invisibility */
    --rs-streaming-color: #643da7; /* color for streaming status */
}

// @import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");

#app-mount {
    .wrapper-3t9DeA {
        * {
            overflow: visible;
            mask: none;
        }
        .dots-3Bkt3k {
            position: relative;
            z-index: 2;
            [cx="2.5"] {
                cy: -8;
                cx: -8.5;
            }
            [cx="8.75"] {
                cy: -8;
                cx: -2.25;
            }
            [cx="15"] {
                cy: -8;
                cx: 4;
            }
        }
        .mask-1l8v16 > rect[x="22"] {
            x: 0;
            y: 0;
        }
        .cursorDefault-dsQJ1n rect {
            x: -49;
            y: -53;
        }
        .pointerEvents-2zdfdO[x="14.5"] {
            fill: rgba(0,0,0,0.5);
            width: 30px;
            height: 30px;
            x: 1;
            y: 1;
        }
        &[style*="width: 80px;"] {
            position: relative;
            margin-right: 0 !important;
            img {
                clip-path: circle(calc(39px - var(--rs-large-spacing)));
            }
            rect {
                width: 80px;
                height: 80px;
            }
            &[style*="width: 80px;"]:after {
                left: unset;
                right: -2px;
                top: unset;
                bottom: -2px;
                transform: none;
            }
        }
        &[style*="width: 32px;"] {
            img {
                clip-path: circle(calc(15px - var(--rs-small-spacing)));
            }
            rect {
                width: 32px;
                height: 32px;
                overflow: visible;
                x: -14.5;
                y: -17;
            }
        }
        img {
            border-radius: 50%;
        }
        &[aria-label*="mobile"] {
            margin-right: 20px;
            &:after {
                content: "";
                -webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4gICAgPHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMzQgMi4wMkwxNCAyYy0yLjIxIDAtNCAxLjc5LTQgNHYzNmMwIDIuMjEgMS43OSA0IDQgNGgyMGMyLjIxIDAgNC0xLjc5IDQtNFY2YzAtMi4yMS0xLjc5LTMuOTgtNC0zLjk4ek0zNCAzOEgxNFYxMGgyMHYyOHoiLz48L3N2Zz4=');
                -webkit-mask-size: 16px;
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-position: center;
                display: block;
                position: absolute;
                width: 12px;
                height: 16px;
                top: 50%;
                transform: translateY(-50%);
                left: 37px;
                background: var(--rs-online-color);
                z-index: 1;
            }
            ~ .memberInner-2CPc3V .nameTag-m8r81H .username-2b1r56 {
                max-width: 168px;
            }
        }
        rect {
            x: 0;
            y: 0;
            width: 100%;
            height: 100%;
            rx: 200%;
            ry: 200%;
            fill: transparent;
            stroke-width: var(--rs-width);
            &[fill="#43b581"], &[fill="rgba(67, 181, 129, 1)"], &[mask*="online"] {
                stroke: var(--rs-online-color);
            }
            &[fill="#faa61a"], &[fill="rgba(250, 166, 26, 1)"], &[mask*="idle"] {
                stroke: var(--rs-idle-color);
            }
            &[fill="#f04747"], &[fill="rgba(240, 71, 71, 1)"], &[mask*="dnd"] {
                stroke: var(--rs-dnd-color);
            }
            &[fill="#593695"], &[mask*="streaming"] {
                stroke: var(--rs-streaming-color);
            }
            &[fill="#747f8d"], &[mask*="offline"] {
                stroke: var(--rs-offline-color);
            }
            &[mask*="invisible"], &[fill="rgba(116, 127, 141, 1)"] {
                stroke: var(--rs-invisible-color);
            }
            &[x="16"] {
                width: 24px;
                height: 24px;
            }
            &[x="28"] {
                width: 40px;
                height: 40px;
                overflow: visible;
            }
        }
    }
    .avatarHint-1qgaV3 {
        foreignObject {
            mask: none;
        }
        .avatarHintInner-Dco91E {
            border-radius: 50% !important;
        }
    }
    .message-1PNnaP .mask-1l8v16 img {
        clip-path: circle(calc(19px - var(--rs-small-spacing)));
    }
    .memberOffline-2lN7gt img {
        clip-path: none !important;
    }
    .header-QKLPzZ .wrapper-3t9DeA {
        margin-right: 20px !important;
    }
}
