:root {
  --accent: 3, 102, 214;
  --link-colour: 0, 186, 255;
  --chat-font-size: 12px;
  --server-icon-size: 35px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;
}

.theme-light {
  --border-colour: #e1e4e8;
  --secondary-border-color: #d1d5da;
  --text-default: #24292e;
  --text-muted: #6a737d;
  --text-focus: #000000;
  --text-opacity: 0, 0, 0;
  --background-light: #f6f8fa;
  --background-alt: #ffffff;
  --background: #ffffff;
  --background-dark: #ebeef1;
  --white: #ffffff;
  --input-height: 25px;
  --checkbox-background: #ddd;
  --checkbox-border: #bbb;
  --checkbox-tick: #444;
  --checkbox-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  --userpopout-button-hover: rgba(0, 0, 0, 0.05);
  --scrollbar-background: rgb(0 0 0 / 0.3);
  --scrollbar-background-hover: rgb(0 0 0 / 0.4);
  --scrollbar-background-active: rgb(0 0 0 / 0.5);
  --background-modifier-hover: #f2f2f2;
  --background-modifier-active: #e5e5e5;
  --background-modifier-selected: var(--accent-solid);
  --syntax-blue: #79b8ff;
  --syntax-purple: #b392f0;
  --syntax-grey: #6a737d;
  --syntax-grey-alt: #24292e;
  --syntax-orange: #ffab70;
  --syntax-green: #56b6c2;
}

.theme-dark {
  --border-colour: #141414;
  --text-normal: #d1d5da;
  --text-muted: #959da5;
  --text-focus: #ffffff;
  --text-opacity: 255, 255, 255;
  --background-light: #2f363d;
  --background-gradient-light: #3f4953;
  --background: #24292e;
  --background-alt: #2a3036;
  --background-dark: #1d2125;
  --white: #ffffff;
  --input-height: 25px;
  --checkbox-background: #fff;
  --checkbox-border: #bbb;
  --checkbox-tick: #444;
  --checkbox-box-shadow: none;
  --userpopout-button-hover: rgba(255, 255, 255, 0.03);
  --scrollbar-background: rgb(255 255 255 / 0.1);
  --scrollbar-background-hover: rgb(255 255 255 / 0.2);
  --scrollbar-background-active: rgb(255 255 255 / 0.3);
  --background-modifier-hover: var(--background-light);
  --background-modifier-active: #444d56;
  --background-modifier-selected: var(--accent-solid);
  --syntax-blue: #79b8ff;
  --syntax-purple: #b392f0;
  --syntax-grey: #959da5;
  --syntax-grey-alt: #d1d5da;
  --syntax-orange: #ffab70;
  --syntax-green: #56b6c2;
}

:root {
  --slate-version: "Slate 1.0.9";
  --border-radius: 3px;
  --button-border-radius: 2px;
  --accent-solid: rgba(var(--accent), 1);
  --bd-blue: var(--accent-solid);
  --bd-blue-hover: rgb(var(--accent));
  --text-link: rgb(var(--link-colour, var(--accent)));
  --noasw-base: var(--container, 72px);
  --noasw-channel-header: var(--container, 0px);
  --spacing-third: calc(var(--spacing) / 3);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-sm: 8px;
  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-xsm: calc(var(--font-size) - 3px);
  --font-size-sm: calc(var(--font-size) - 1px);
  --font-size: 16px;
  --font-size-lg: calc(var(--font-size) + 2px);
  --font-size-xl: calc(var(--font-size) + 4px);
  --font-size-xxl: 62px;
  --line-height-sm: 1;
  --line-height: 1.5;
  --topbar-background: #1d2125;
  --topbar-background-hover: #2f363d;
  --topbar-header-selected: #24292e;
  --topbar-border: #141414;
  --font-weight-ultralight: 300;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --titlebar-height: 28px;
  --toolbar-height: 50px;
  --toolbar-icon-default: #d1d5da;
  --toolbar-icon-focus: #ffffff;
  --toolbar-text-normal: #d1d5da;
  --toolbar-text-muted: #959da5;
  --toolbar-text-focus: #ffffff;
  --toolbar-search-background: #1a1b1e;
  --toolbar-search-border: #141414;
  --item-height: 34px;
  --sidebar-width: 260px;
  --member-height: 42px;
  --channel-height: 32px;
  --avatar-size-xsm: 18px;
  --avatar-size-sm: 24px;
  --avatar-size: 28px;
  --avatar-size-lg: 45px;
  --avatar-size-xlg: 64px;
  --backdrop: rgb(0 0 0 / 0.4);
  --elevation-1: 0 8px 24px rgba(0, 0, 0, 0.15);
  --elevation-2: 0 2px 7px rgba(12, 7, 7, 0.7);
  --discord-green: 40, 167, 69;
  --discord-yellow: 219, 171, 9;
  --discord-red: 215, 58, 73;
  --discord-purple: 89, 54, 149;
  --discord-invisible: 117, 128, 142;
  --discord-nitro: 255, 115, 250;
  --discord-blurple: 114, 137, 218;
  --discord-spotify: 29, 185, 84;
  --discord-twitch: 89, 54, 149;
  --bd-blue: var(--accent-solid);
  --bd-blue-hover: var(--accent-solid-hover);
  --blurple: var(--accent-solid);
  --rs-small-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-width: 2px;
  --rs-avatar-shape: 5%;
  --rs-online-color: rgb(var(--discord-green));
  --rs-idle-color: rgb(var(--discord-yellow));
  --rs-dnd-color: rgb(var(--discord-red));
  --rs-offline-color: #636b75;
  --rs-streaming-color: rgb(var(--discord-twitch));
  --rs-invisible-color: rgb(var(--discord-invisible));
  --tip-box-background: rgba(3, 102, 214, 0.06);
  --tip-box-border: #c8e1ff;
}

@keyframes modal {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  1005 {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contextMenu {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: none;
    opacity: .5;
  }
  50% {
    transform: translateY(-15%);
    opacity: .3;
  }
  100% {
    transform: none;
    opacity: .5;
  }
}

/* Global styles */
button {
  outline:none;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(var(--background), var(--background-gradient-light));
  font-family: var(--font-family-sans-serif);
}
h1 {
  margin: 0;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-normal);
  color: var(--text-normal);
}
p {
  margin: 0;
  font-size: var(--font-size);
  color: var(--text-muted);
}
.button {
  cursor: default;
  text-decoration: none;
  user-select: none;
  line-height: normal;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  padding: var(--spacing-half) var(--spacing-double);
  border-radius: var(--button-border-radius);
  display: flex;
  align-items: center;
  position: relative;
}
.button.primary {
  background: rgb(var(--accent));
  color: var(--white);
  border: 1px solid rgb(var(--accent));
}
.button.primary:hover {
  box-shadow: inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.button.primary:focus {
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.button.secondary {
  background: var(--background-light);
  border: 1px solid var(--border-colour);
  color: var(--text-normal);
}
.button.secondary:hover {
  border-color: currentColor;
}
.button.secondary:focus {
  border-color: currentColor;
  box-shadow: 0 0 0 1px currentColor;
}
.fadeIn {
  animation: fadeIn .5s ease;
}

/* Container */
#container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
}

/* Main container */
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.main {
  flex: 1;
  padding: calc(var(--spacing) * 6);
  padding-bottom: calc(var(--spacing) * 6 + 40px);
}
.title {
  font-weight: var(--font-weight-ultralight);
  color: var(--text-normal);
}
.description {
  max-width: 550px;
  margin: 10px 0 20px;
}
.btns {
  display: flex;
  align-items: stretch;
}
.btns .primary {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.dropdown {
  position: relative;
  margin-right: var(--spacing);
  display: flex;
}
.dropdown-btn {
  height: 100%;
  padding: 0 var(--spacing);
  background: rgb(var(--accent));
  border: none;
  border-left: 1px solid var(--border-colour);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  color: var(--white);
}
.dropdown-btn svg {
  pointer-events: none;
}
.dropdown-btn.dropdown-visible svg {
  transform: rotate(180deg);
}
.dropdown-btn:hover {
  box-shadow: inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.dropdown-btn:focus {
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255,255,255,0.1);
}
.dropdown-menu {
  display: none;
  position: absolute;
  background: var(--background);
  border: 1px solid var(--border-colour);
  top: 40px;
  z-index: 2;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  animation: contextMenu 350ms ease;
}
.dropdown-menu.visible {
  display: block;
}
.dropdown-item {
  padding: var(--spacing);
  font-size: var(--font-size-xsm);
  color: var(--text-normal);
  font-weight: var(--font-weight-normal);
  display: flex;
  text-decoration: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-item.soon {
  opacity: .5;
  pointer-events: none;
}
.dropdown-item.soon:after {
  content: "Soon";
  background: rgb(var(--accent));
  padding: var(--spacing-third) var(--spacing-half);
  font-size: 10px;
  color: var(--white);
  border-radius: var(--border-radius);
}
.dropdown-item:hover {
  background: var(--background-modifier-hover);
}
.dropdown-item:active {
  background: var(--background-modifier-active);
}

/* Preview */
.preview {
  width: 55vw;
  position: relative;
  right: -35%;
}
.preview-img {
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  display: block;
  width: 100%;
  user-select: none;
  transition: box-shadow .15s ease;
}
.preview-img:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.preview-visible .preview {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  background: var(--backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.preview-visible .preview-img {
  animation: modal 250ms ease;
  height: 90vh;
  width: auto;
}
.preview-visible #container {
  z-index: 3;
}

/* Footer */
.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: var(--background-light);
  padding: 0 var(--spacing);
  height: 40px;
  border-top: 1px solid var(--border-colour);
}
.footer p {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xsm);
  color: var(--text-normal);
}
.footer a {
  color: rgb(var(--accent));
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
#theme {
  -webkit-appearance: none;
  top: -20px;
  right: var(--spacing);
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius);
  background: var(--accent-solid);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 0;
}
#theme:focus {
  box-shadow: 0 0 0 3px rgba(var(--accent), 0.25), inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
}

/* Deco art */
#deco {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
}
#deco > div {
  position: absolute;
}
.deco-1 {
  display: block;
  width: 20%;
  height: 25%;
  bottom: 0;
  opacity: .5;
  animation-delay: 2s;
  animation: float 15s ease infinite forwards;
  background: url('https://gibbu.github.io/BetterDiscord-Themes/Slate/assets/illustrations/12.svg') center/contain no-repeat;
}
.deco-2 {
  display: block;
  position: absolute;
  width: 45%;
  height: 40%;
  z-index: 0;
  opacity: .5;
  background: url('https://gibbu.github.io/BetterDiscord-Themes/Slate/assets/illustrations/9.svg') center/contain no-repeat;
}
.deco-3 {
  display: block;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 60%;
  z-index: 0;
  opacity: .5;
  background: url('https://gibbu.github.io/BetterDiscord-Themes/Slate/assets/illustrations/11.svg') center/contain no-repeat;
}

/* Theme specific classes */
/* Dark theme */
.theme-dark .light-enabled {
  display: none;
}

/* Light theme */
.theme-light .dark-enabled {
  display: none;
}
.theme-light .button.secondary:hover {
  background: var(--background);
  border: 1px solid var(--secondary-border-color);
}
.theme-light .button.secondary:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid var(--secondary-border-color) !important;
}