#app-mount .autocomplete-1vrmpx {
  background: var(--background-colour);
  border-radius: 0;
  border-top: 1px solid var(--border-colour);
  left: -10px;
  right: -10px;
  bottom: calc(100% + 15px);
  box-shadow: none;
  .autocompleteInner-zh20B_ {
    padding-bottom: 0;
  }
  .autocompleteRow-2OthDa {
    padding: 0;
    border-radius: 0;
  }
  .selector-2IcQBU {
    border-radius: 0;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    height: var(--item-height);
    &.selectorSelected-1_M1WV {
      background: var(--background-modifier-hover);
    }
  }
  .contentTitle-2tG_sM {
    color: var(--text-default);
  }
  .marginLeft4-3VaXdt {
    font-size: var(--font-size-lg);
    color: var(--text-focus);
  }
  .description-11DmNu {
    font-size: var(--font-size);
    color: var(--text-muted);
  }
}