#app-mount .contextMenu-HLZMGh {
  background: var(--background-colour);
  box-shadow: none;
  border: 1px solid var(--border-colour);
  padding: 0;
  .itemBase-tz5SeC {
    margin: 0;
    padding: var(--spacing-half) var(--spacing);
    box-sizing: border-box;
  }
}