#app-mount .contextMenu-HLZMGh {
  background: var(--background);
  box-shadow: none;
  border: 1px solid var(--border-colour);
  padding: 0;
  border-radius: var(--border-radius);
  max-width:280px;
  box-shadow:var(--elevation-1);
  & > .itemBase-tz5SeC:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  & > .itemBase-tz5SeC:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  .wrapper-35dUTv {
    display: none;
    & + .itemBase-tz5SeC {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }
  .itemGroup-1tL0uz {
    border-color: var(--border-colour);
    border-radius: 0;
    &:first-child .itemBase-tz5SeC:first-child {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
    &:last-child .itemBase-tz5SeC:last-child {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
  }
  .itemBase-tz5SeC:not(.itemSlider-FZeYw0),
  .itemSubMenu-1vN_Yns {
    font-size: var(--font-size);
    color:var(--text-normal);
    margin: 0;
    padding: var(--spacing-half) var(--spacing);
    box-sizing: border-box;
    border-radius: 0;
    height:32px;
    cursor:default;
    &.disabled-2xniQf {
      color:var(--text-muted);
    }
    &.danger-2dXSTE {
      color: rgb(var(--discord-red));
    }
    .caret-UIZBlm {
      -webkit-mask: url($icon_context_submenu_arrow) center/16px no-repeat;
      transform:none;
      background: var(--text-default);
      path {
        display:none;
      }
    }
  }
  .itemSlider-FZeYw0 {
    margin: 0;
    .label-JWQiNe {
      font-size: var(--font-size);
    }
  }
}

#app-mount .layer-v9HyYc:not(.disabledPointerEvents-1ptgTB) + .layer-v9HyYc:not(.disabledPointerEvents-1ptgTB) {
  margin-left: -8px;
}