#app-mount .emojiPicker-3m1S-j {
  border: 1px solid var(--border-colour);
  background: var(--main-background);
  .header-1nkwgG {
    box-shadow: none;
    border-bottom: 1px solid var(--border-colour);
  }
  .infoBar-U6oBFk {
    border-top: 1px solid var(--border-colour);
    background-color: var(--main-background);
  }
  .categories-1feg4n {
    background: var(--background-colour);
  }
  .container-2XeR5Z {
    background: var(--emoji-search);
    border: 1px solid var(--border-colour);
  }
}