// Search popout

#app-mount .layer-v9HyYc[style*="left"][style*="top"] .container-3ayLPN.elevationBorderHigh-2WYJ09 {
  position: fixed;
  top: calc(var(--toolbar-height) + var(--titlebar-height) + 1px) !important;
  right: 0 !important;
  left: unset !important;
  transform: none !important;
  margin-top: 0 !important;
  border-radius: 0;
  border-left: 1px solid var(--base-border);
  background-color: var(--background);
  box-shadow: none;
  height: calc(100vh - var(--toolbar-height) - var(--titlebar-height));
  .resultsGroup-r_nuzN {
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid var(--base-border);
    &:before {
      content: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .header-2N-gMV {
    height: var(--item-height);
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    color: var(--text-muted);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
  }
  .searchClearHistory-2cSSMO,
  .searchLearnMore-3SQUAj a {
    color: var(--text-normal);
  }
  .displayedNick-3xxvzU,
  .filter-3Y_im- {
    color: var(--text-focus);
    font-size: var(--font-size-md);
  }
  .answer-1n6g43,
  .displayUsername-Qekxml {
    font-size: var(--font-size-md);
    color: var(--text-muted);
  }
  .option-96V44q {
    padding: 0 var(--spacing);
    height: var(--item-height);
    margin: 0;
    border-radius: 0;
    &:after {
      background: linear-gradient(90deg,rgba(54,57,63,0),var(--background) 80%);
    }
    &.selected-rZcOL- {
      background: var(--accent-solid);
      .answer-1n6g43,
      .displayUsername-Qekxml,
      .displayedNick-3xxvzU,
      .filter-3Y_im-,
      .nonText-3CRkO0 {
        color: #fff;
      }
      &:after {
        background: linear-gradient(90deg,rgba(54,57,63,0),var(--accent-solid) 80%);
      }
    }
  }
  .plusIcon-v0BTrL {
    color: #fff;
    opacity: 1;
  }
  &:before {
    content: "";
    position: fixed;
    top: calc(var(--titlebar-height) + var(--toolbar-height) + 1px);
    left: var(--base-left);
    width: calc(100vw - 320px - var(--base-left));
    height: 100vh;
    background: var(--backdrop);
    display: block;
    pointer-events: none;
  }
}