#app-mount [id*="popout_"][style*="top"][style*="left"] {
  top:calc(var(--toolbar-height) + var(--titlebar-height)) !important;
 .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 {
  transform: none !important;
  transition: none !important;
  .menu-Sp6bN1 {
    padding: 0; 
    border-radius: 0;
    margin-left: -20px;
    width: var(--sidebar-width);
    box-shadow: none;
    height: 100vh;
    background: var(--background-colour);
    border-right: 1px solid var(--border-colour);
    border-top:1px solid var(--border-colour);
    .item-1GzJrl {
      margin: 0;
      padding: var(--spacing);
      color: var(--text-default);
      height: var(--item-height);
      border-radius: 0;
      font-size:var(--font-size-lg);
      &:hover {
        color: var(--text-focus);
      }
      &:first-child {
        color: rgb(var(--discord-nitro));
        &:hover {
          color: rgb(var(--discord-nitro));
        }
      }
      &.invite-271nFU {
        color: rgb(var(--discord-blurple));
        &:hover {
          color: rgb(var(--discord-blurple));
        }
      }
      &.leave-1DRJfn {
        color: rgb(var(--discord-red));
        &:hover {
          color: rgb(var(--discord-red));
        }
      }
    }
    .separator-2zcjq8 {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      top: calc(var(--toolbar-height) * -1);
      left: 240px;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.5);
      z-index: -1;
      pointer-events: none;
    }
  }
}
}