#app-mount [id*="popout_"][style*="top"][style*="left"] {
  top:calc(var(--toolbar-height) + var(--titlebar-height) + 1px) !important;
 .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 {
  transform: none !important;
  transition: none !important;
  .menu-Sp6bN1 {
    position:fixed;
    left:0;
    padding: 0; 
    border-radius: 0;
    box-shadow: none;
    height: 100vh;
    width:calc(var(--sidebar-width) + var(--container));
    background: var(--background-colour);
    border-right:1px solid var(--border-colour);
    .item-1GzJrl {
      margin: 0;
      padding: var(--spacing);
      color: var(--text-default);
      height: var(--item-height);
      border-radius: 0;
      font-size:var(--font-size);
      font-weight:var(--font-weight-light);
      cursor:default;
      &:hover {
        color: var(--text-focus);
      }
      &:first-child {
        color: rgb(var(--discord-nitro));
        &:hover {
          color: rgb(var(--discord-nitro));
        }
      }
      &.invite-271nFU {
        color: rgb(var(--discord-blurple));
        &:hover {
          color: rgb(var(--discord-blurple));
        }
      }
      &.leave-1DRJfn {
        color: rgb(var(--discord-red));
        &:hover {
          color: rgb(var(--discord-red));
        }
      }
    }
    .separator-2zcjq8 {
      display: none;
    }
    &:before {
      content: "";
      position: fixed;
      top:calc(var(--toolbar-height) + var(--titlebar-height));
      left: calc(var(--sidebar-width) + var(--container));
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.5);
      z-index: -1;
      pointer-events: none;
    }
  }
}
}