#app-mount [id*="popout_"][style*="top"][style*="left"] .animatorBottom-fS5rNO.scale-3iLZhb.didRender-33z1u8 {
  transform: none !important;
  transition: none !important;
  .menu-Sp6bN1 {
    padding: 0;
    border-radius: 0;
    margin-left: -20px;
    margin-top: -8px;
    width: var(--sidebar-width);
    box-shadow: none;
    height: 100vh;
    background: var(--background-color);
    .item-1GzJrl {
      margin: 0;
      padding: var(--spacing);
      border-radius: 0;
      &:first-child {
        color: var(--discord-nitro);
      }
    }
    .separator-2zcjq8 {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      top: -8px;
      left: 241px;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.5);
      z-index: -1;
      pointer-events: none;
    }
  }
}
