#app-mount {

  // User popout scoped classes
  .userPopout-3XzG_A {
    box-shadow: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-colour);
    background: var(--background);

    .state-Tt0LO3 {
      display: none;
    }
    .bodyNormal-2D39hT {
      align-items: center;
      position: relative;
      z-index: 1;
    }
    .wrapper-3t9DeA {
      width: var(--avatar-size-xlg) !important;
      height: var(--avatar-size-xlg) !important;
    }

    // Roles
    .rolesList-22qj2L {
      display: block;
      margin: 0;
    }
    .role-2irmRk {
      margin: 0;
      border-radius: 0;
      border: none;
      height: var(--item-height);
      padding: 0 var(--spacing);
      position: relative;
      &:hover {
        background: var(--background-modifier-hover);
        .roleCircle-3xAZ1j:before {
          opacity: 1;
        }
      }
      &:active {
        background: var(--background-modifier-active);
      }
    }
    .roleCircle-3xAZ1j {
      margin-right: var(--spacing);
      border-radius: var(--border-radius);
    }
    .roleName-32vpEy {
      position: relative;
    }
    .actionButton-VzECiy {
      position: absolute;
      top: var(--spacing);
      right: var(--spacing);
      padding: 0;
      height: auto;
    }
    .roleRemoveIcon-2-TeGW {
      position: absolute;
      right: var(--spacing);
      width: 16px;
      height: 16px;
      .fill {
        fill: var(--text-normal);
      }
    }

    // Rich Presence text
    .activityName-1IaRLn,
    .nameNormal-2lqVQK,
    .nameWrap-3Z4G_9 {
      color: var(--text-normal);
    }
    .activityName-1IaRLn,
    .nameNormal-2lqVQK,
    .nameWrap-3Z4G_9,
    .textRow-19NEd_ {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-semibold);
      color: var(--text-normal);
    }
  }




  // Titles (Roles, Note ect...)
  .bodyTitle-Y0qMQz {
    color: var(--text-normal);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size);
    padding: var(--spacing);
    margin-bottom: 0;
    text-transform: none;
  }
  .headerText-1HLrL7 {
    color: var(--text-normal);
    font-size: var(--font-size);
    font-weight: var(--font-weight-semibold);
    text-transform: none;
    position: relative;
    z-index: 1;
    margin-bottom: var(--spacing);
  }

  .header-2BwW8b {
    border-bottom: 1px solid var(--border-colour);
  }
  .headerTop-3C2Zn0 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "avatar info" "status status";
    align-items: center;
    justify-content: flex-start;
    padding: var(--spacing);
  }
  .headerNameWrapper-3res2c {
    margin-bottom: var(--spacing-third);
  }
  .headerTag-2pZJzA {
    font-weight: 500;
    color: var(--text-muted);
    font-size: 13px;
  }
  .headerNormal-T_seeN,
  .headerPlaying-j0WQBV,
  .headerSpotify-zpWxgT,
  .headerStreaming-2FjmGz {
    background: var(--background-dark);
  }
  .avatarWrapper-3H_478 {
    grid-area: avatar;
    margin-bottom: 0;
  }
  .headerText-2sdzFM {
    grid-area: info;
    flex: 1;
    margin-left: var(--spacing);
    & > div {
      width: 100%;
      text-align: left;
    }
  }
  .headerName-fajvi9 {
    font-size: var(--font-size-lg);
  }
  .headerTagUsernameNoNickname-2_H881 {
    color: var(--text-focus);
  }
  .headerTag-2pZJzA {
    display: flex;
    align-items: center;
    font-size: var(--font-size-sm);
    &.headerTagNoNickname-ENx6no {
      font-size: var(--font-size-lg);
      justify-content: flex-start;
    }
  }
  .activity-11LB_k {
    background: transparent;
    position: relative;
    border-top: 1px solid var(--border-colour);
  }
  .customStatus-1bh2V9 {
    margin-top: var(--spacing);
    grid-area: status;
    text-align: left;
  }
  .customStatusSoloEmoji-XOvnMc {
    height: var(--avatar-size);
    width: var(--avatar-size);
  }



  .actionsStreamPreview-2JlX14,
  .actionsUserPopout-2MrzCa,
  .listeningActionsUserPopout-Ga2V_N {
    position: absolute;
    bottom: calc((var(--item-height) / -1) - 2px);
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-colour);
    margin-top: 0;
    button {
      margin: 0;
      border-radius: 0;
      border: none;
      padding: 0;
      cursor: pointer;
      height: var(--item-height);
      min-height: var(--item-height);
      border-left: 1px solid var(--border-colour);
      box-shadow: none !important;
      &.iconButton-285DXF {
        max-width: 62px;
      }
      &:first-child {
        border: none;
      }
    }
  }
  .assetsLargeImageStreamPreview-1A9lfF,
  .assetsLargeImageUserPopout-3Pp8BK,
  .assetsLargeImageUserPopoutXbox-2hgKt0 {
    width: var(--avatar-size-lg);
    height: var(--avatar-size-lg);
  }
  .customStatusText-3YJeRZ {
    font-size: var(--font-size);
  }

  // Streaming
  .headerStreaming-2FjmGz {
    margin-bottom: calc(var(--item-height) + 1px);
    .actionsUserPopout-2MrzCa button {
      --button-colour: rgba(var(--discord-purple), 1);
      background: rgba(var(--discord-purple), .7);
      &:hover, &:active {
        background: rgba(var(--discord-purple), 1);
      }
    }
  }

  // Spotify
  .headerSpotify-zpWxgT {
    margin-bottom: calc(var(--item-height) + 1px);
    .activityUserPopout-2yItg2 {
      background: rgba(var(--discord-spotify), 0.2);
    }
  }
  .timeBarUserPopout-AWPFf2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .bar-3urHkF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: transparent;
    z-index: 0;
    & + .horizontal-2EEEnY {
      position: absolute;
      top: var(--spacing);
      right: var(--spacing);
    }
  }
  .barInner-3NDaY_ {
    border-radius: 0;
    background: rgba(var(--discord-spotify), 0.5);
  }
  .text-AOoUen {
    font-size: var(--font-size-sm);
  }
  .textLeft-3EZXG6 {
    flex: 0 !important;
    &:after {
      content: "/";
      margin: 0 5px;
    }
  }



  .body-3iLsc4 {
    flex: 1;
    background: transparent;
    padding: 0;
    max-height: 250px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .note-3HfJZ5 {
    margin: 0 var(--spacing) 0 var(--spacing);
    textarea {
      box-sizing: border-box;
      background-color: var(--background-dark);
      border: 1px solid var(--border-colour);
      border-radius: var(--border-radius);
      transform: translateZ(0);
      max-height: calc(var(--input-height) * 2);
      padding: var(--spacing);
      &::placeholder {
        position: absolute;
      }
      &:focus {
        border: 1px solid var(--accent-solid);
        box-shadow: 0 0 0 2px rgba(var(--accent), 0.25);
        border-radius: var(--border-radius);
      }
    }
  }
  div[style="position: absolute; pointer-events: none; min-height: 0px; min-width: 1px; flex: 0 0 auto; height: 10px;"] {
    display: none;
  }



  .footer-1fjuF6 {
    border: none;
    background: transparent;
    padding: var(--spacing) 0 0;
  }
  .quickMessage-1yeL4E {
    box-sizing: border-box;
    background-color: var(--background-dark);
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    transform: translateZ(0);
    width: calc(100% - (var(--spacing) * 2));
    height: var(--input-height);
    padding: 0 var(--spacing);
    margin: 0 var(--spacing) var(--spacing);
    &::placeholder {
      font-size: var(--font-size);
      color: var(--text-muted);
      font-weight: var(--font-weight-light);
    }
    &:focus {
      border: 1px solid var(--accent-solid);
      box-shadow: 0 0 0 2px rgba(var(--accent), 0.25);
      border-radius: var(--border-radius);
    }
  }
  .protip-YaFfgO {
    display: none;
  }
}