#app-mount .userPopout-3XzG_A {
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--background-color);
  .headerNormal-T_seeN {
    background: var(--userpopout-header);
  }
  .headerTextNormal-2mGWX3,
  .activityName-1IaRLn,
  .textRow-19NEd_ {
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
  }
  .bodyInner-245q0L {
    background: var(--userpopout-body);

    .role-2irmRk {
      border-radius: var(--border-radius);
      .roleCircle-3xAZ1j {
        border-radius: var(--border-radius);
      }
    }
    .bodyTitle-Y0qMQz {
      font-size: var(--font-size-sm);
      color: var(--text-default);
      font-weight: var(--font-weight-normal);
    }
    .note-3HfJZ5 {
      margin-left: 0;
      textarea {
        background: var(--userpopout-textbox);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        font-size: var(--font-size);
        padding: var(--spacing);
        line-height: normal;
        height: 38px !important;
        &::placeholder {
          color: var(--text-muted);
        }
      }
    }
  }
  .footer-1fjuF6 {
    background: var(--userpopout-body);
    border: none;
    padding: 0;
    margin: 0;
    input {
      background: var(--userpopout-textbox);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-color);
      font-size: var(--font-size);
      padding: var(--spacing);
      line-height: normal;
      width: calc(100% - 20px);
      margin: 0 var(--spacing) var(--spacing);
      &::placeholder {
        color: var(--text-muted);
      }
    }
    .protip-YaFfgO {
      display: none;
    }
  }
}