#app-mount .userPopout-3XzG_A {
  box-shadow: none;
  border: 1px solid var(--border-colour);
  border-radius: var(--border-radius);
  background: var(--background-colour);
  .scroller-2FKFPG::-webkit-scrollbar {
    display: none;
  }
  .headerNormal-T_seeN {
    background: var(--userpopout-header);
  }
  .headerPlaying-j0WQBV {
    background: var(--userpopout-header);
  }

  .headerTextNormal-2mGWX3,
  .activityName-1IaRLn,
  .textRow-19NEd_ {
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
  }

  .bodyInner-245q0L {
    background: var(--userpopout-body);
    padding: var(--spacing);
  }

  //
  .bodyTitle-Y0qMQz {
    font-size: var(--font-size-sm);
    color: var(--text-default);
    font-weight: var(--font-weight-normal);
  }

  // Roles
  .rolesList-22qj2L {
    margin-bottom: 12px;
  }
  .role-2irmRk {
    border-radius: var(--border-radius);
    .roleCircle-3xAZ1j {
      border-radius: var(--border-radius);
    }
  }
  // Add role button
  .actionButton-VzECiy {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--spacing) var(--spacing) 0;
    border: none;
    margin: 0;
    height: auto;
  }

  // Note
  .note-3HfJZ5 {
    margin-left: 0;
    textarea {
      background-color: transparent;
      border-radius: var(--border-radius);
      border: 1px solid transparent;
      font-size: var(--font-size);
      padding: var(--spacing-half);
      line-height: normal;
      height: 36px !important;
      &::placeholder {
        color: var(--text-muted);
      }
      &:focus {
        background-color: var(--userpopout-textbox);
        border-color: var(--border-colour);
      }
    }
  }

  // Footer
  .footer-1fjuF6 {
    background: var(--userpopout-body);
    border: none;
    padding: 0;
    margin: 0;
    input {
      background: var(--userpopout-textbox);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-colour);
      font-size: var(--font-size);
      padding: var(--spacing);
      line-height: normal;
      width: calc(100% - 20px);
      margin: 0 var(--spacing) var(--spacing);
      &::placeholder {
        color: var(--text-muted);
      }
    }
    .protip-YaFfgO {
      display: none;
    }
  }
}