#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] {
  top: 0;
  padding-top: 0;
  margin: var(--window-padding);
  border-radius: var(--window-roundness);
  overflow: hidden;
  box-sizing: border-box;
  backdrop-filter: blur(var(--background-blur));
  .standardSidebarView-3F1I7i {
    top: 0;
  }
}