#app-mount .membersWrap-2h-GB4 {
  background: var(--bg4);
  .members-1998pB, .members-1998pB>div {
    background: transparent;
  }
  .member-3-YXUe {
    margin-left: 0;
    position: relative;
    min-width: 100%;
    .layout-2DM8Md {
      background: transparent;
      padding-left: 16px;
    }
    &:hover {
      background: var(--bg5);
      [aria-label*="mobile"]:before {
        background: linear-gradient(90deg, transparent, var(--bg5) 50%) !important;
      }
    }
    &.selected-aXhQR6 {
      background: var(--bg6);
      [aria-label*="mobile"]:before {
        background: linear-gradient(90deg, transparent, var(--bg6) 50%) !important;
      }
    }
  }
}