#app-mount .membersWrap-2h-GB4 .scroller-2FKFPG {
    background: var(--bg4);
    .member-3W1lQa {
        margin-left: 0;
        position: relative;
        min-width: 100%;
        .layout-2DM8Md {
            background: transparent;
            padding-left: 16px;
        }
        &:hover {
            background: var(--bg5);
            [aria-label*="mobile"]:before {
                background: linear-gradient(90deg, transparent, var(--bg5) 50%);
            }
        }
        &.selected-aXhQR6 {
            background: var(--bg6);
            [aria-label*="mobile"]:before {
                background: linear-gradient(90deg, transparent, var(--bg6) 50%);
            }
        }
    }
}
