#app-mount {
	.noChannel-Z1DQK7 {
		background: var(--bg2);
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 48px;
			width: 100%;
			background: var(--bg7);
		}
	}
	// Library
	.container-3Mxszk {
		.header-39GIC8 {
			background-color: var(--bg2);
		}
		.rowWrapper-2fB6P0 {
			margin: 0 6px 0 0;
			border-bottom: 1px solid var(--bg5);
			padding-bottom: 0;
			.row-ZLfFhY {
				border: none;
				margin: 0;
				padding: 0 10px;
			}
		}
		.rowWrapperActive-2L7i9f {
			background: var(--bg3);
		}
		.stickyScroller-24zUyY {
			background: var(--bg2);
		}
	}
	// Gift inventory
	.root-1BQpZw {
		background: var(--bg2);
		.children-19S4PO:after {
			content: none;
		}
		.container-1r6BKw {
			background: var(--bg7);
		}
		.input-cIJ7To {
			background: var(--bg4);
			border: none;
			&::placeholder {
				color: #777;
			}
		}
	}
	// Friends
	.container-1D34oG {
		background: var(--bg2);
		.peopleColumn-29fq28 {
			background: var(--bg2);
			.actionButton-uPB8Fs {
				background: var(--bg5);
				&:hover {
					background: var(--bg7);
				}
			}
			.peopleListItem-2nzedh {
				margin-left: 0;
				padding-left: 20px;
				&:hover {
					background: var(--bg3);
					margin-left: 0;
				}
			}
		}
		.nowPlayingColumn-2sl4cE {
			background: var(--bg4);
			.emptyCard-1RJw8n {
				background: var(--bg7);
			}
			.wrapper-3D2qGf {
				background: var(--bg6);
				.inset-3sAvek {
					background: var(--bg5);
					.separator-XqIyoz {
						background-color: var(--bg6);
					}
				}
			}
		}
	}
	// Nitro / Store
	.applicationStore-1pNvnv {
		background: var(--bg2);
		.itemBackground-2vEldQ:before {
			background: radial-gradient(ellipse at top, rgba(54, 57, 63, 0), var(--bg2)), linear-gradient(90deg, var(--bg2) 0, rgba(54, 57, 63, 0) 40%, rgba(54, 57, 63, 0) 60%, var(--bg2)), linear-gradient(0deg, var(--bg2) 10%, rgba(54, 57, 63, 0) 70%);
		}
		.tile-QA_yMc {
			background-color: var(--bg4);
			box-shadow: none;
			.tagline-EIH5-W, .title-2XwaXv {
				color: #fff;
			}
		}
		.detailsBlock-FoDTGA {
			background: var(--bg4);
		}
		.scrollerButton-1Vm5_P {
			background: var(--bg10);
			color: #fff;
			&:not(.arrowHidden-1jg6O9) {
				opacity: 1;
			}
		}
		.categoryHeader-1D7Tqy {
			border-color: var(--bg6);
		}
		.gradientOverlayLeft-3w159C {
			background-image: linear-gradient(90deg, var(--bg2), rgba(54, 57, 63, 0));
		}
		.gradientOverlayRight-3vMuS8 {
			background-image: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--bg2));
		}
		.footer-3oZnEF {
			display: none;
		}
		.headerBackground-3Sjqjz {
			-webkit-mask: radial-gradient(ellipse 50% 100% at 50% 0, var(--bg2), transparent) !important;
		}
	}
	// Discovery
	.pageWrapper-1PgVDX {
		background: var(--bg2);
		.bg-AYqtMd {
			display: none;
		}
		.search-JQJ-3r {
			.searchBox-3Y2Vi7 {
				background-color: var(--bg4);
				box-shadow: none;
				input {
					color: #fff;
					&::placeholder {
						color: #888;
						font-weight: 400;
					}
				}
			}
			.css-1wqqa50-container {
				background-color: var(--bg4);
				box-shadow: none;
			}
			.css-1rckt42-menu {
				background-color: var(--bg4);
				box-shadow: none;
				border: none;
			}
			.searchIcon-1a1-yA {
				color: #fff;
			}
		}
		.card-3DjzTQ {
			background-color: var(--bg4);
			box-shadow: none;
			.guildInfo-2wGKIg {
				padding: 16px;
				box-sizing: border-box;
			}
		}
		.sectionSeparator-2OWiNT {
			border-color: var(--bg5);
		}
		.pageControl-1aUwvK button {
			background: var(--bg5);
			font-weight: 400;
		}
	}
	// Call
	.video-1FfuMD {
		background: var(--bg3);
		.actions-2vadYq .center-1Vp33r {
			background: var(--bg3);
			border: none;
		}
		.callAvatar-v-u4BM.video-3GgX2M, .callAvatar-v-u4BM.voice-2D-tt_, .callAvatarBorder-1D_KaE {
			border-radius: var(--SD-roundness) !important;
		}
		.callAvatarStatus-3y6S04 {
			border-color: var(--bg3);
			border-radius: var(--SD-roundness) !important;
		}
	}
	// Boost
	.perksModalContentWrapper-2HU6uL {
		background: var(--bg2);
		.ctaBar-2UsjF2,	.perk-2WeBWW,	.tierBody-16Chc9 {
			background: var(--bg4);
		}
		.tierHeaderLocked-1s2JJz {
			background: var(--bg6);
			color: #fff;
		}
		.tierLock-3CSxSX {
			color: #fff;
		}
		.tierMarkerBackground-3q29am, .tierMarkerInProgress-24LMzJ {
			background: var(--bg15) !important;
		}
		.barBackground-2EEiLw {
			background: var(--bg6);
			.barForeground-3KglC8 {
				background: var(--bg15);
			}
		}
	}
}