#app-mount {

	.noChannel-Z1DQK7 {
		background: var(--bg2);
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 48px;
			width: 100%;
			background: var(--bg7);
		}
	}

	// Acivity
	.activityFeed-1C0EmJ {
		background-color: var(--bg2);
		.layout-1cQCv2 {
			background: none;
		}
		.section-2VKIPC {
			background-color: var(--bg4);
		}
		.outer-2IVh5n {
			background-color: var(--bg5);
			box-shadow: none;
			transform: translateY(0) !important;

			.colorStandard-2KCXvj {
				color: #fff;
			}

			.wrapper-9ppXpy {
				box-shadow: none;
				background: var(--bg4);

				.colorMuted-HdFt4q {
					color: #aaa;
				}
			}
		}
		.unwrapped-37iUtM {
			background-color: var(--bg5);
		}
		.wrapped-15rg6t {
			background-color: var(--bg3);
		}
		.popoutContainer-3WC9HR:hover {
			background: var(--bg6);
		}
		.popout-3G62UL {
			background-color: var(--bg7);
			h3,
			.colorStandard-2KCXvj {
				color: #fff;
			}
			.memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover, .enabled-5QKLzu:hover {
				background: var(--bg9);
			}
		}
		.recentlyPlayedContainer-2F3MqS {
			background-color: var(--bg5);
			.separator-2c4hi3 {
				margin: 0;
			}
		}
	}

	// Library
	.gameLibrary-TTDw4Y {
		background-color: var(--bg2);
		.children-19S4PO:after {content: none;}
		.header-39GIC8 {
			background: var(--bg2);
			border-color: var(--bg5);
			.headerCell-3L6rFG {
				border-color: var(--bg5);
			}
		}
		.container-cMG81i {
			background-color: var(--bg4);
		}
		.container-1r6BKw {
			background: var(--bg7);
			.icon-22AiRD {
				color: #fff;
			}
		}
		.textCell-1aBIUP {
			color: #aaa;
		}
		.rowBackground-3MeNoN {
			-webkit-mask: radial-gradient(100% 100% at top left, hsla(0, 0%, 100%, .3) 0, hsla(0, 0%, 100%, 0) 100%) !important;
		}
		.rowWrapperActive-2L7i9f {
			background-color: var(--bg5);
			box-shadow: none;
		}
		.rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
			border-color: var(--bg5);
		}
	}

	// Gift inventory
	.root-1BQpZw {
		background: var(--bg2);
		.children-19S4PO:after {content: none;}
		.container-1r6BKw {
			background: var(--bg7);
		}
		.input-cIJ7To {
			background: var(--bg4);
			border: none;
			&::placeholder {
				color: #777;
			}
		}
	}

	// Friends
	.container-3gCOGc {
		background: var(--bg2);
		.friendsTable-133bsv {
			margin-top: 0;
			.friendsTableAdd-1w2_qZ {
				padding: 30px;
			}
		}
		.wrapper-1cBijl {
			background: var(--bg3);
			border: none;
		}
		.friendsColumnActions-1LT3_M {
			padding-right: 15px;
		}
		.friendTableAddHeader-m9bzFr {
			background: var(--bg4);
		}
		.friendsColumn-eVHFqJ {
			color: #aaa;
		}
		.nameTag-m8r81H {
			color: #fff;
		}
		rect {
			mask: none;
		}
		.friendsTableHeader-32yE7d {
			border-color: var(--bg6);
		}
		.noIcon-1a_FrS {
			background: var(--bg7);
		}
		.friendsTableBody-1ZhKif {
			padding-top: 0;
		}
		.friendsRow-2yicud {
			border-color: var(--bg6);
			margin: 0;
			padding: 0 0 0 20px;
			.mask-1qbNWk {
				width: 15px !important;
				rect {
					width: 15px !important;
					x: -2 !important;
				}
			}
			.friendsAction-__WNE9 {
				background-color: var(--bg6);
			}
			&:hover {
				background: var(--bg3);
				box-shadow: none;
			}
		}
		.friendsColumnSeparator-3MqtMA {
			background: var(--bg5);
		}
	}

	// Nitro / Store
	.applicationStore-1pNvnv {
		background: var(--bg2);
		.itemBackground-2vEldQ:before {
			background: radial-gradient(ellipse at top, rgba(54, 57, 63, 0), var(--bg2)),
			linear-gradient(90deg, var(--bg2) 0, rgba(54, 57, 63, 0) 40%, rgba(54, 57, 63, 0) 60%, var(--bg2)),
			linear-gradient(0deg, var(--bg2) 10%, rgba(54, 57, 63, 0) 70%)
		}
		.tile-QA_yMc {
			background-color: var(--bg4);
			box-shadow: none;
			.title-2XwaXv, .tagline-EIH5-W {
				color: #fff;
			}
		}
		.scrollerButton-1Vm5_P {
			background: var(--bg10);
			color: #fff;
			&:not(.arrowHidden-1jg6O9) {
				opacity: 1;
			}
		}
		.categoryHeader-1D7Tqy {
			border-color: var(--bg6);
		}
		.gradientOverlayLeft-3w159C {
			background-image: linear-gradient(90deg, var(--bg2), rgba(54, 57, 63, 0));
		}
		.gradientOverlayRight-3vMuS8 {
			background-image: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--bg2));
		}
		.footer-3oZnEF {
			display: none;
		}
		.headerBackground-3Sjqjz {
			-webkit-mask: radial-gradient(ellipse 50% 100% at 50% 0, var(--bg2), transparent) !important;
		}
	}

	// Discovery
	.pageWrapper-1PgVDX {
		background: var(--bg2);
		.bg-AYqtMd {
			display: none;
		}
		.search-JQJ-3r {
			.searchBox-3Y2Vi7 {
				background-color: var(--bg4);
				box-shadow: none;
				input {
					color: #fff;
					&::placeholder {
						color: #888;
						font-weight: 400;
					}
				}
			}
			.css-1wqqa50-container {
				background-color: var(--bg4);
				box-shadow: none;
			}
			.css-1rckt42-menu {
				background-color: var(--bg4);
				box-shadow: none;
				border: none;
			}
			.searchIcon-1a1-yA {
				color: #fff;
			}
		}
		.card-3DjzTQ {
			background-color: var(--bg4);
			box-shadow: none;
			.guildInfo-2wGKIg {
				padding: 16px;
				box-sizing: border-box;
			}
		}
		.sectionSeparator-2OWiNT {
			border-color: var(--bg5);
		}
		.pageControl-1aUwvK button {
			background: var(--bg5);
			font-weight: 400;
		}
	}

	// Call
	.video-1FfuMD {
		background: var(--bg3);
		.actions-2vadYq .center-1Vp33r {
			background: var(--bg3);
			border: none;
		}
		.callAvatar-v-u4BM.video-3GgX2M, .callAvatar-v-u4BM.voice-2D-tt_, .callAvatarBorder-1D_KaE {
			border-radius: var(--SD-roundness) !important;
		}
		.callAvatarStatus-3y6S04 {
			border-color: var(--bg3);
			border-radius: var(--SD-roundness) !important;
		}
	}
}