#app-mount .member-3-YXUe {
  &.selected-aXhQR6 {
    background: var(--set-gradient-solid);
    .roleColor-rz2vM0,
    .activity-2Gy-9S,
    .premiumIcon-1rDbWQ {
      color: #fff !important;
    }
    .botTagRegular-2HEhHi {
      background: #fff;
      color: rgba(var(--gradient-two), 1);
    }
  }
  .botTagRegular-2HEhHi {
    background: var(--set-gradient-solid);
    font-weight: bold;
  }
}