#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ {
  padding: var(--spacing) 0 calc(var(--spacing) / 2);
  .wrapper-CU3qI5 {
    color: var(--text-default);
    svg, .name-IbjUBS {
      color: var(--text-default);
      font-size:var(--font-size-sm);
    }
    .name-IbjUBS {
      text-transform: none;
    }
    &.muted-1NRuDm {
      color: var(--text-muted);
      svg, .name-IbjUBS {
        color: var(--text-muted);
      }
    }
  }
}