#app-mount .sidebar-2K8pFh .containerDefault-3GGEv_ {
  padding-top: var(--spacing);
  .wrapper-CU3qI5 {
    color: var(--text-default);
    svg, .name-IbjUBS {
      color: var(--text-default);
    }
    .name-IbjUBS {
      text-transform: none;
    }
    &.muted-1NRuDm {
      color: var(--text-muted);
      svg, .name-IbjUBS {
        color: var(--text-muted);
      }
    }
  }
}