#app-mount .sidebar-2K8pFh {
  width: var(--sidebar-width);
  border-right: 1px solid var(--border-color);
  border-radius: 0;
  .container-PNkimc {
    background: var(--background-color);
  }
  .hasBanner-14PPlG ~ .scrollerWrap-2lJEkd div[style*="width: 100%;"] {
    height: 135px !important;
  }
  .animatedContainer-1pJv5C {
    top: 50px;
    box-shadow: none;
  }
  .bannerImage-1jOskm {
    width: var(--sidebar-width);
    top: 0;
  }
  .scroller-2FKFPG::-webkit-scrollbar {
    display: none;
  }
}