#app-mount .sidebar-2K8pFh {
  width: var(--sidebar-width);
  border-radius: 0;
  overflow:visible !important;
  display: -webkit-box;
  .container-PNkimc {
    background: var(--background-colour);
  }

  .scroller-2FKFPG {
    border-right: 1px solid var(--border-colour);
    background: var(--channel-background);
    padding-top:var(--toolbar-height)
  }

  // Banner image
  .animatedContainer-1pJv5C {
    top: 50px;
    box-shadow: none;
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 90%) !important;
    z-index:10;
    pointer-events:none;
  }
  .bannerImage-1jOskm {
    width: var(--sidebar-width);
    top: 0;
  }

  // Scrollbar
  .scroller-2FKFPG::-webkit-scrollbar {
    display: none;
  }
}