#app-mount .privateChannels-1nO12o {
	overflow: visible;
	width: var(--sidebar-width);
	// Find or start a coversation
	.searchBar-6Kv8R2 {
		background: var(--topbar-background);
		border-bottom: 1px solid var(--topbar-border);
		border-right: 1px solid var(--topbar-border);
		height: var(--toolbar-height);
		box-shadow: none;
		position: absolute;
		left: calc(var(--container) * -1);
		width: calc(var(--sidebar-width) + var(--container));
		box-sizing: border-box;
		padding: 0 var(--spacing);
		button {
			background: var(--background-colour);
			border: 1px solid var(--border-colour);
			padding: calc(var(--spacing) / 2) var(--spacing);
			height: auto;
			border-radius: var(--border-radius);
			font-size: var(--font-size);
			cursor: text;
		}
	}

	// Direct messages header
	.header-zu8eWb {
		padding: var(--spacing);
		height: auto;
	}
	.scroller-2FKFPG {
		background: var(--channel-background);
		div[style*="height: 8px"] {
			display: none;
		}
	}

	// Dm
	.channel-2QD9_O {
		margin: 0;
		max-width: 100%;
		padding: 0;
		.layout-2DM8Md {
			border-radius: 0;
			padding: 0 var(--spacing);
		}
		.name-uJV0GL {
			font-size: var(--font-size);
			font-weight: var(--font-weight-light);
			color: var(--text-default);
		}
		.activityText-OW8WYb,
		.subtext-1RtU34 {
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-bold);
			color: var(--text-muted);
    }
    &.selected-aXhQR6 {
      color: var(--text-focus);
      .closeButton-2GCmT5 {
        display: block;
      }
      .name-uJV0GL,
      .activityText-OW8WYb,
      .subtext-1RtU34 {
        color: var(--text-focus) !important;
      }
      .wrapper-3t9DeA {
        &:before {
          background: linear-gradient(90deg, transparent, var(--accent-solid) 50%);
        }
        &:after {
          background: #fff;
        }
      }
    }
	}
	.wrapper-3t9DeA {
		width: 26px !important;
		height: 26px !important;
		&:before {
			right: -190px;
		}
		&:after {
			right: -190px;
		}
	}
	&:hover .wrapper-3t9DeA:before {
		background: linear-gradient(
			90deg,
			transparent,
			var(--background-modifier-hover) 50%
		);
	}
	&:active .wrapper-3t9DeA:before {
		background: linear-gradient(
			90deg,
			transparent,
			var(--background-modifier-active) 50%
		);
  }
}
