#app-mount .privateChannels-1nO12o {
	overflow: visible;
	width: var(--sidebar-width);
	// Find or start a coversation
	.searchBar-6Kv8R2 {
		background: var(--topbar-background);
		border-bottom: 1px solid var(--topbar-border);
		border-right: 1px solid var(--topbar-border);
		height: var(--toolbar-height);
		box-shadow: none;
		position: absolute;
		left: calc(var(--container) * -1);
		top: calc(var(--toolbar-height) * -1);
		width: calc(var(--sidebar-width) + var(--noasw-channel-header));
		box-sizing: border-box;
		padding: 0 var(--spacing);
		button {
			box-sizing: border-box;
			background-color: var(--topbar-background);
			border: 1px solid var(--topbar-border);
			border-radius: var(--border-radius);
			height: var(--input-height);
			transform: translateZ(0);
			font-size: 0;
			box-shadow: none;
			position:relative;
			cursor:text;
			width:100%;
			font-weight:var(--font-weight-light);
			color:var(--toolbar-text-muted);
			padding:0 var(--spacing-half);
			line-height:normal;
			&:before {
				content:'Where would you like to go?';
				font-size:var(--font-size);
			}
		}
	}
	// Direct messages header
	.privateChannelsHeaderContainer-3NB1K1 {
		padding: var(--spacing);
		height: auto;
		color: var(--text-normal);
		font-size: 12px;
		text-transform: none;
	}
	.scroller-1JbKMe {
		background: var(--background);
		div[style*="height: 8px"] {
			display: none;
		}
	}
	// Dm
	.channel-2QD9_O {
		margin: 0;
		max-width: 100%;
		padding: 0;
		.layout-2DM8Md {
			border-radius: 0;
			padding: 0 var(--spacing);
			cursor: default;
		}
		.name-uJV0GL {
			font-size: var(--font-size);
			font-weight: var(--font-weight-light);
			color: var(--text-normal);
		}
		.avatar-3uk_u9 {
			margin-right: var(--spacing);
		}
		.activityText-OW8WYb,
		.subtext-1RtU34 {
			font-size: var(--font-size-sm);
			font-weight: var(--font-weight-bold);
			color: var(--text-muted);
		}
		foreignObject[mask*="mobile"] {
			width: calc(100% + var(--sidebar-width) - 14px);
			&[width="32"] {
				&:before {
					width: 100px;
					background: linear-gradient(90deg, transparent, var(--background) 40%);
				}
				&:after {
					right: 30px;
				}
			}
		}
		&:hover foreignObject[mask*="mobile"]:before {
	    background: linear-gradient(90deg, transparent, var(--background-modifier-hover) 40%);
	  }
	  &:active foreignObject[mask*="mobile"]:before {
	    background: linear-gradient(90deg, transparent, var(--background-modifier-active) 40%);
	  }
	  &[href="/store"] {
		  display:none;
	  }
	  &[href="/library"] {
		  border-left:1px solid var(--border-colour);
	  }
	  &[href="/channels/@me"],
	  &[href="/library"] {
		width:50%;
		display:inline-block;
		border-radius:0;
		.layout-2DM8Md {
			justify-content:center;
			height:28px;
			border-bottom:1px solid var(--border-colour);
			.avatar-3uk_u9 {
				display:none;
			}
			.content-3QAtGj {
				flex-grow:0;
			}
			&:active {
				background:var(--background-modifier-hover);
			}
		}
		&.selected-aXhQR6 .layout-2DM8Md {
			background:transparent;
			box-shadow:inset 0 -3px 0px var(--accent-solid);
			.name-uJV0GL {
				color:var(--text-normal) !important;
			}
		}
	  }
		&.selected-aXhQR6 {
			color: var(--text-focus);
			.closeButton-2GCmT5 {
				display: block;
			}
			.activityText-OW8WYb,
			.name-uJV0GL,
			.subtext-1RtU34 {
				color: var(--text-focus) !important;
			}
			foreignObject[mask*="mobile"] {
				&:before {
					background: linear-gradient(90deg, transparent, var(--accent-solid) 50%);
				}
				&:after {
					background: #fff;
				}
			}
		}
	}
	.closeButton-2GCmT5 {
		z-index: 10;
	}
	.wrapper-3t9DeA {
		width: 26px !important;
		height: 26px !important;
		&:before {
			right: -190px;
		}
		&:after {
			right: -190px;
		}
	}
	&:hover .wrapper-3t9DeA:before {
		background: linear-gradient(90deg, transparent, var(--background-modifier-hover) 50%);
	}
	&:active .wrapper-3t9DeA:before {
		background: linear-gradient(90deg, transparent, var(--background-modifier-active) 50%);
	}
}
.theme-light #app-mount .privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 {
	color: #fff;
	.activityText-OW8WYb,
	.name-uJV0GL,
	.subtext-1RtU34 {
		color: #fff !important;
	}
}