#app-mount .sidebar-2K8pFh .header-2o-2hj {
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--toolbar-background);
  height: var(--toolbar-height);
  padding: var(--spacing);
  transition: none;
  .guildIconContainer-E1JUVt {
    margin-right: var(--spacing);
  }
  h1 {
    font-size: var(--font-size);
    font-weight: var(--font-weight-semibold);
    &:before {
      display: block;
      content: "Current Server";
      margin-bottom: -5px;
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-light);
      color: var(--text-muted);
    }
  }
  .button-1w5pas {
    transform-origin: center;
    transition: none;
    position: absolute;
    margin: 0;
    right: var(--spacing);
    top: calc(var(--toolbar-height) / 2 - 2px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--text-default);
    g {
      display: none;
    }
    &.open-1Te94t {
      transform: rotate(180deg);
    }
  }
  &:hover {
    background: var(--toolbar-hover-background);
  }
}