#app-mount .panels-j1Uci_ {
  background: var(--account-panel-background-colour);
  border-top: 1px solid var(--border-colour);
  border-right: 1px solid var(--border-colour);
  position: relative;

  // Connected
  .container-1giJp5 {
    position: relative;
    border-bottom-color: var(--border-colour);
  }
  .subtext-3CDbHg {
    color: var(--text-focus);
  }
  .statusWithPopout-3ZfFol {
    font-size: var(--font-size);
  }
  .channel-1TmDQ6 {
    font-size: var(--font-size-sm);
  }

  // Buttons
  .button-14-BFJ {
    background: var(--background-colour);
    border: 1px solid var(--border-colour);
    margin-left: 5px;
    height: 28px;
    width: 28px;
    svg {
      width: 16px;
      height: 16px;
    }
    &:hover {
      background: rgba(255,255,255,0.01);
    }
  }

  // User
  .container-3baos1 {
    padding: 0 var(--spacing);
    .wrapper-3t9DeA {
      width: var(--avatar-size-small) !important;
      height: var(--avatar-size-small) !important;
    }
    .subtext-3CDbHg {
      font-size: var(--font-size-sm);
    }
  }
  .title-eS5yk3 {
    font-size: var(--font-size);
  }
}