#app-mount .panels-j1Uci_ {
  background: var(--background-light);
  border-top: 1px solid var(--border-colour);
  border-right: 1px solid var(--border-colour);
  position: relative;

  // Buttons
  button {
    height: var(--avatar-size-small);
    flex: 1;
    border-radius: 0;
    transition: none;
    svg {
      height: 16px;
      color: var(--text-default)
    }
    &:hover {
      background: var(--accent-solid) !important;
      box-shadow: none;
      svg {
        color: #fff;
      }
    }
  }

  // Activity
  .activityPanel-28dQGo {
    border-color: var(--border-colour);
  }

  // Connected
  .container-1giJp5 {
    position: relative;
    border-bottom-color: var(--border-colour);
  }
  .subtext-3CDbHg {
    color: var(--text-focus);
  }
  .statusWithPopout-3ZfFol {
    font-size: var(--font-size);
  }
  .channel-1TmDQ6 {
    font-size: var(--font-size-sm);
  }

  // Connection status
  .container-1giJp5 {
    padding: var(--spacing);
    .inner-tyMogq {
      flex: 0;
      min-width: 18px;
    }
    .horizontal-1ae9ci>.flex-1xMQg5:last-child {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: flex-end;
      background: var(--background);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-colour);
      width: calc(100% - 28px);
      box-sizing: border-box;
      overflow: hidden;
      button {
        min-width: 52.25px;
        flex: 0;
      }
    }
    .disabledButtonWrapper-3wH6-b {
      flex: none;
      margin-right: 0;
      button {
        flex: 0;
        width: 100%;
      }
    }
  }
  .rtcConnectionStatus-2-jIsi {
    .statusWithPopout-3ZfFol {
      position: absolute;
      font-size: 0px;
      top: 0;
      left: 0;
      background: transparent;
      width: 10px;
      height: 10px;
    }
    & + a {
      display: none;
    }
  }

  // Share buttons
  .actionButtons-14eAc_ {
    position: absolute;
    top: var(--spacing);
    right: calc(var(--spacing) + 103.25px);
    margin-top: 0;
    z-index: 1;
    height: 27px;
    button {
      margin: 1px 1px 0 0;
      padding: 0;
      min-height: var(--avatar-size-small);
      width: 52.25px;
      font-size: 0;
      min-width: unset;
      border: none;
      background: transparent;
      &:first-child {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
    }
    .buttonIcon-Od8mYw {
      margin-right: 0;
    }
  }


  // User
  .container-3baos1 {
    padding: 0 var(--spacing);
    .avatarWrapper-2yR4wp {
      margin-right:var(--spacing);
    .wrapper-3t9DeA {
      width: var(--avatar-size-small) !important;
      height: var(--avatar-size-small) !important;
    }
  }
    .nameTag-3uD-yy {
      display: none;
    }
    .directionRow-3v3tfG {
      display: flex;
      width: 100%;
      background: var(--background);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-colour);
      overflow: hidden;
    }
  }
  .title-eS5yk3 {
    font-size: var(--font-size);
  }
}