#app-mount .panels-j1Uci_ {
  background: var(--background-light);
  border-top: 1px solid var(--border-colour);
  border-right: 1px solid var(--border-colour);
  position: relative;
  // Buttons
  button {
    height: var(--avatar-size-sm);
    flex: 1;
    border-radius: 0;
    transition: none;
    cursor: default;
    svg {
      height: 16px;
      color: var(--text-default);
      path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
        d: path($path_gear);
        transform: scale(1.35) translateY(1px);
      }
      path[d="M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z"] {
        d: path($path_speaker);
        transform: scale(1.35) translateY(1px);
      }
      path[d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"] {
        d: path($path_speaker_disabled);
        transform: scale(1.35) translateY(1px) translateX(1px);
        & ~ path {
          display: none;
        }
      }
      .strikethrough-1n4ekb {
        color: currentColor;
      }
    }
    &:hover {
      background: var(--accent-solid) !important;
      box-shadow: none;
      svg {
        color: #fff;
      }
    }
  }
  // Activity
  .activityPanel-28dQGo {
    border-color: var(--border-colour);
  }
  // Connected
  .container-1giJp5 {
    position: relative;
    border-bottom-color: var(--border-colour);
  }
  .subtext-3CDbHg {
    color: var(--text-focus);
  }
  .channel-1TmDQ6 {
    font-size: var(--font-size-sm);
  }
  // Connection status
  .container-1giJp5 {
    padding: var(--spacing);
    .inner-tyMogq {
      flex: 0;
      min-width: 18px;
    }
    .horizontal-1ae9ci > .flex-1xMQg5:last-child {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: flex-end;
      background: var(--background);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-colour);
      width: calc(100% - 28px);
      box-sizing: border-box;
      overflow: hidden;
      button {
        min-width: 41.8px;
        flex: 0;
      }
    }
    .disabledButtonWrapper-3wH6-b {
      flex: none;
      margin-right: 0;
      button {
        flex: 0;
        width: 100%;
      }
    }
  }
  .rtcConnectionStatus-2-jIsi {
    .statusWithPopout-3ZfFol {
      position: absolute;
      font-size: 0;
      top: calc(var(--spacing) + 1px);
      left: 39px;
      background: transparent;
      width: 40.8px;
      height: 24px;
      z-index: 2;
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      .contents-18-Yxp {
        font-size: 0;
        -webkit-mask: url($icon_pulse) center/cover no-repeat;
        background: var(--text-default);
        width: 16px;
        height: 16px;
      }
    }
    & + a {
      display: none;
    }
  }
  // Share buttons
  .actionButtons-14eAc_ {
    position: absolute;
    top: var(--spacing);
    left: calc(var(--spacing) + 70px);
    margin-top: 0;
    z-index: 1;
    height: 27px;
    button {
      margin: 1px 0 0;
      padding: 0;
      min-height: var(--avatar-size-sm);
      width: 41.8px;
      font-size: 0;
      min-width: unset;
      border: none;
      background: transparent;
    }
    .buttonIcon-Od8mYw {
      margin-right: 0;
    }
  }
  // User
  & > .container-3baos1 {
    padding: 0 var(--spacing);
    height: var(--toolbar-height);
    box-sizing: border-box;
    margin-bottom: -1px;
    overflow: visible;
    .avatarWrapper-2yR4wp {
      --rs-width: 1px;
      position: absolute;
      left: var(--sidebar-width);
      margin: 0 var(--spacing);
      z-index: 10;
      border-radius: var(--border-radius);
      transition: 100ms ease;
      .avatar-SmRMf2 {
        border-radius: var(--border-radius);
        img {
          clip-path:none;
          border-radius:calc(var(--border-radius) / 2);
          box-shadow:0 0 0 1px var(--border-colour);
        }
        svg[x="14.5"][y="17"] {
          rect {
            x: 10;
            y: 10;
          }
          & + rect {
            display: none !important;
          }
        }
        rect {
          width: 10px;
          height: 10px;
          x: 26px;
          y: 26px;
          rx: 50% !important;
          ry: 50% !important;
          stroke: var(--border-colour);
          &[mask*="online"],
          &[fill="rgba(67, 181, 129, 1)"] {
            fill: var(--rs-online-color) !important;
          }
          &[mask*="idle"],
          &[fill="rgba(250, 166, 26, 1)"] {
            fill: var(--rs-idle-color) !important;
          }
          &[mask*="dnd"],
          &[fill="rgba(240, 71, 71, 1)"] {
            fill: var(--rs-dnd-color) !important;
          }
          &[mask*="offline"],
          &[mask*="invisible"]
          &[fill="rgba(116, 127, 141, 1)"] {
            fill: var(--rs-invisible-color) !important;
          }
        }
        &:hover {
          rect {
            stroke: rgb(var(--accent));
          }
          img {
            box-shadow:0 0 0 1px rgb(var(--accent));
          }
      }
      .wrapper-3t9DeA {
        width: var(--avatar-size-sm) !important;
        height: var(--avatar-size-sm) !important;
      }
      &[aria-expanded="true"] .avatar-SmRMf2 {
        border-color: rgb(var(--accent));
        rect {
          stroke: rgb(var(--accent));
        }
      }
    }
    .nameTag-3uD-yy {
      display: none;
    }
    .directionRow-3v3tfG {
      display: flex;
      width: 100%;
      background: var(--background);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-colour);
      overflow: hidden;
    }
  }
  .title-eS5yk3 {
    font-size: var(--font-size);
  }
}
