#app-mount .sidebar-2K8pFh .unread-1s3J68 {
  padding: 0;
  height: auto;
  .bar-30k2ka {
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--accent-solid);
    opacity: 1;
    height: auto;
    box-shadow: none;
    padding: var(--spacing) 0;
    &:before {
      content: none;
    }
  }
}