#app-mount .modal-3c3bKg {
  transition: none !important;
  transform: none !important;
  animation: fadeInDown 0.3s ease forwards !important;
  .root-SR8cQa {
    border-radius: 3px;
    background: transparent;
    box-shadow: var(--set-modal-brightness);
    &:before {
      content: "";
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &:after {
      content: "";
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--set-tint);
      backdrop-filter: blur(var(--modal-blur));
      box-shadow: var(--set-modal-brightness);
      z-index: -1;
    }
  }
}