#app-mount {
  .topSectionNormal-2-vo2m {
    background: var(--background-secondary);
  }
  .body-3ND3kc {
    background: transparent;
  }
  .tabBarContainer-1s1u-z {
    border: none;
  }
  .topSectionPlaying-1J5E4n {
    background: linear-gradient(rgba(var(--gradient-one), .7), rgba(var(--gradient-two), .7));
  }
  .topSectionSpotify-1lI0-P {
    background: rgba(29, 185, 84, 0.4);
  }
  .connectedAccount-36nQx7 {
    background: var(--background-secondary);
    border: none;
  }
  .actionButton-3W1xZa {
    font-weight: bold;
  }
  .lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: rgba(var(--gradient-one), 1);
  }
}