#app-mount .modal-3c3bKg .inner-1ilYF7 {
    display: block;
    background: var(--background-1);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 3px;
    .imageWrapper-2p5ogY {
        border-radius: 0;
        width: 100% !important;
        img {
            position: relative;
            display: block;
            margin: 0 auto;
        }
    }
    .downloadLink-1ywL9o {
        display: inline-block;
        box-sizing: border-box;
        margin: 10px 0 10px 10px;
        box-sizing: border-box;
        background: var(--background-2);
        padding: 0 10px;
        border-radius: 3px;
        color: var(--text-2) !important;
        opacity: 1;
        text-decoration: none;
        + span.downloadLink-1ywL9o {
            display: none;
        }
        &:last-child {
            margin-right: 10px;
        }
        &:hover {
            color: var(--text-1) !important;
        }
    }
}