$illustration_1: 'https://gibbu.github.io/BetterDiscord-Themes/Slate/assets/illustrations/1.svg';

$illustration_2: "https://svgshare.com/i/Kwt.svg";

$illustration_3: 'https://gibbu.github.io/BetterDiscord-Themes/Slate/assets/illustrations/3.svg';

$illustration_4: 'http://svgshare.com/i/PE0.svg';

$illustration_5: 'http://svgshare.com/i/PF1.svg';

$illustration_6: 'http://svgshare.com/i/PCm.svg';

$illustration_7: 'http://svgshare.com/i/PEe.svg';

$illustration_8: 'http://svgshare.com/i/PCy.svg';

$illustration_9: 'http://svgshare.com/i/PEU.svg';

$illustration_10: 'http://svgshare.com/i/PFB.svg';

$illustration_11: 'http://svgshare.com/i/PBK.svg';

$illustration_12: 'http://svgshare.com/i/PFH.svg';