#app-mount {
  .container-1r6BKw, .headerBar-1YYOfi, .libraryHeader-3g95kE, .title-3qD0b- {
    background: transparent;
    box-shadow: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    }
    .children-19S4PO:after {
      content: none;
    }
    .input-2A_zIr {
      border: none;
      box-shadow: none;
      &:hover {
        background: rgba(#fff, 0.05);
      }
      &:focus {
        background: rgba(#fff, 0.1);
      }
    }
    .icon-22AiRD, .title-29uC1r, .topic-TCb_qw {
      color: #fff;
    }
    .item-PXvHYJ {
      &:hover {
        background: rgba(#000, 0.3);
      }
      &.selected-3s45Ha {
        background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
      }
    }
  }
  .divider-3FBTu8 {
    background: rgba(#fff, 0.1);
  }
  .searchBar-3dMhjb, .searchBar-TUoVPN, .searchBar-s2JxlI {
    background: rgba(0,0,0,0.3);
    .public-DraftEditorPlaceholder-root {
      color: rgba(#fff, 0.3);
      font-weight: 400;
    }
    .searchFilter-2ESiM3 {
      background: rgba(#fff, 0.1);
    }
    .searchAnswer-3Dz2-q {
      background: rgba(#fff, 0.1);
      margin-left: 0;
    }
  }
}