/* ---------- MODALS START ---------- */

#app-mount {
    .modal-yWgWj- .content-38qMG0 {
        padding-top: 20px;
    }

    // Global modal styles
    .modal-3c3bKg {
        transition: none !important;
        transform: none !important;
        animation: fadeInTop 0.2s ease forwards;
        .input-cIJ7To, .cardPrimaryEditable-3KtE4g {
            background: rgba(#000, 0.3);
            border: none;
            color: #fff;
        }
        .divider-3WKGWk, .divider-38zUJA {
            border-color: rgba(#fff, 0.1);
        }
        .container-2XeR5Z {
            background: rgba(#000, 0.3);
        }
        .botTag-2WPJ74 {
            font-weight: bold;
        }
        .botTagInvert-18-95s {
            color: rgba(var(--BG-gradient-one), 1);
            background: #fff !important;
        }
        .lookInverted-2D7oAl.colorBrand-3pXr91 {
            font-weight: 600;
            color: rgba(var(--BG-gradient-one), 1);
        }
        .message-2qRu38 {
            background: rgba(#000, 0.3);
            border: none;
            box-shadow: none;
            pre {
                background: rgba(0,0,0,0.5);
                border: none;
                overflow: hidden;
                code {
                    background: transparent;
                    overflow: hidden;
                }
            }
            code {
                background: rgba(0,0,0,0.5);
            }
        }
        .lookFilled-1h1y05.select-1Pkeg4 {
            border: none;
            background: rgba(#000, 0.3);
        }
        .arrow-2KJjTM {
            color: #fff;
        }
        .removeOverride-2sdvVX {
            background-color: rgba(#000, 0.5);
            box-shadow: none;
        }
        .footer-2VgWkh {
            background: rgba(#000, 0.3);
        }
        .checkbox-1ix_J3[style*="rgb(114, 137, 218)"] {
            border: none;
            background: #fff;
            polyline {
                stroke: rgba(var(--BG-gradient-one), 1);
            }
        }
        .installSize-1eXbBX {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
        .override-2YgiXd {
            background: rgba(#000, 0.3);
            border: none;
            & > div:first-child {
                display: flex;
                align-items: center;
            }
        }
        .checkboxGroup-Z7AmuU .checkboxContainer-2vV9zd:before {
            background: rgba(#fff, 0.2);
        }
    }
    .modal-yWgWj-.modal-1sor29 {
        background: transparent;
        box-shadow: none;
        .header-2tA9Os, .footer-3rDWdC {
            background: rgba(#000, 0.3);
            box-shadow: none;
        }
        .selectable-x8iAUjmessage-content {
            padding-top: 20px;
        }
        .content-8biNdB p {
            color: #fff;
        }
        ul li {
            color: #fff;
        }
    }

    // Something
    .wrapper-2ZbzR9 {
        background: transparent;
    }

    // Join/Create Server
    .modal-yWgWj-.slide-2pHaq5.size-1XvbKb {
        background: transparent;
        .header-3ZP1MY {
            background: linear-gradient(to right, rgba(var(--BG-gradient-one), 1) 0%, rgba(var(--BG-gradient-two), 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .actionHeader-2CT5c7 {
            font-weight: bold;
        }
        .create-3jownz .actionHeader-2CT5c7 {
            background: linear-gradient(to right, rgba(var(--BG-gradient-one), 1) 0%, rgba(var(--BG-gradient-two), 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .slideBody-2nMrnU {
            background: transparent;
            .action-1lSjCi {
                background: rgba(#000, 0.3);
                box-shadow: none;
                border: none;
                transition: 0.2s ease;
                &:hover {
                    background: rgba(#000, 0.4);
                }
            }
            .actionBody-1qj65C {
                color: #fff;
            }
            .or-3THJsp {
                display: none;
            }
        }
        .create-3jownz .actionButton-2PeQbJ {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
        .avatarUploaderInner-3UNxY3 {
            background-color: rgba(var(--BG-gradient-one), 1)
        }
        .regionSelect-3lf4eE {
            .regionSelectName-2-2FWh {
                color: #fff;
            }
            .regionSelectInner-24f4Ce, button {
                border: none;
                background: rgba(#000, 0.3);
            }
            button:hover {
                background: rgba(#000, 0.4);
            }
        }
        .description-QF3836 {
            color: #fff;
        }
        .label-wQQoIq, .helpText-h3r3wC {
            color: #fff;
            font-weight: 500;
        }
        .avatar-21196O {
            border: none;
            box-shadow: 0 0 15px #000;
        }
        .input-1mgnkM, .input-UJ9Tr3 {
            border: none;
            background: rgba(#000, 0.3);
            border-radius: 3px;
            padding: 10px;
            box-sizing: border-box;
            color: #fff;
        }
        .footer-3rDWdC {
            background: rgba(#000, 0.3);
            box-shadow: none;
            .lookFilled-1Gx00P.colorGreen-29iAKY {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
            }
            .cancelButton-RGXhAE {
                color: #fff;
                &:before {
                    filter: brightness(2);
                }
                &:hover {
                    border-bottom-color: #fff;
                }
            }
        }
    }

    // Region Select
    .regionSelectModal-12e-57 {
        background: transparent;
        position: relative;
        overflow: hidden;
        & > div {
            position: relative;
        }
        .regionSelectModalOption-2DSIZ3 {
            background: rgba(#000, 0.3);
            border: none;
            .regionSelectName-2-2FWh {
                color: #fff;
            }
            &:hover {
                background: rgba(#000, 0.4);
            }
        }
    }

    // Nitro - Server Boost Status
    .modal-yWgWj- {
        background: transparent;
        box-shadow: none;
        position: relative;
        overflow: hidden;
        .tag-2gHSR7 {
            background: rgba(#fff, 0.1);
        }
        .sidebar-1-SQro {
            background: rgba(#000, 0.4);
        }
        .mention {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
            color: #fff !important;
            border: none !important;
            font-weight: 600 !important;
        }
        .isMentioned-N-h9aa {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 0.3), rgba(var(--BG-gradient-two), 0.3)) !important;
            &:after {
                background: transparent;
                border-color: rgba(var(--BG-gradient-one), 1)
            }
        }
        .reactors-Blmlhw {
            background: rgba(#000, 0.3);
        }
        .reactorDefault-1IUqMZ {
            box-shadow: inset 0 -1px 0 rgba(#fff, 0.05);
        }
        .reactionSelected-1pqISm {
            background: rgba(#fff, 0.05);
        }
        .footer-3rDWdC {
            background: rgba(#000, 0.3);
            box-shadow: none;
            .lookFilled-1Gx00P {
                &.colorBrand-3pXr91, &.colorGreen-29iAKY {
                    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
                }
                &.colorPrimary-3b3xI6 {
                    background: rgba(#000, 0.3);
                }
            }
        }
        .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
            background: rgba(#000, 0.3);
        }
        .tiles-2aXG_k, .option-1l2vXE {
            background: rgba(#000, 0.3);
            box-shadow: none;
            .tile-2QWaFv {color: #fff;}
        }
        .divider-1que2t {
            border-color: rgba(#fff, 0.1);
        }
        button.item-3T2z1R {
            background: rgba(#000, 0.3);
            border: none;
            &.selectorButtonSelected-1j4DmC {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
            }
        }
        .imageSelected-4Kl81J {
            border-color: rgba(var(--BG-gradient-one), 1);
        }
        .boostCount-UFqabz {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
            color: #fff;
        }
        .tierNoneContainer-3hhK3h, .barBackground-2EEiLw, .tierMarkerBackground-3q29am, .tierBody-16Chc9 {
            background: rgba(#000, 0.3);
        }
        .tierHeaderUnlocked-1n-OTI, .tierMarkerAccomplished-2MiXeg, .barForeground-3KglC8, .lookFilled-1Gx00P.colorGreen-29iAKY {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
        }
        .tierHeaderLocked-1s2JJz {
            background: rgba(#000, 0.6);
        }
        .carouselRightGradientEdge-2Z3H8D {
            background: linear-gradient(90deg, transparent, rgba(#000, 0.5))
        }
        .carouselLeftGradientEdge-3P4spl {
            background: linear-gradient(90deg, rgba(#000, 0.5), transparent)
        }
        .colorStandard-2KCXvj {
            color: #fff;
        }
    }

    // User modal
    .root-SR8cQa {
        & > div {position: relative;}
        .lookFilled-1Gx00P.colorGreen-29iAKY, .topSectionSpotify-1lI0-P, .botTag-2WPJ74 {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
        }
        .lookInverted-2D7oAl.colorGreen-29iAKY {
            color: rgba(var(--BG-gradient-one), 1);
            font-weight: 600;
            background: #fff !important;
        }
        .topSectionNormal-2-vo2m {
            background: rgba(#000, 0.3);
        }
        .tabBarContainer-1s1u-z {
            border-top: none;
        }
        .topSectionPlaying-1J5E4n {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
        }
        .body-3ND3kc {
            background: transparent;
        }
        .userInfoSection-2acyCx {
            border-color: rgba(#000, 0.1);
        }
        .userInfoSectionHeader-CBvMDh {
            color: rgba(#fff, 0.5);
            font-weight: 500;
        }
        .note-3kmerW textarea:focus {
            background: rgba(#000, 0.3);
        }
        .connectedAccount-36nQx7 {
            background: rgba(#000, 0.3);
            border: none;
            .connectedAccountName-f8AEe2 {
                color: #fff;
            }
        }
    }

    // Upload
    .uploadModal-2ifh8j {
        background: transparent;
        & > div {
            position: relative;
        }
        .autocompleteInner-zh20B_ {
            height: 145px;
            overflow-y: auto;
            .contentTitle-2tG_sM, .content-Qb0rXO {
                color: #fff;
            }
            .description-11DmNu, .descriptionUsername-J_75O8 {
                color: rgba(#fff, 0.6);
                font-weight: 400;
            }
            .divider-23swzi {
                background: rgba(#fff, 0.1);
            }
            .descriptionDiscriminator-3vUOCc {
                color: rgba(#fff, 0.3);
                font-weight: 400;
            }
        }
        .inner-3nWsbo {
            border: none;
        }
        .inner-zqa7da {
            background: rgba(#000, 0.3);
            textarea {
                color: #fff;
            }
        }
        .checkbox-1ix_J3.checked-3_4uQ9 polyline {
            stroke: rgba(var(--BG-gradient-one), 1);
        }
        .file-34mY5K {
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            .icon-kyxXVr {
                min-width: 60px;
                height: 90px;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0;
                background-size: cover;
                margin-left: 15px;
                border-color: rgba(var(--BG-gradient-one), 1);
            }
            .description-2ug5H_ {
                padding: 0;
                height: auto;
                margin-left: 15px;
            }
        }
        .footer-3mqk7D {
            background: rgba(#000, 0.3);
            .lookInverted-2D7oAl.colorBrand-3pXr91 {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
                color: #fff;
                font-weight: 600;
            }
        }
    }

    // Quick switcher
    .quickswitcher-3JagVE {
        background: transparent;
        box-shadow: none;
        .input-2VB9rf {
            background: rgba(#000, 0.3);
            box-shadow: none;
            &::placeholder {
                color: rgba(#fff, 0.5);
                font-weight: 300;
            }
        }
        .scrollerOuter-3FLELE {
            margin-top: 10px;
        }
        .resultFocused-3aIoYe {
            background: rgba(#000, 0.3);
        }
    }

    // Keyboard shortcuts
    .keyboardShortcutsModal-3piNz7 {
        background: transparent;
        .keybindDescription-2RDbC2 {
            color: #fff;
        }
        & > h1 {
            position: relative;
        }
        & > div:not(.ddrArrows-lSnH7P) {
            position: relative;
            border-color: rgba(#000, 0.1);
        }
    }

    // Drag & Drop
    .uploadModalIn-1z07Bv {
        .bgScale-1otPtc {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
        }
        .inner-3nWsbo {
            border: none;
        }
    }

    // Folder Settings
    .root-1gCeng.small-3iVZYw {
        background: transparent;
        box-shadow: none;
        animation: fadeInTop 0.2s ease forwards;
        .input-cIJ7To {
            background: rgba(#000, 0.3);
            border: none;
        }
        .footer-3rDWdC {
            background: rgba(#000, 0.3);
            box-shadow: none;
        }
    }

    // BD modals
    .bd-modal-wrapper {
        .bd-modal {
            animation: fadeInBottom 0.2s ease forwards;
        }
        &.closing .bd-modal {
            animation: fadeOutBottom 0.2s ease forwards;
        }
    }
    .bd-modal-inner {
        border: none;
        box-shadow: none;
        overflow: hidden;
        position: fixed;
        max-width: 1000px;
        margin: 0 var(--BG-window-padding);
        width: 100%;
        .header, .tab-bar-container {
            box-shadow: none;
            background: rgba(#000, 0.6);
        }
        .bd-modal-body {
            background: transparent;
        }
        .table-header {
            border: none;
        }
        .error {
            background: rgba(#000, 0.3);
            border: none;
            margin-bottom: 15px;
            padding: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .footer {
            position: relative;
            button {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
                color: #fff !important;
            }
        }
    }



}

/* ---------- MODALS END ---------- */
