/* ---------- POPOUTS START ---------- */

#app-mount {
    // Auto complete / GIFs
    .autocomplete-1vrmpx {
        background: transparent;
        .selectorSelected-1_M1WV {
            background: rgba(#000, 0.2);
        }
        .header-1TOWci {
            box-shadow: none;
            .container-cMG81i {
                background: rgba(#000, 0.2);
            }
        }
        .input-3Xdcic {
            color: #fff;
        }
        .categoryFadeBlurple-1j72_A {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), .8) 20%, rgba(var(--BG-gradient-two), .8));
        }
        .result-3w1ZcL {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
            &:hover:after {
                box-shadow: inset 0 0 0 2px rgba(var(--BG-gradient-one), 1), inset 0 0 0 3px #2f3136
            }
        }
        .focused-1En8bG:after {
            box-shadow: inset 0 0 0 2px rgba(var(--BG-gradient-two), 1), inset 0 0 0 3px #2f3136
        }
    }

    .popout-2iWAc- {
        box-shadow: none;
        border: none;
    }

    .option-96V44q:after {
        content: none;
    }

    // Server popout
    .container-3ayLPN {
        box-shadow: none;
        position: fixed;
        background: transparent;
        margin-left: -165px;
        .option-96V44q {
            .filter-3Y_im-, .displayedNick-3xxvzU {color: #fff;}
            .answer-1n6g43, .displayUsername-Qekxml {
                color: rgba(#fff, 0.6);
                font-weight: 400;
            }
            &.selected-rZcOL- {
                background: rgba(#000, 0.4);
                &:after {
                    content: none;
                }
            }
        }
        .resultsGroup-r_nuzN:before {
            border-top-color: rgba(#000, 0.3);
        }
        .header-2N-gMV {
            color: rgba(#fff, 0.5);
            font-weight: 400;
        }
    }
    #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked, .bda-settings-button {
        background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    }

    // User popouts
    .popoutRight-1veHKi .userPopout-3XzG_A {
        margin-left: 0;
        animation: fadeInRight 0.2s ease forwards !important;
    }
    .popoutLeft-3aViER .userPopout-3XzG_A {
        animation: fadeInLeft 0.2s ease forwards !important;
    }
    .noArrow-2foL9g.popout-2iWAc-.popoutRight-1veHKi.arrowAlignmentTop-1yftWI {
        transform: none !important;
    }
    .animatorRight-3i_YPs .userPopout-3XzG_A {
        margin-left: 0 !important;
    }
    .userPopout-3XzG_A {
        box-shadow: none;
        position: relative;
        margin-left: -270px;
        margin-top: -1px;
        opacity: 0;
        animation: fadeInRight 0.2s ease forwards !important;
        .headerPlaying-j0WQBV, .headerSpotify-zpWxgT {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
        }
        .botTagInvert-18-95s {
            color: rgba(var(--BG-gradient-one), 1);
            font-weight: bold;
        }
        .headerNormal-T_seeN, .body-3iLsc4 {
            background: transparent;
        }
        .rolesList-22qj2L {
            max-height: 300px;
            overflow-y: auto;
        }
        .bodyTitle-Y0qMQz {
            color: #fff;
            font-weight: 500;
        }
        .note-3kmerW textarea {
            &::placeholder {
                color: #fff;
            }
            &:focus {
                background: rgba(#000, 0.3);
            }
        }
        .role-2irmRk {
            height: auto;
            position: relative;
            overflow: hidden;
            color: #fff;
            .roleCircle-3xAZ1j::after {
                content: "";
                position: absolute;
                height: 24px;
                width: 100%;
                left: 0;
                top: 0;
                background: inherit;
                opacity: .2;
                z-index: -1;
            }
        }
        .footer-1fjuF6 {
            background: transparent;
            border-color: rgba(#000, 0.1);
            padding: 0;
            .quickMessage-2XpSaN {
                background: rgba(#000, 0.3);
                border: none;
                color: #fff;
                margin: 10px;
                width: 92%;
                &::placeholder {
                    color: #fff;
                }
            }
            .protip-YaFfgO {display: none;}
        }
    }
    .layer-v9HyYc[style*="left: 332px;"] .userPopout-3XzG_A {
        margin-left: 0;
    }
    .noArrow-2foL9g.popout-2iWAc-.popoutRight-1veHKi.arrowAlignmentTop-1yftWI.theme-undefined .userPopout-3XzG_A {
        margin-left: 0;
    }



    // Add role
    .autocompleteShadow-iiGWFU {
        box-shadow: none;
    }
    .autocompleteHeaderBackground-30T70q {
        background: transparent;
    }
    .header-2bNvm4 {
        .headerText-3i6A8K {
            color: #fff;
        }
        .input-1ppKdn {
            color: #fff;
            &::placeholder {
                color: rgba(#fff, 0.5);
            }
        }
    }
    .sectionTag-pXyto9 {
        background: transparent;
    }
    .autocompleteShadow-iiGWFU:before {
        box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, calc(var(--BG-popout-brightness) + 0.125))
    }
    .sectionTag-pXyto9 .row-rrHHJU.selected-1pIgLL {
        background: rgba(#000, 0.3);
    }

    // Filter Dropdown
    .filterBrowsingSelectPopout-2kjxuc {
        background: transparent;
    }


    // Status
    .menu-Sp6bN1 {
        background: transparent;
        box-shadow: none;
        overflow: hidden;
        & > div {
            position: relative;
            z-index: 1;
        }
        .item-1GzJrl {
            color: #fff;
            .helper-2c73HK {
                color: rgba(#fff, 0.5);
                font-weight: 400;
            }
            &:hover {
                background: rgba(#fff, 0.05);
            }
        }
        .separator-2zcjq8 {
            border-bottom-color: rgba(#fff, 0.1);
            &:last-of-type {
                border-bottom: none;
            }
        }
        &:before {
            box-shadow: inset 0 0 0 10000px rgba(0,0,0,calc(var(--BG-left-brightness) + 0.1));
        }
    }

    // Server dropdown
    .layer-v9HyYc[style*="top: 76px;"] .menu-Sp6bN1 {
        .item-1GzJrl {
            &:first-of-type {
                color: var(--nitro);
            }
            &.invite-271nFU {
                color: var(--blurple);
            }
            &.leave-1DRJfn {
                color: var(--red);
            }
        }
    }

    // Personal Pins by DevilBro
    .messagesPopoutWrap-1MQ1bW .container-2XeR5Z {
        background: rgba(#000, 0.3);
        input::placeholder {
            color: rgba(#fff, 0.5);
            font-weight: 400;
        }
    }

    // Create group chat
    .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy {
        background: transparent;
        box-shadow: none;
        margin-left: -430px;
        margin-top: 50px;
        position: absolute;
        .container-2XeR5Z {
            background: rgba(#000, 0.3);
            input::placeholder {
                color: rgba(#fff, 0.5);
                font-weight: 400;
            }
        }
        .defaultColor-1_ajX0, .subtitle-2P4u9v {
            color: #fff;
        }
        .friendSelected-3J_Uh8 {
            background: rgba(#fff, 0.1);
        }
        .separator-3gy7tq {
            box-shadow: 0 1px 0 0 rgba(#fff, 0.1);
        }
        .footerSeparator-M9dQY1 {
            box-shadow: 0 -1px 0 rgba(#fff, 0.1);
        }
    }

    // Query search
    .queryContainer-RKFJW-.focused-2bY0OD {
        background: transparent;
        overflow: hidden;
        border: none;
        &:before {
            box-shadow: inset 0 0 0 10000px rgba(0,0,0,calc(var(--BG-left-brightness) + 0.05));
        }
    }

    // Emoji picker
    .emojiPicker-3m1S-j {
        background: rgba(0,0,0,0.7);
        border: none;
        animation: fadeIn 0.2s ease forwards;
        .header-1nkwgG {
            border-color: rgba(#000, 0.2);
        }
        .searchBar-2pWH0_ {
            background: rgba(#000, 0.3);
            .input-1Rv96N {
                color: #fff;
                &::placeholder {
                    color: rgba(#fff, 0.5);
                    font-weight: 300;
                }
            }
        }
        .popout-2nUePc {
            background: #000;
            border: none;
        }
        .emojiItem-109bjA.selected-39BZ4S {
            background-color: rgba(#fff, 0.3);
        }
        [name="recent"].category-2U57w6 {opacity: 0;}
        .category-2U57w6 {
            color: #fff;
            background: transparent;
        }
        .stickyHeader-1SS0JU {
            background: linear-gradient(90deg, rgba(0,0,0,0.8), transparent);
        }
        .item-16cXuq.selected-39BZ4S {
            border-bottom-color: rgba(var(--BG-gradient-one), 1);
        }
    }

    // Call region selector
    .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W {
        background: transparent;
        position: fixed;
        margin-left: -100px;
        animation: fadeIn 0.2s ease forwards;
        .regionSelectName-c5qL8O {
            color: #fff;
        }
        .check-2by_h9 {
            filter: brightness(2);
        }
    }

    // RTC connection
    .container-2x5lvQ {
        background: transparent;
        box-shadow: none;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        animation: fadeIn 0.2s ease forwards;
        header {
            background: rgba(#000, 0.6);
        }
        section {
            background: rgba(#000, 0.3);
        }
        .sparkline-3A-8OK {
            circle {
                fill: rgba(var(--BG-gradient-one), 1) !important;
            }
            polyline {
                fill: rgba(var(--BG-gradient-two), 0.2) !important;
                stroke: rgba(var(--BG-gradient-two), 1) !important;
            }
        }
    }

    // Message option dropdown
    .container-3cGP6G {
        background: transparent;
        margin-left: -70px;
        animation: fadeInBottom 0.2s ease forwards;
        padding: 0;
        min-width: 80px;
        position: fixed;
        .itemGroup-1tL0uz {
            border-top-color: rgba(#fff, 0.1);
        }
        .item-2J1YMK{
            margin: 0;
            padding: 5px;
            box-sizing: border-box;
            width: 100%;
            color: #fff;
            border-radius: 0;
            cursor: pointer;
            &:hover {
                background: rgba(#000, 0.2);
            }
        }
    }

    // Right click context
    .contextMenu-HLZMGh {
        background: var(--BG-image-set) center/cover fixed;
        box-shadow: inset 0 0 0 300px rgba(#000, calc(var(--BG-popout-brightness) + .2));
        .itemGroup-1tL0uz {
            border-top-color: rgba(#fff, 0.1);
            &:first-child .item-1Yvehc:first-child {
                border-radius: 5px 7px 0 0;
            }
            &:last-child .item-1Yvehc:last-child {
                border-radius: 0 0 7px 5px;
            }
        }
        .bar-2Qqk5Z {
            background: rgba(#fff, 0.3);
        }
        .barFill-23-gu- {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
        }
        .item-1Yvehc {
            margin: 0;
            padding: 10px;
            box-sizing: border-box;
            width: 100%;
            color: #fff;
            border-radius: 0;
            cursor: pointer;
            &:hover {
                background: rgba(#fff, 0.1);
            }
        }
        .contextMenu-HLZMGh {
            .item-1Yvehc:first-child {
                border-radius: 7px 0 0 0 !important;
            }
            .item-1Yvehc:last-child {
                border-radius: 0 0 7px 5px !important;
            }
        }
    }

    // Pinned messages / Recent Mentions
    .messagesPopoutWrap-1MQ1bW {
        box-shadow: none;
        border: none;
        background: transparent;
        overflow: hidden;
        position: absolute;
        margin-left: -400px;
        animation: fadeInBottom 0.2s ease forwards;
        .header-ykumBX {
            background: rgba(#000, 0.3);
            box-shadow: none;
        }
        pre {
            background: rgba(0,0,0,0.5);
            border: none;
            overflow: hidden;
            code {
                background: transparent;
                overflow: hidden;
            }
        }
        code {
            background: rgba(0,0,0,0.5);
        }
        .actionButtons-1sUUug {
            box-shadow: none;
            background: transparent;
            .jumpButton-3DTcS_ {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
                color: #fff;
            }
        }
        [class*="timestamp"] {
            color: rgba(#fff, 0.5);
        }
        .messageGroupWrapper-o-Zw7G {
            background: rgba(#000, 0.3);
            border: none;
        }
        .footer-1kmXd4 {
            background: rgba(#000, 0.3);
        }
    }

    // Nitro card select
    .popout-2sKjHu {
        background: rgba(#000, 0.7);
        box-shadow: none;
        border: none;
        .optionActive-KkAdqq {
            background: rgba(#fff, 0.1);
        }
        .optionNormal-12VR9V:hover {
            background: rgba(#fff, 0.05);
        }
    }

    // User management add roles
    .overflowRolesPopout-140n9i {
        background: transparent;
        border: none;
        box-shadow: none;
        position: relative;
        .overflowRolesPopoutHeaderText-1SW-y3 {
            color: #fff;
            font-weight: 500;
        }
        svg path {
            fill: #fff;
        }
    }

    // Search roles
    .membersFilterPopout-URUUD- {
        background: transparent;
        box-shadow: none;
        position: absolute;
        animation: fadeInBottom 0.2s ease forwards;
        margin-left: -100px;
        .container-cMG81i {
            background: rgba(#000, 0.3);
            .input-3Xdcic {
                color: #fff;
                &::placeholder {
                    color: rgba(#fff, 0.5);
                    font-weight: 400;
                }
            }
        }
        .selectableItem-1MP3MQ {
            &:hover {
                background: rgba(#000, 0.3);
            }
            &[style*="rgb(114, 137, 218)"] {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
            }
        }
    }

    // Colour picker
    .colorPickerCustom-2CWBn2 {
        background: transparent;
        border: none;
        animation: fadeInTop 0.2s ease forwards;
        position: absolute;
        margin-left: -115px;
        .input-cIJ7To {
            background: rgba(#000, 0.3);
            border: none;
        }
    }

    // Add game
    .addGamePopout-2RY8Ju {
        background: rgba(#000, 0.8);
        box-shadow: none;
        .css-mhi7q3-placeholder {
            opacity: 1;
        }
    }

    // Calender
    .datePicker--XZbmJ {
        .react-datepicker {
            background: transparent;
            .react-datepicker__header {
                background: transparent;
                .react-datepicker__current-month {
                    color: #fff;
                    border-bottom: none;
                }
            }
            .react-datepicker__day.react-datepicker__day--selected:after {
                background: rgba(var(--BG-gradient-one), 1);
            }
            .react-datepicker__day {
                border-color: rgba(#000, 0.3);
                color: #fff;
                &:hover {
                    background: rgba(var(--BG-gradient-one), 1)
                }
                &.react-datepicker__day--disabled, &[class*="--outside-month"] {
                    background: rgba(#000, 0.3);
                }
            }
            .datePickerHint-3Q1Udw {
                border-top-color: rgba(#fff, 0.1);
            }
        }
        .hintValue-29ny8Z {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
        }
    }

    // Incoming call
    .incomingCallInner-2VmFiR {
        background: rgba(#000, 0.8);
        border: none;
        .lookFilled-1Gx00P.colorGreen-29iAKY {
            background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
        }
    }

    // Audit logs popouts
    .guildSettingsAuditLogsUserFilterPopout-3Jg5NE {
        background: transparent;
        box-shadow: none;
        position: fixed;
        margin-left: -170px;
        animation: fadeInBottom 0.2s ease forwards;
        .divider-3573oO {
            background: rgba(#fff, 0.1);
        }
        .container-cMG81i {
            background: rgba(#000, 0.3);
        }
        .selectableItem-1MP3MQ {
            &:hover {
                background: rgba(#000, 0.3);
            }
            &[style*="rgb(114, 137, 218)"] {
                background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
            }
        }
    }









}
/* ---------- POPOUTS END ---------- */
