#app-mount .tooltipBlack-PPG47z {
  background: rgba(var(--gradient-one), 1);
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  .activityIcon-c4ew_N {
    color: #fff;
  }
  .tooltipPointer-3ZfirK {
    border-top-color: rgba(var(--gradient-one), 1);
  }
}