#app-mount {
    .tooltipBlack-PPG47z {
        background: var(--BG-gradient);
        .tooltipPointer-3ZfirK {
            display: none;
        }
    }
    .tooltip-2QfLtc {
        color: var(--text-normal);
        text-align: center;
    }
    .container-3T1zWi::before {
        content: none;
    }
}