#app-mount .container-1r6BKw {
    background: transparent;
    .children-19S4PO::after {
        content: none;
    }
    .searchBar-3dMhjb {
        background: rgba(#000, 0.3);
        .public-DraftEditorPlaceholder-root {
            color: var(--text-normal);
            opacity: .5;
            font-weight: 400;
        }
        .searchFilter-2ESiM3 {
            background: rgba(#fff, 0.1);
        }
        .searchAnswer-3Dz2-q {
            background: rgba(#fff, 0.1);
            margin-left: 0;
        }
    }
}