.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #fff;
    --text-muted: #777;
    --text-link: #00b0f4;
    --channels-default: #{rgba(#fff, 0.7)};
    --interactive-normal: #b9bbbe;
    --interactive-hover: #{rgba(#fff, 0.7)};
    --interactive-active: #fff;
    --interactive-muted: #{rgba(#fff, 0.2)};
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-header: #2f3136;
    --background-modifier-hover: #{rgba(#fff, 0.1)};
    --background-modifier-active: #{rgba(#fff, 0.05)};
    --background-modifier-selected: #{rgba(#fff, 0.1)};
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-panel-background: #292b2f;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}