:root {
    --BG-image-default: url('https://i.imgur.com/kYW2H5C.jpg');
    --BG-image-set: var(--BG-image, var(--BG-image-default));
    --BG-gradient: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
    --TB-tr-roundness: var(--BG-window-roundness);
    --TB-position-top: var(--BG-window-padding);
    --TB-position-right: var(--BG-window-padding);
    --blurple: 114, 137, 218;
    --spotify: 29, 185, 84;
    --twitch: 89, 54, 149;
    --nitro: #ff73fa;
    --red: #f04747;
    --roundness: 50px;
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #fff;
    --text-muted: #777;
    --text-link: #00b0f4;
    --channels-default: rgba(255, 255, 255, 0.7);
    --interactive-normal: #b9bbbe;
    --interactive-hover: rgba(255, 255, 255, 0.7);
    --interactive-active: #fff;
    --interactive-muted: rgba(255, 255, 255, 0.2);
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-header: #2f3136;
    --background-modifier-hover: rgba(255, 255, 255, 0.05);
    --background-modifier-active: rgba(255, 255, 255, 0.1);
    --background-modifier-selected: rgba(255, 255, 255, 0.1);
    --background-modifier-accent: rgba(255, 255, 255, 0.05);
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --logo-primary: #fff;
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-panel-background: #292b2f;
    --deprecated-card-bg: rgba(255, 255, 255, 0.05);
    --deprecated-card-editable-bg: rgba(255, 255, 255, 0.05);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.2);
    --deprecated-text-input-border: transparent;
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

::-webkit-scrollbar { width: 8px !important; height: 8px !important; }

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece { border-color: transparent !important; background: transparent !important; }

::-webkit-scrollbar-thumb { border-radius: 10px !important; border: none !important; background-clip: content-box !important; background-color: rgba(0, 0, 0, 0.5) !important; }

::-webkit-scrollbar-corner { visibility: hidden !important; }

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner, .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar { display: none !important; }

#app-mount .container-1r6BKw { background: transparent; }

#app-mount .container-1r6BKw .children-19S4PO::after { content: none; }

#app-mount .container-1r6BKw .searchBar-3dMhjb { background: rgba(0, 0, 0, 0.3); }

#app-mount .container-1r6BKw .searchBar-3dMhjb .public-DraftEditorPlaceholder-root { color: var(--text-normal); opacity: .5; font-weight: 400; }

#app-mount .container-1r6BKw .searchBar-3dMhjb .searchFilter-2ESiM3 { background: rgba(255, 255, 255, 0.1); }

#app-mount .container-1r6BKw .searchBar-3dMhjb .searchAnswer-3Dz2-q { background: rgba(255, 255, 255, 0.1); margin-left: 0; }

#app-mount .tooltipBlack-PPG47z { background: var(--BG-gradient); }

#app-mount .tooltipBlack-PPG47z .tooltipPointer-3ZfirK { display: none; }

#app-mount .tooltip-2QfLtc { color: var(--text-normal); text-align: center; }

#app-mount .container-3T1zWi::before { content: none; }

#app-mount .notice-2FJMB4 { border-radius: 0; height: 48px; box-shadow: none; background: rgba(var(--twitch), 0.5); display: flex; align-items: center; justify-content: center; }

#app-mount .notice-2FJMB4 .dismiss-SCAH9H { right: unset; left: 0; position: absolute; height: 100%; background-position: center; }

#app-mount .notice-2FJMB4 button { top: 0; }

body { background: var(--BG-image-set) center/cover fixed; }

#app-mount { background: transparent; }

#app-mount .app-2rEoOp, #app-mount .bg-h5JY_x { background: transparent; }

#app-mount [class*="scroller"] { background: transparent; }

#app-mount .notice-2FJMB4 + .content-98HsJk::before { top: 96px; }

#app-mount .content-98HsJk::before { content: ""; position: absolute; top: 48px; width: 100%; height: 4px; background: linear-gradient(rgba(0, 0, 0, 0.2), transparent); display: block; pointer-events: none; z-index: 1; }

#app-mount .layer-3QrUeG.baseLayer-35bLyl { transform: scale(1) !important; opacity: 1 !important; margin: var(--BG-window-padding); box-sizing: border-box; padding-top: 0; top: 0; backdrop-filter: blur(var(--BG-image-blur)); background: rgba(var(--BG-tint-colour), var(--BG-tint-brightness)); border-radius: var(--BG-window-roundness); }

#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91 { background: var(--BG-gradient); }

::selection { background: rgba(var(--BG-gradient-two), 1); color: #fff; }

html.theme-light body { display: flex; justify-content: center; }

html.theme-light body:before { content: "Error 404: Frosted Glass Light Theme not found. \A Switch to Dark Theme to remove this notice."; white-space: pre-wrap; top: 0; z-index: 1; background: var(--BG-gradient); position: absolute; display: block; border-radius: 0 0 5px 5px; padding: 15px; box-sizing: border-box; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); color: #fff; font-weight: 500; animation: fadeInTop 0.4s ease forwards; text-align: center; }

html.theme-light body:before:hover { opacity: 0; }

#app-mount .guilds-1SWlCJ { background: transparent; box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--BG-serverlist-brightness)); border-radius: var(--BG-window-roundness) 0 0 var(--BG-window-roundness); }

#app-mount .guilds-1SWlCJ .scroller-2TZvBN { padding-top: 12px; }

#app-mount .guilds-1SWlCJ .scroller-2TZvBN .listItem-2P_4kh:first-child .wrapper-1BJsBx .childWrapper-anI2G9 { background: var(--BG-gradient); }

#app-mount .guilds-1SWlCJ .folder-21wGz3 { background: transparent; }

#app-mount .guilds-1SWlCJ .expandedFolderBackground-2sPsd- { background: rgba(0, 0, 0, 0.3); }

#app-mount .guilds-1SWlCJ .childWrapper-anI2G9 { background: rgba(0, 0, 0, 0.2); }

#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig { background-color: rgba(0, 0, 0, 0.2); color: rgba(var(--BG-gradient-one), 1); }

#app-mount .guilds-1SWlCJ .circleIconButton-jET_ig:hover { color: rgba(var(--BG-gradient-two), 1); }

#app-mount .guilds-1SWlCJ .guildsError-b7zR5H { background: var(--red); }

#app-mount .sidebar-2K8pFh { background: transparent; border-radius: 0; box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--BG-left-brightness)); }

#app-mount .sidebar-2K8pFh .container-PNkimc, #app-mount .sidebar-2K8pFh .privateChannels-1nO12o { background: transparent; }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd .icon-1_QxNX { color: var(--channels-default); }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeMuted-3osy7j .content-3at_AU .icon-1_QxNX { color: var(--interactive-muted); }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd:hover .content-3at_AU { background: var(--background-modifier-hover); }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd:hover .content-3at_AU .icon-1_QxNX { color: var(--interactive-hover); }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU { background: var(--background-modifier-hover); }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX { color: var(--interactive-active); }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU { background: var(--BG-gradient); }

#app-mount .sidebar-2K8pFh .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .icon-1_QxNX { color: #fff; }

#app-mount .sidebar-2K8pFh .panels-j1Uci_ { background: transparent; }

#app-mount .chat-3bRxxu { background: transparent; box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--BG-right-brightness)); border-radius: 0 var(--BG-window-roundness) var(--BG-window-roundness) 0; }

#app-mount .chat-3bRxxu .content-yTz4x3::before { content: none; }

#app-mount .chat-3bRxxu .welcomeMessage-3_Mcht h1 { background: linear-gradient(to right, rgba(var(--BG-gradient-one), 1) 0%, rgba(var(--BG-gradient-two), 1) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; line-height: 18px; text-shadow: none !important; }

#app-mount .chat-3bRxxu .welcomeMessage-3_Mcht p { color: #fff; }

#app-mount .chat-3bRxxu .messagesWrapper-3lZDfY { text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }

#app-mount .chat-3bRxxu .wrapper-3WhCwL { background: var(--BG-gradient); color: #fff; }

#app-mount .chat-3bRxxu code { background: rgba(0, 0, 0, 0.3); text-shadow: none; border: none; }

#app-mount .chat-3bRxxu .timestampCozy-2hLAPV, #app-mount .chat-3bRxxu .edited-DL9ECl { color: var(--text-normal); opacity: .5; font-weight: 400; }

#app-mount .chat-3bRxxu .embedFull-2tM8--, #app-mount .chat-3bRxxu .wrapper-35wsBm { background: rgba(0, 0, 0, 0.3); }

#app-mount .chat-3bRxxu .attachment-33OFj0 { background: rgba(0, 0, 0, 0.3); border: none; }

#app-mount .chat-3bRxxu .isMentioned-N-h9aa { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 0.3), rgba(var(--BG-gradient-two), 0.3)); }

#app-mount .chat-3bRxxu .isMentioned-N-h9aa::after { border-left-color: rgba(var(--BG-gradient-one), 1); background: none; left: -4px; }

#app-mount .chat-3bRxxu .scrollableContainer-2NUZem { background: rgba(255, 255, 255, 0.1); }

#app-mount .chat-3bRxxu .scrollableContainer-2NUZem .attachWrapper-2TRKBi { border-color: rgba(255, 255, 255, 0.03); }

#app-mount .chat-3bRxxu .scrollableContainer-2NUZem .placeholder-37qJjk { color: var(--text-normal); opacity: .3; }

#app-mount .membersWrap-2h-GB4 .member-3-YXUe.selected-aXhQR6 { background: var(--BG-gradient); }

#app-mount .membersWrap-2h-GB4 .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0, #app-mount .membersWrap-2h-GB4 .member-3-YXUe.selected-aXhQR6 .activity-2Gy-9S { color: var(--text-normal) !important; }

#app-mount .membersWrap-2h-GB4 .layout-2DM8Md { background-color: transparent; }

#app-mount .membersWrap-2h-GB4 .activity-2Gy-9S { color: var(--text-normal); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) { background: rgba(0, 0, 0, 0.5); left: calc(var(--BG-window-padding) / -1); right: calc(var(--BG-window-padding) / -1); bottom: calc(var(--BG-window-padding) / -1); margin: var(--BG-window-padding); box-sizing: border-box; transform: scale(1) !important; opacity: 1 !important; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .standardSidebarView-3F1I7i { background: rgba(0, 0, 0, 0.2); border-radius: var(--BG-window-roundness); overflow: hidden; margin: 0 var(--BG-window-padding) var(--BG-window-padding); backdrop-filter: blur(var(--BG-other-blur)); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .cardPrimaryEditable-3KtE4g { border: none; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .codeRedemptionRedirect-1wVR4b { border: none; background: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .css-13kbzi0-control, #app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .lookFilled-1h1y05.select-1Pkeg4 { background-color: rgba(0, 0, 0, 0.2); border-color: transparent; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .finePrint-ULGqdp { color: #fff; opacity: .5; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy { background: transparent; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .userInfoViewing-16kqK3 .h5-18_1nd { color: var(--text-normal); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:not([class]) .viewBody-2Qz-jg { color: transparent; position: relative; transition: 0.2s ease 0.5s; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:not([class]) .viewBody-2Qz-jg:before { content: "Hover to reveal"; color: #fff; opacity: .3; font-size: 12px; position: absolute; top: 50%; transform: translateY(-50%); transition: 0.2s ease 0.5s; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:not([class]) .viewBody-2Qz-jg:hover { color: #fff; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .userInfoViewing-16kqK3 .flexChild-faoVW3 > div:not([class]) .viewBody-2Qz-jg:hover:before { opacity: 0; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .cardPrimaryOutline-29Ujqw { border: none; background: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .accountBtnInner-sj5jLs { background-color: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A { background-color: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .paginator-166-09, #app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .payment-xT17Mq { background: transparent; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A > .paymentRow-2e7VM6 { border-bottom-color: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .scrollerWrap-2lJEkd { border: none; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .scroller-2FKFPG .bottomDivider-1K9Gao { border: none; }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .expandedInfo-3kfShd { background: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .pageButtonPrev-1Y-47D, #app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .pageIndicator-1gAbyA, #app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .paymentPane-3bwJ6A .pageButtonNext-V2kUq0 { border: none; background: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .detailsBlock-FoDTGA { background: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .tier1Banner-1BTgv0 { background: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .contentRegion-3nDuYy .cardWrapper-2Min21 { background: var(--deprecated-card-bg); }

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl) .cardPrimary-1Hv-to { border: none; }

#app-mount .layer-3QrUeG.baseLayer-35bLyl.stop-animations.animating-rRxada + div { animation: fadeIn 0.4s ease forwards; }

#app-mount .layer-3QrUeG.baseLayer-35bLyl:not([style*="transform: scale(0.93)"]) + div { animation: fadeOut 0.4s ease forwards; }

.userPopout-3XzG_A, .popoutRight-1veHKi.noArrow-2foL9g { background: rgba(var(--BG-tint-colour), calc(var(--BG-tint-brightness) / 2)); box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--BG-popout-brightness)); backdrop-filter: blur(var(--BG-other-blur)); }

.userPopout-3XzG_A .headerNormal-T_seeN, .popoutRight-1veHKi.noArrow-2foL9g .headerNormal-T_seeN { background: transparent; }

.userPopout-3XzG_A .headerPlaying-j0WQBV, .popoutRight-1veHKi.noArrow-2foL9g .headerPlaying-j0WQBV { background: rgba(var(--blurple), 0.3); }

.userPopout-3XzG_A .headerStreaming-2FjmGz, .popoutRight-1veHKi.noArrow-2foL9g .headerStreaming-2FjmGz { background: rgba(var(--twitch), 0.4); }

.userPopout-3XzG_A .headerSpotify-zpWxgT, .popoutRight-1veHKi.noArrow-2foL9g .headerSpotify-zpWxgT { background: rgba(var(--spotify), 0.4); }

.userPopout-3XzG_A .bodyTitle-Y0qMQz, .popoutRight-1veHKi.noArrow-2foL9g .bodyTitle-Y0qMQz { color: var(--text-normal); }

.userPopout-3XzG_A .lookOutlined-3sRXeN.colorWhite-rEQuAQ, .popoutRight-1veHKi.noArrow-2foL9g .lookOutlined-3sRXeN.colorWhite-rEQuAQ { background: rgba(255, 255, 255, 0.1); border: none; }

.userPopout-3XzG_A .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover, .popoutRight-1veHKi.noArrow-2foL9g .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover { background: #fff; color: rgba(var(--BG-gradient-one), 1); }

.userPopout-3XzG_A .addButton-pcyyf6, .popoutRight-1veHKi.noArrow-2foL9g .addButton-pcyyf6 { position: absolute; top: 8px; right: 5px; border: none; }

.userPopout-3XzG_A .footer-1fjuF6, .popoutRight-1veHKi.noArrow-2foL9g .footer-1fjuF6 { padding: 0; border: none; background-color: transparent; }

.userPopout-3XzG_A .footer-1fjuF6 input, .popoutRight-1veHKi.noArrow-2foL9g .footer-1fjuF6 input { background: rgba(0, 0, 0, 0.3); border: none; margin: 0 10px 10px 10px; width: calc(100% - 20px); }

.userPopout-3XzG_A .footer-1fjuF6 .protip-YaFfgO, .popoutRight-1veHKi.noArrow-2foL9g .footer-1fjuF6 .protip-YaFfgO { display: none; }

#app-mount .container-3ayLPN { background: rgba(var(--BG-tint-colour), calc(var(--BG-tint-brightness) / 2)); box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--BG-popout-brightness)); }

#app-mount .container-3ayLPN .header-2N-gMV { color: var(--text-normal); }

#app-mount .container-3ayLPN .displayedNick-3xxvzU, #app-mount .container-3ayLPN .filter-3Y_im- { color: var(--text-normal); }

#app-mount .container-3ayLPN .displayUsername-Qekxml, #app-mount .container-3ayLPN .answer-1n6g43, #app-mount .container-3ayLPN .option-96V44q strong { color: var(--text-normal); opacity: .7; font-weight: 400; }

#app-mount .container-3ayLPN .queryContainer-RKFJW- { border: none; }

#app-mount .container-3ayLPN .queryContainer-RKFJW-.focused-2bY0OD { background: rgba(0, 0, 0, 0.3); }

#app-mount .container-3ayLPN .resultsGroup-r_nuzN::before { content: none; }

#app-mount .container-3ayLPN .option-96V44q .plusIcon-v0BTrL { display: none; }

#app-mount .container-3ayLPN .option-96V44q.selected-rZcOL- { background-color: rgba(255, 255, 255, 0.1); }

#app-mount .container-3ayLPN .option-96V44q:after { content: none; }

#app-mount .popoutBottom-2GAFPg.noArrow-2foL9g { backdrop-filter: blur(var(--BG-other-blur)); }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadeInTop { from { opacity: 0;
    transform: translateY(-10px); }
  to { opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight { from { opacity: 0;
    transform: translateX(10px); }
  to { opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInBottom { from { opacity: 0;
    transform: translateY(10px); }
  to { opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInLeft { from { opacity: 0;
    transform: translateX(-10px); }
  to { opacity: 1;
    transform: translateX(0); } }

@keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }

@keyframes fadeOutBottom { from { opacity: 1;
    transform: translateX(0); }
  to { opacity: 0;
    transform: translateY(-10px); } }