@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro:300,400,600,700|Open+Sans:300,400,600');
* {outline-width: 0 !important; font-family: 'Roboto';}
body, html {padding: 0; margin: 0;}

.f {display: flex;}
.f1 {flex: 1;}
.f2 {flex: 2;}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
.responsiveIframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


$bg1: #151515;


body {
    background: $bg1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centre {
    max-width: 1280px;
    position: relative;
}

header {
    padding-bottom: 25px;
    display: flex;
    .headerLeft {
        flex: 1;
        h1 {
            font-weight: 400;
            color: #fff;
            margin: 0 0 5px 0;
        }
        p {
            color: #aaa;
            margin: 0;
        }
    }
    .headerRight {
        display: flex;
        align-items: flex-start;
        a, button {
            text-decoration: none;
            background: transparent;
            border: none;
            color: #fff;
            display: block;
            padding: 15px 25px;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.1s ease;
            i {
                padding-right: 10px;
            }
            &:active {
                position: relative;
                transform: translateY(3px);
                box-shadow: none;
            }
        }
        a {
            background: #3F51B5;
            box-shadow: 0 3px 0 darken(#3F51B5, 20%);
        }
        button {
            margin-right: 10px;
            background: #4CAF50;
            box-shadow: 0 3px 0 darken(#4CAF50, 20%);
        }
    }
}

#lightSlider {
    li {
        position: relative;
        max-height: 720px;
        max-width: 1280px;
        img {
            height: 100% !important;
            width: 100% !important;
            display: block;
        }
        p {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0,0,0,0.8);
            margin: 0;
            padding: 15px;
            box-sizing: border-box;
            color: #fff;
        }
    }
}




#list {
    height: 720px;
    max-height: 720px;
    width: 1280px;
    position: absolute;
    top: 94px;
    left: 0;
    z-index: 104;
    background: $bg1;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: auto;
    display: none;
    h1 {
        color: #fff;
        margin-top: 0;
        font-weight: 400;
    }
    h3 {
        border-bottom: 1px solid rgba(255,255,255,0.1);
        color: #fff;
        padding-bottom: 5px;
    }
    ul {
        margin-bottom: 45px;
        li {
            color: #fff;
        }
    }
}
