@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro:300,400,600,700|Open+Sans:300,400,600');
* {outline-width: 0 !important; font-family: 'Roboto';}
body, html {padding: 0; margin: 0;}

.f {display: flex;}
.f1 {flex: 1;}
.f2 {flex: 2;}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
.responsiveIframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}




























































































































// RESPONSIVE RULES
@media only screen and (max-width: 1280px) {}
@media only screen and (min-width: 1026px) {}
@media only screen and (min-width: 751px) {}
@media only screen and (max-width: 750px) {}
@media only screen and (max-width: 450px) {}











































