@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro:300,400,600,700|Open+Sans:300,400,600");
* {
  outline-width: 0 !important;
  font-family: 'Roboto'; }

body, html {
  padding: 0;
  margin: 0; }

.f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.f1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.f2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.wrapper {
  width: 1280px;
  margin: 0 auto; }

.responsiveIframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .responsiveIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body {
  background: #151515;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#centre {
  max-width: 1280px;
  position: relative; }

header {
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header .headerLeft {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    header .headerLeft h1 {
      font-weight: 400;
      color: #fff;
      margin: 0 0 5px 0; }
    header .headerLeft p {
      color: #aaa;
      margin: 0; }
  header .headerRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    header .headerRight a, header .headerRight button {
      text-decoration: none;
      background: transparent;
      border: none;
      color: #fff;
      display: block;
      padding: 15px 25px;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      -webkit-transition: 0.1s ease;
      -o-transition: 0.1s ease;
      transition: 0.1s ease; }
      header .headerRight a i, header .headerRight button i {
        padding-right: 10px; }
      header .headerRight a:active, header .headerRight button:active {
        position: relative;
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-box-shadow: none;
        box-shadow: none; }
    header .headerRight a {
      background: #3F51B5;
      -webkit-box-shadow: 0 3px 0 #252f69;
      box-shadow: 0 3px 0 #252f69; }
    header .headerRight button {
      margin-right: 10px;
      background: #4CAF50;
      -webkit-box-shadow: 0 3px 0 #2d682f;
      box-shadow: 0 3px 0 #2d682f; }

#lightSlider li {
  position: relative;
  max-height: 720px;
  max-width: 1280px; }
  #lightSlider li img {
    height: 100% !important;
    width: 100% !important;
    display: block; }
  #lightSlider li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff; }

#list {
  height: 720px;
  max-height: 720px;
  width: 1280px;
  position: absolute;
  top: 94px;
  left: 0;
  z-index: 104;
  background: #151515;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  display: none; }
  #list h1 {
    color: #fff;
    margin-top: 0;
    font-weight: 400; }
  #list h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    padding-bottom: 5px; }
  #list ul {
    margin-bottom: 45px; }
    #list ul li {
      color: #fff; }
