#bd-settingspane-container {
  .bd-search-wrapper {
    background: transparent;
    border-radius: 0;
    padding: 0;
    input {
      border-radius: var(--border-radius);
      background: var(--topbar-background);
      font-size:var(--font-size);
      border:1px solid var(--border-colour);
      color:var(--text-normal);
      transition:none;
      padding:0 var(--spacing-half);
      height:25px;
      line-height:24px;
      &:focus, .focused-1mmYsC {
        border:1px solid var(--accent-solid);
        box-shadow:0 0 0 2px rgba(var(--accent), 0.25);
      }
    }
    svg {
      display: none;
    }
  }

  .bd-addon-card {
    background: var(--background-dark);
    border: 1px solid var(--border-colour);
    padding: 0;
    position: relative;
    .bda-header {
      padding: var(--spacing) var(--spacing) 0;
      box-sizing: border-box;
      border: none;
      font-size: var(--font-size);
      font-weight: var(--font-weight-normal);
    }

    .bda-description {
      padding: var(--spacing);
      box-sizing: border-box;
      border-color: var(--border-colour);
      margin: 0;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-light);
    }

    .bda-footer {
      padding: var(--spacing) 77px var(--spacing) var(--spacing);
      border-color: var(--border-colour);
    }
    .bda-links {
      display: flex;
      font-size: 0;
    }
    .bda-link {
      --button-colour: var(--accent);
      margin-right: var(--spacing);
      color: var(--white);
      background-color: rgb(var(--button-colour));
      &:hover {
        box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
      }
      &:focus {
        box-shadow: 0 0 0 2px rgba(var(--button-colour), 0.25), inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
      }
    }

    .bd-addon-button {
      --button-colour: var(--discord-red);
      position: absolute;
      bottom: var(--spacing);
      right: var(--spacing);
      border: 1px solid rgb(var(--button-colour)) !important;
      color: rgba(var(--button-colour), 0.75);
      background: transparent;
      &:before {
        content: "Delete";
      }
      svg {
        display: none;
      }
      &:hover {
        color: rgb(var(--discord-red));
      }
      &:focus {
        box-shadow: 0 0 0 2px rgba(var(--button-colour), 0.25);
      }
    }

  }
}