:root {
    /* Variables from other themes */
    --winBtns: 0 12px 0 12px; /* SimplyDarkDiscord */
}

.container-2td-dC, .container-2td-dC .avatar-S_nsxk, .container-2td-dC .guildInner-3DSoA4 a, .guildsError-3cFMtY, .container-2td-dC .icon-3o6xvg, .wrapper-2lTRaf {
    width: var(--HSL-size) !important;
    height: var(--HSL-size) !important;
}
.wrapper-1Rf91z:not(.foldercontent) .wrapper-1Rf91z .scroller-2FKFPG > .container-1ETFDs, .wrapper-1Rf91z:not(.foldercontent) .wrapper-1Rf91z .scroller-2FKFPG > .container-1ETFDs .guildInner-3DSoA4, .wrapper-1Rf91z:not(.foldercontent) .wrapper-1Rf91z .scroller-2FKFPG > .container-1ETFDs .guildInner-3DSoA4 a {
    height: calc(var(--HSL-size) - 10px) !important;
    width: calc(var(--HSL-size) - 10px) !important;
}

.container-2lgZY8 {
    display: flex !important;
    flex-direction: column !important;
}
.container-2td-dC.unread-2OHH1w:before {
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
}
div[role="dialog"].layer-3QrUeG {
    padding-top: 0 !important;
}
.base-3dtUhz {
    border-radius: 0 !important;
}
.wrapper-1Rf91z .scrollerWrap-2lJEkd {
    width: 100%;
    overflow: hidden;
}
.wrapper-1Rf91z:not(.foldercontent) {
    width: 100% !important;
    padding-top: 22px !important;
    border-radius: 0;
    max-height: calc(var(--HSL-size) + 25px) !important;
    height: auto
}
.wrapper-1Rf91z .scroller-2FKFPG > .container-1ETFDs {
    position: absolute;
    left: 10px;
    top: 10px;
    height: calc(var(--HSL-size) - 5px) !important;
    width: calc(var(--HSL-size) - 5px) !important;
}
.homeButton-2Cw51C {
    height: calc(var(--HSL-size) - 5px) !important;
    width: calc(var(--HSL-size) - 5px) !important;
}
.wrapper-1Rf91z .scroller-2FKFPG {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 !important;
    padding-left: calc(var(--HSL-size) + 25px) !important;
}
.container-2td-dC:not(.dms-rcsEnV .container-2td-dC):first-child {
    margin-right: 10px;
}
.guildSeparator-3s64Iy {
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: var(--HSL-size);
    margin-bottom: 0;
    border-radius: 0;
    position: absolute;
    margin-left: -5px;
    background: #2f3136;
}
.guildSeparator-3s64Iy:after {
    content: none;
}
.dms-rcsEnV {
    display: flex;
    margin: 10px 0 0 5px;
}
.dms-rcsEnV:empty {
    margin-left: 0;
}
.dms-rcsEnV .container-2td-dC+.container-2td-dC {
    margin-left: 0 !important;
    margin-top: 0 !important;
}
.dms-rcsEnV > div {
    margin-right: 10px !important;

}
.container-2td-dC+.container-2td-dC, .guildSeparator-3s64Iy + .container-2td-dC {
    margin: 10px 0 10px 10px;
}
.dms-rcsEnV .container-2td-dC {
    margin-right: 0;
}
.container-2td-dC::before {
    user-select: none;
    pointer-events: none;
}
.container-2td-dC.selected-nT-gM3:before {
    margin: 0 !important;
    top: -10px !important;
    border-radius: 0 0 5px 5px;
    left: 0 !important;
    height: 4px !important;
    width: 100% !important;
    z-index: 11 !important;
}
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsBar-1VrBNe, .unreadMentionsBar-1VrBNe svg {
    display: none;
}
.container-2td-dC.unread-qLkInr:before {
    margin: 0;
    top: -10px;
    border-radius: 0 0 5px 5px;
    left: 0;
    height: 4px;
    width: 20%;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%)
}
.container-2td-dC.selected-nT-gM3.unread-qLkInr:before {
    left: 50% !important;
}
.wrapper-1Rf91z:not(.foldercontent) .container-2td-dC:first-child {
    margin-left: 5px !important;
}
.container-2td-dC .badge-1GsMF2 {
    bottom: auto;
    bottom: 0;
    right: 0;
}
.guildsError-3cFMtY {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circleIconButton-jET_ig, .container-2td-dC .guildInner-3DSoA4 a {
    position: relative;
}
.circleIconButton-jET_ig {
    width: var(--HSL-size);
    height: var(--HSL-size);
    margin: 10px 0 10px 10px;
}
.guildsAddInner-1KMFy-, .icon-3o6xvg.noIcon-1a_FrS {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper-1Rf91z .icon-3o6xvg.noIcon-1a_FrS {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friendsOnline-2JkivW {
    position: absolute;
    left: 0 !important;
    bottom: 0;
    margin: 0 !important;
    width: calc(var(--HSL-size) + 20px);
}
.homeIcon-1FoKUJ {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.friendsColumn-eVHFqJ .icon-3o6xvg.noIcon-1a_FrS {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    width: 30px !important;
    height: 30px !important;
    transform: translate(0) !important;
}
.contentCozy-3XX413 .wrapper-35wsBm.userSelectNone-Iy6XEP .icon-3o6xvg.noIcon-1a_FrS {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    width: 50px !important;
    height: 50px !important;
    transform: translate(0) !important;
}




/* OSX Fixes */
.typeMacOS-3EmCyP .wrapper-1Rf91z:not(.foldercontent) {
    padding-top: 0 !important;
}






.bda-slist li {
    max-height: 1000px;
}
li[data-name="z Horizontal Serverlist"] .bda-description-wrap::after {
    content: "Horizontal Serverlist compatibility list can be found on:\Ahttps://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/" !important;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    display: block;
    white-space: pre;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,1);
}
#bd-customcss-attach-controls {
    position: relative;
}
#bd-customcss-attach-controls::before {
    content: "To change the size of the server icons type the following: \A :root { --HSL-size: (YOUR NUMBER)px } \A\A Example:\A :root { --HSL-size: 50px }";
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.3);
    display: block;
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,1);
    position: absolute;
    top: 80px;
    margin-bottom: 25px;
    left: 0;
}


/*********************
Theme & Plugin Fixes
*********************/

/* Aurora - Tropical | Theme */
.base-3dtUhz {
    margin-top: calc(var(--chat-avatar-roundness) + 15px);
}
.wrapper-1Rf91z {
    border-radius: var(--chat-avatar-roundness) !important;
}
.wrapper-1Rf91z .scroller-2FKFPG > .container-2td-dC:first-child {
    margin-left: calc(var(--chat-avatar-roundness) - 5px) !important;
}
.vertical-V37hAW .channels-Ie2l6A {
    border-radius: var(--chat-avatar-rou)
}

/* SimplyDarkDisocord - Gibbu | Theme */
.platform-win .title-3qD0b-, .platform-win .titleCall-_b9o8P, .platform-win .headerBar-UHpsPw {
    padding: var(--winBtns);
}
.wrapper-1Rf91z .scroller-2FKFPG {
    padding-right: var(--SSD_HSL-padding) !important;
}

/* Guild Counter - Metalloriff | Plugin */
#gc-counter {
    bottom: -3px;
    font-size: 9px;
}

/* Server Folders - DevilBro | Plugin */
.wrapper-1Rf91z.foldercontent {
    width: 100% !important;
    box-shadow: none;
    background: rgba(0,0,0,0.3);
    height: calc(var(--HSL-size) + 20px);
    transition: height 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
}
.wrapper-1Rf91z.foldercontent .wrapper-1Rf91z .scroller-2FKFPG {
    padding-right: 0 !important;
}
.wrapper-1Rf91z.foldercontent .container-2td-dC:first-of-type {
    position: relative;
    margin-top: 10px;
    margin-left: 10px !important;
}
.wrapper-1Rf91z.foldercontent.foldercontentclosed {
    width: 100% !important;
    height: 0;
    margin-top: 0 !important;
}
.wrapper-1Rf91z.foldercontent .folderseparator {
    position: relative !important;
    margin-left: 15px;
    margin-right: 10px;
    top: unset !important;
    transform: unset !important;
}

/* Old Title Bar - DevilBro | Plugin */
.settingsTitlebarOTB {
    margin-top: 20px;
}
