#app-mount .base-3dtUhz {
  border-radius: 0; }

.container-2lgZY8 {
  flex-direction: column; }

.wrapper-1Rf91z {
  width: 100% !important;
  position: relative;
  max-height: calc(var(--HSL-size) + 20px) !important; }
  .wrapper-1Rf91z .scrollerWrap-2lJEkd {
    width: 100% !important; }
  .wrapper-1Rf91z .scroller-2FKFPG {
    display: flex;
    padding: 0 0 0 var(--HSL-spacing) !important;
    flex-wrap: wrap; }
    .wrapper-1Rf91z .scroller-2FKFPG > .listItem-2P_4kh:first-child svg {
      width: 65%; }
    .wrapper-1Rf91z .scroller-2FKFPG > .listItem-2P_4kh:first-child + .listItem-2P_4kh:not([style]) {
      width: auto !important;
      height: var(--HSL-size) !important; }
      .wrapper-1Rf91z .scroller-2FKFPG > .listItem-2P_4kh:first-child + .listItem-2P_4kh:not([style]) .guildSeparator-3s64Iy {
        width: 2px;
        height: 100%; }
    .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh {
      width: var(--HSL-size) !important;
      height: var(--HSL-size) !important;
      margin: 10px var(--HSL-spacing) 10px 0 !important;
      position: relative; }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blobContainer-239gwq, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blob-1PX1Gp, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blob-3RT82C {
        width: var(--HSL-size) !important;
        height: var(--HSL-size) !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blobContainer-239gwq .svg-1X37T1, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blobContainer-239gwq .wrapper-25eVIn, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blob-1PX1Gp .svg-1X37T1, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blob-1PX1Gp .wrapper-25eVIn, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blob-3RT82C .svg-1X37T1, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .blob-3RT82C .wrapper-25eVIn {
          width: var(--HSL-size) !important;
          height: var(--HSL-size) !important; }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .badgeWrapper-3e8pMZ > div[class*="Badge"] {
        border-radius: var(--HSL-roundness); }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .badgeWrapper-3e8pMZ > div[class*="Badge"] div {
          border-radius: var(--HSL-roundness); }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .badgeWrapper-3e8pMZ div[class*="lowerBadge"] {
        right: -2px;
        bottom: -2px; }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .badgeWrapper-3e8pMZ div[class*="upperBadge"] {
        top: -2px;
        right: -2px; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh .badgeWrapper-3e8pMZ div[class*="upperBadge"].count {
          left: -2px;
          right: unset; }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh mask {
        display: none; }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh a {
        border-radius: var(--HSL-roundness);
        overflow: hidden;
        transition: 0.2s ease; }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 4px; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span {
          height: 4px !important;
          width: 100% !important;
          transform: scale(0, 1) !important;
          margin-left: 0;
          border-radius: 0 0 4px 4px;
          transition: 0.2s ease !important;
          opacity: 0 !important;
          transform-origin: center top; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 0"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 1"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 2"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 3"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 4"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 5"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 6"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 7"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 8"] {
          transform: scale(0, 1) !important;
          opacity: 0 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.0"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.1"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.2"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.3"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.4"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.5"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.6"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="opacity: 0.7"] {
          transform: scale(0.25, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 9"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 10"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 11"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 12"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 13"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 14"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 15"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 16"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 17"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 18"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 19"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 20"] {
          transform: scale(0.7, 1) !important;
          opacity: .5 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 21"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 22"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 23"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 24"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 25"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 26"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 27"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 28"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 29"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 30"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 31"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 32"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 33"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 34"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 35"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 36"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 37"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 38"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 39"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh div[class*='pill'] span[style*="height: 40"] {
          transform: scale(1, 1) !important;
          opacity: 1 !important; }
      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh:hover a {
        border-radius: var(--HSL-roundnessHover); }
    .wrapper-1Rf91z .scroller-2FKFPG #bd-pub-li.listItem-2P_4kh {
      position: absolute;
      left: calc(var(--HSL-spacing) - 5px);
      top: -10px;
      height: auto !important;
      width: calc(var(--HSL-size) + 10px) !important;
      margin: 0; }
      .wrapper-1Rf91z .scroller-2FKFPG #bd-pub-li.listItem-2P_4kh div {
        width: 100%;
        height: 15px !important;
        line-height: 12px; }
      .wrapper-1Rf91z .scroller-2FKFPG #bd-pub-li.listItem-2P_4kh + .listItem-2P_4kh {
        width: auto !important; }
        .wrapper-1Rf91z .scroller-2FKFPG #bd-pub-li.listItem-2P_4kh + .listItem-2P_4kh .guildSeparator-3s64Iy {
          width: 2px;
          height: 100%; }
    .wrapper-1Rf91z .scroller-2FKFPG > div[style]:not(.listItem-2P_4kh) {
      height: var(--HSL-size) !important;
      width: var(--HSL-size) !important;
      margin: 10px var(--HSL-spacing) 10px 0; }
      .wrapper-1Rf91z .scroller-2FKFPG > div[style]:not(.listItem-2P_4kh) .listItem-2P_4kh {
        margin: 0 !important; }
      .wrapper-1Rf91z .scroller-2FKFPG > div[style]:not(.listItem-2P_4kh) + .listItem-2P_4kh {
        width: auto !important;
        height: var(--HSL-size) !important; }
        .wrapper-1Rf91z .scroller-2FKFPG > div[style]:not(.listItem-2P_4kh) + .listItem-2P_4kh .guildSeparator-3s64Iy {
          width: 2px;
          height: 100%; }
  .wrapper-1Rf91z [class*="unreadMentionsIndicator"] {
    display: none; }
  .wrapper-1Rf91z .circleButtonMask-2VNJsN {
    width: var(--HSL-size);
    height: var(--HSL-size); }
    .wrapper-1Rf91z .circleButtonMask-2VNJsN > svg {
      border-radius: var(--HSL-roundness);
      width: var(--HSL-size);
      height: var(--HSL-size);
      transition: 0.2s ease; }
      .wrapper-1Rf91z .circleButtonMask-2VNJsN > svg svg {
        width: 65%;
        height: 65%; }
    .wrapper-1Rf91z .circleButtonMask-2VNJsN:hover > svg {
      border-radius: var(--HSL-roundnessHover); }
  .wrapper-1Rf91z .guildsError-b7zR5H {
    height: var(--HSL-size) !important; }

#app-mount .wrapper-1Rf91z.foldercontent {
  transition: height 0.3s ease !important;
  height: calc(var(--HSL-size) + 20px);
  width: 100% !important;
  margin-top: 0 !important; }
  #app-mount .wrapper-1Rf91z.foldercontent .listItem-2P_4kh.folderseparatorouter {
    width: auto !important; }
    #app-mount .wrapper-1Rf91z.foldercontent .listItem-2P_4kh.folderseparatorouter div {
      width: 2px;
      height: auto; }
  #app-mount .wrapper-1Rf91z.foldercontent .listItem-2P_4kh div[class*='pill'] span {
    width: 100% !important;
    transform: none; }
  #app-mount .wrapper-1Rf91z.foldercontent.foldercontentclosed {
    height: 0;
    width: 100% !important; }

#app-mount .wrapper-1Rf91z .RANbutton-frame {
  position: absolute;
  left: calc(var(--HSL-spacing) - 5px);
  bottom: -2px;
  height: auto !important;
  width: calc(var(--HSL-size) + 10px) !important;
  margin: 0; }
  #app-mount .wrapper-1Rf91z .RANbutton-frame div {
    width: 100%;
    height: 15px !important; }

#app-mount .wrapper-1Rf91z .scroller-2FKFPG .RANbutton-frame + .listItem-2P_4kh {
  width: auto !important;
  height: var(--HSL-size) !important; }
  #app-mount .wrapper-1Rf91z .scroller-2FKFPG .RANbutton-frame + .listItem-2P_4kh .guildSeparator-3s64Iy {
    width: 2px;
    height: 100%; }
