.container-2lgZY8 {
    flex-direction: column !important;
}
.wrapper-1Rf91z {
    width: 100%;
    position: relative;
    max-height: calc(var(--HSL-size) + 20px) !important;
}
.wrapper-1Rf91z .da-scrollerWrap {
    position: relative;
    width: 100%;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 calc(var(--HSL-size) + 25px) !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container:not(.container-1ETFDs), .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-dragPlaceholder {
    width: var(--HSL-size) !important;
    height: var(--HSL-size) !important;
    margin: 10px 0 10px 10px;
    position: relative;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container:not(.container-1ETFDs) > .da-wrapper:not(.da-badge), .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container:not(.container-1ETFDs) .da-wrapper.da-small {
    width: 100% !important;
    height: 100% !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container:not(.container-1ETFDs).da-selected:before {
    margin-top: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container .da-badge {
    top: unset;
    bottom: 0;
    right: 0;
    box-shadow: -1px -1px 5px rgba(0,0,0,.5);
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container:not(.container-1ETFDs).da-unread:before {
    margin-top: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 40%;
    border-radius: 0 0 5px 5px;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container:not(.container-1ETFDs) .da-wrapper:not(.da-badge, .da-newBadge) {
    width: var(--HSL-size) !important;
    height: var(--HSL-size) !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-container .da-icon {
    width: var(--HSL-size) !important;
    height: var(--HSL-size) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .container-1ETFDs {
    position: absolute;
    top: 10px;
    left: 12.5px;
    width: calc(var(--HSL-size) - 10px) !important;
    height: calc(var(--HSL-size) - 10px) !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .container-1ETFDs .da-homeButton {
    width: calc(var(--HSL-size) - 10px) !important;
    height: calc(var(--HSL-size) - 10px) !important;
}
.wrapper-1Rf91z:not(.foldercontent) .da-scrollerWrap .da-scroller .da-guildSeparator {
    position: absolute;
    top: 10px;
    left: calc(var(--HSL-size) + 20px) !important;
    width: 2px;
    height: var(--HSL-size) !important;
    margin-bottom: 0;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-guildSeparator:after {
    height: 100%;
    width: 100%;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-friendsOnline {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: calc(var(--HSL-size) + 35px) !important;
    margin-bottom: 0;
    text-align: center;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-circleIconButton {
    width: var(--HSL-size) !important;
    height: var(--HSL-size) !important;
    margin: 10px 0 10px 10px;
}
.wrapper-1Rf91z .da-unreadMentionsIndicatorTop, .wrapper-1Rf91z .da-unreadMentionsIndicatorBottom {
    display: none;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-guildsErrorContainer {
    width: var(--HSL-size) !important;
    height: var(--HSL-size) !important;
    margin: 10px 0 10px 10px;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-guildsErrorContainer a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-11WMXy .da-circleIconButton {
    margin: 0 !important;
}

.base-3dtUhz {
    border-radius: 0;
}


/* Server Folders by DevilBro */
.wrapper-1Rf91z.foldercontent {
    width: 100% !important;
    box-shadow: none;
    background: rgba(0,0,0,0.3);
    height: calc(var(--HSL-size) + 20px);
    transition: height 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
}
.wrapper-1Rf91z.foldercontent.foldercontentclosed {
    width: 100% !important;
    height: 0;
    margin-top: 0 !important;
}
.wrapper-1Rf91z.foldercontent .da-guildSeparator {
    width: 2px;
    height: var(--HSL-size);
    margin: 10px 0 10px 10px;
}

/* Old TItle Bar by DevilBro */
.settingsTitlebarOTB {
    margin-top: 20px;
}

/* Guild Counter - Metalloriff */
#gc-counter {
    bottom: -3px;
    font-size: 9px;
}




/* OSX Fixes */
.typeMacOS-3EmCyP .wrapper-1Rf91z:not(.foldercontent) {
    padding-top: 0 !important;
}






.bda-slist li {
    max-height: 1000px;
}
li[data-name="z Horizontal Serverlist"] .bda-description-wrap::after {
    content: "Horizontal Serverlist compatibility list can be found on:\Ahttps://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/" !important;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    display: block;
    white-space: pre;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,1);
}
#bd-customcss-attach-controls {
    position: relative;
}
#bd-customcss-attach-controls::before {
    content: "To change the size of the server icons type the following: \A :root { --HSL-size: (YOUR NUMBER)px } \A\A Example:\A :root { --HSL-size: 50px }";
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.3);
    display: block;
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,1);
    position: absolute;
    top: 80px;
    margin-bottom: 25px;
    left: 0;
}


/*********************
    Plugin Fixes
*********************/
.wrapper-1Rf91z.foldercontent {
    width: 100% !important;
    box-shadow: none;
    background: rgba(0,0,0,0.3);
    height: calc(var(--HSL-size) + 20px);
    transition: height 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
}
.wrapper-1Rf91z.foldercontent.foldercontentclosed {
    width: 100% !important;
    height: 0;
    margin-top: 0 !important;
}
.wrapper-1Rf91z.foldercontent .da-guildSeparator {
    width: 2px;
    height: var(--HSL-size);
    margin: 10px 0 10px 10px;
}


.settingsTitlebarOTB {
    margin-top: 20px;
}


#gc-counter {
    bottom: -3px;
    font-size: 9px;
}
