:root {
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
}

#app-mount .base-3dtUhz {
  top: var(--server-container);
  left: 0;
  position: absolute !important;
  transition: 0.2s ease !important;
}
#app-mount .container-2lgZY8 {
  display: flex;
  flex-direction: column;
}
#app-mount .sidebar-2K8pFh {
  border-radius: 0;
}
#app-mount .guilds-1SWlCJ {
  position: unset;
  height: var(--server-container) !important;
  width: 100%;
}
#app-mount .guilds-1SWlCJ .scrollerWrap-1IAIlv {
  width: 100% !important;
}
#app-mount .guilds-1SWlCJ .scroller-2TZvBN {
  padding-top: 0;
  padding-left: var(--server-spacing);
  display: flex;
  align-items: center;
  scroll-snap-type: y mandatory;
}
#app-mount .guilds-1SWlCJ .scroller-2TZvBN > .listItem-2P_4kh:not(:last-child) {
  min-width: unset;
}
#app-mount .guilds-1SWlCJ .scroller-2TZvBN > div[style]:not(.listItem-2P_4kh) .listItem-2P_4kh {
  margin-top: 0;
}
#app-mount .guilds-1SWlCJ .scroller-2TZvBN > .listItem-2P_4kh:first-child + .listItem-2P_4kh:not(#bd-pub-li),
#app-mount .guilds-1SWlCJ .scroller-2TZvBN > .listItem-2P_4kh:first-child + #bd-pub-li + .listItem-2P_4kh {
  width: 2px;
  min-width: unset;
}
#app-mount .guilds-1SWlCJ .scroller-2TZvBN > div[style]:not(.listItem-2P_4kh):not(.wrapper-21YSNc) {
  height: var(--server-size) !important;
}
#app-mount .guildSeparator-3s64Iy {
  height: var(--server-size);
  width: 2px;
}
#app-mount [data-ref-id=guildsnav] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: var(--server-container);
  overflow-y: auto;
}
#app-mount [data-ref-id=guildsnav]::-webkit-scrollbar {
  display: none !important;
}
#app-mount .wrapper-21YSNc {
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: var(--server-size);
}
#app-mount .wrapper-21YSNc [role=group] {
  display: flex;
  align-items: center;
  height: auto !important;
}
#app-mount .listItem-2P_4kh {
  min-width: var(--server-size);
  width: auto;
  margin: 10px 0;
  margin-right: var(--server-spacing);
  scroll-snap-align: center;
}
#app-mount .svg-1X37T1,
#app-mount .wrapper-25eVIn {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount [class*=pill] {
  width: 100%;
  height: 4px;
  top: -10px;
}
#app-mount [class*=pill] span {
  height: 4px !important;
  width: 100% !important;
  transform: scale(0, 1) !important;
  margin-left: 0;
  border-radius: 0 0 4px 4px;
  transition: 0.1s ease !important;
  transform-origin: center top;
}
#app-mount [class*=pill] span[style*="height: 0"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 1"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 2"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 3"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 4"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 5"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 6"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 7"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 8"] {
  transform: scale(0.25, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 9"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 10"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 11"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 12"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 13"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 14"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 15"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 16"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 17"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 18"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 19"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 20"] {
  transform: scale(0.7, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
}
#app-mount [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
}
#app-mount .expandedGuilds-1JMD4M {
  height: auto !important;
  display: flex;
  width: auto;
  overflow: visible;
}
#app-mount .expandedFolderBackground-2sPsd- {
  height: var(--server-size);
  width: calc(100% - 11px);
  left: 0;
}
#app-mount .expandedFolderBackground-2sPsd-.collapsed-1GMuSb {
  width: var(--server-size);
}
#app-mount [class*=unreadMentionsIndicator] {
  display: none;
}
#app-mount .placeholderMask-3K9THS {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .listItemTooltip-CDcY8J {
  position: absolute;
  white-space: nowrap;
  margin-left: calc(var(--server-size) / -1 - 20px);
  top: calc(var(--server-size) - 10px);
}
#app-mount .listItemTooltip-CDcY8J .tooltipPointer-3ZfirK {
  transform: rotate(180deg);
  top: -5px;
  right: unset;
  left: 13px;
  z-index: 1;
}
#app-mount #bd-pub-li {
  height: var(--server-size);
  margin-bottom: 0;
}
#app-mount #bd-pub-li div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}
#app-mount body.foldercontentopened .base-3dtUhz {
  position: absolute !important;
}
#app-mount .wrapper-1Rf91z.content-Pph8t6.foldercontent {
  transition: height 0.2s ease !important;
}
#app-mount .wrapper-1Rf91z.content-Pph8t6.foldercontent.closed-j55_T-.foldercontentclosed {
  width: 100% !important;
  height: 0 !important;
}
#app-mount .wrapper-1Rf91z.content-Pph8t6.foldercontent:not(.foldercontentclosed) + .base-3dtUhz {
  top: calc(var(--server-container) * 2);
}
#app-mount .colorMuted-HdFt4q.size12-3cLvbJ:first-child:after {
  content: "HSL 2.0.1 by Gibbu";
  display: block;
}