.container-2lgZY8 {
    flex-direction: column !important;
}
.wrapper-1Rf91z {
    width: 100%;
    position: relative;
    max-height: calc(var(--HSL-size) + 20px) !important;
}
.wrapper-1Rf91z .da-scrollerWrap {
    position: relative;
    width: 100% !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 calc(var(--HSL-size) + 40px) !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem {
    margin: 10px 10px 10px 0 !important;
    width: var(--HSL-size);
    height: var(--HSL-size);
}
.wrapper-1Rf91z [class*="unreadMentionsIndicator"] {
    display: none;
}
/* Home Button */
.wrapper-1Rf91z:not(.foldercontent) .da-scrollerWrap .da-scroller > .da-listItem:first-child {
    position: absolute;
    left: 0;
    margin: 10px !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > .da-listItem:first-child svg, .wrapper-1Rf91z .da-scrollerWrap .da-scroller > .da-listItem:first-child > .da-wrapper {
    height: var(--HSL-size);
    width: var(--HSL-size);
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > .da-listItem:first-child svg svg {
    width: 65%;
}
/* Separator */
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem) + div, .wrapper-1Rf91z .da-scrollerWrap .da-scroller > .da-listItem:first-child + .da-listItem {
    width: auto;
    height: auto;
}

/* Direct Messages */
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem), .wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem) .da-blob svg {
    width: var(--HSL-size) !important;
    height: var(--HSL-size) !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem) .da-badgeWrapper {
    height: var(--HSL-size);
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem) .da-badgeWrapper .da-lowerBadge {
    bottom: -2px;
    right: -2px;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem) .da-badgeWrapper .da-lowerBadge .da-numberBadge {
    box-shadow: -2px -2px 5px #000;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem) rect {
    display: none;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem) {
    margin-right: 15px;
}
#app-mount .wrapper-1Rf91z .da-scrollerWrap .da-scroller > div[style]:not(.da-listItem):not(:only-child) + div:not([style]), .wrapper-1Rf91z:not(.foldercontent) .da-scrollerWrap .da-scroller > .da-listItem:first-child + .da-listItem {
    position: absolute;
    margin-left: -15px !important;
    height: var(--HSL-size);
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller > .da-listItem:first-child + .da-listItem {
    margin: 10px 15px 10px 0 !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-guildSeparator {
    height: 100%;
    width: 2px;
}
/* Server Icons */
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem .da-blobContainer > .da-wrapper {
    width: var(--HSL-size);
    height: var(--HSL-size);
    display: block;
    margin: 0;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem .da-blobContainer > .da-wrapper svg {
    width: var(--HSL-size);
    height: var(--HSL-size);
}
/* Bar */
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem .da-pill {
    width: 100%;
    height: 4px;
    top: -10px;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem .da-pill span {
    width: 100% !important;
    height: 4px !important;
    border-radius: 0 0 4px 4px !important;
    margin-left: 0;
    top: -0px;
    left: 50%;
    transform: translate3d(0, 0, 0) translateX(-50%) !important;
    transition: 0.1s ease;
}
/* Unread Bar */
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem .da-pill span[style*="opacity: 0.7; height: 8px;"] {
    width: 30% !important;
    transition: 0.1s ease;
}
/* Add Server */
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-circleButtonMask, .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-circleButtonMask svg, .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-guildsError {
    width: var(--HSL-size);
    height: var(--HSL-size);
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-circleButtonMask svg svg {
    width: 65% !important;
    height: 65% !important;
}


.base-3dtUhz {
    border-radius: 0 !important;
}






/* OSX Fixes */
.typeMacOS-3EmCyP .wrapper-1Rf91z:not(.foldercontent) {
    padding-top: 0 !important;
}






.bda-slist li {
    max-height: 1000px;
}
li[data-name="z Horizontal Serverlist"] .bda-description-wrap::after {
    content: "Horizontal Serverlist compatibility list can be found on:\Ahttps://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/" !important;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    display: block;
    white-space: pre;
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,1);
}
#bd-customcss-attach-controls {
    position: relative;
}
#bd-customcss-attach-controls::before {
    content: "To change the size of the server icons type the following: \A :root { --HSL-size: (YOUR NUMBER)px } \A\A Example:\A :root { --HSL-size: 50px }";
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.3);
    display: block;
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,1);
    position: absolute;
    top: 80px;
    margin-bottom: 25px;
    left: 0;
}


/*********************
    Plugin Fixes
*********************/

/* ServerFolders by DevilBro */
#app-mount .da-app .wrapper-1Rf91z.foldercontent {
    width: 100% !important;
    box-shadow: none;
    background: rgba(0,0,0,0.3);
    height: calc(var(--HSL-size) + 20px);
    transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
}
#app-mount .da-app .wrapper-1Rf91z.foldercontent.foldercontentclosed {
    width: 100% !important;
    height: 0;
    margin-top: 0 !important;
}
#app-mount .da-app .wrapper-1Rf91z.foldercontent .da-guildSeparator {
    width: 2px;
    height: var(--HSL-size);
    margin: 10px 0 10px 10px;
}
#app-mount .da-app .wrapper-1Rf91z.foldercontent .da-listItem:not(.folderseparatorouter) {
    margin: 10px 10px 10px 0 !important;
}
#app-mount .da-app .wrapper-1Rf91z.foldercontent .da-listItem.folderseparatorouter {
    margin-bottom: 0 !important;
}
#app-mount .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem.folder {
    margin-top: 10px !important;
}
#app-mount .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem.folder .da-blobContainer {
    height: var(--HSL-size) !important;
}
#app-mount .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem.folder svg {
    height: var(--HSL-size) !important;
    width: var(--HSL-size) !important;
}

/* Old Titlebar by DevilBro */
.settingsTitlebarOTB {
    margin-top: 20px;
}

/* ReadAllNotificationsButton by DevilBro */
#app-mount .wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem.RANbutton-frame {
    position: absolute;
    left: 10px;
    height: auto !important;
    bottom: -2px;
    margin: 0 !important;
    width: calc(var(--HSL-size)) !important;
}
.wrapper-1Rf91z .da-scrollerWrap .da-scroller .da-listItem.RANbutton-frame .RANbutton {
    height: auto !important;
}
#app-mount .wrapper-1Rf91z .da-scrollerWrap .da-scroller > .RANbutton-frame + .da-listItem {
    position: absolute;
    margin-left: -15px !important;
    height: var(--HSL-size);
    width: auto !important;position: absolute;
    margin-left: -15px !important;
    height: var(--HSL-size);
    text-align: center;
}
#app-mount .wrapper-1Rf91z .da-scrollerWrap .da-scroller > .RANbutton-frame .RANbutton {
    text-align: center;
}
