/*! //META {"name": "zVertical Horizontal Server List", "description": "Moves the server list from the left to the top of Discord. Also allows for adjusting the size of the server icons.", "author": "Gibbu", "version": "1.1"} *//**/

@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/horizontalBase.css");

:root {
  --HSL-size: 35px;
  --HSL-spacing: 10px;
  --HSL-roundness: 50%;
  --HSL-roundnessHover: 20%; }
