#app-mount {
  .autocompleteShadow-iiGWFU {
    box-shadow: none;
  }
  .autocompleteHeaderBackground-30T70q {
    background: transparent;
  }
  .header-2bNvm4 {
    .headerText-3i6A8K {
      color: #fff;
    }
    .input-1ppKdn {
      color: #fff;
      &::placeholder {
        color: rgba(#fff, 0.5);
      }
    }
  }
  .sectionTag-pXyto9 {
    background: transparent;
  }
  .autocompleteShadow-iiGWFU:before {
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, calc(var(--BG-popout-brightness) + 0.125));
  }
  .sectionTag-pXyto9 .row-rrHHJU.selected-1pIgLL {
    background: rgba(#000, 0.3);
  }
}