#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE {
  background: transparent;
  box-shadow: none;
  position: fixed;
  margin-left: -170px;
  animation: fadeInBottom 0.2s ease forwards;
  .divider-3573oO {
    background: rgba(#fff, 0.1);
  }
  .container-cMG81i {
    background: rgba(#000, 0.3);
  }
  .selectableItem-1MP3MQ {
    &:hover {
      background: rgba(#000, 0.3);
    }
    &[style*="rgb(114, 137, 218)"] {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
    }
  }
}