#app-mount {
  .contextMenu-HLZMGh {
    box-shadow: none;
    .itemBase-tz5SeC {
      color: var(--text-default);
      &:hover {
        color: var(--text-normal);
      }
      &.danger-2dXSTE {
        color: rgb(var(--discord-red));
      }
    }
    .selected-BYpGTS {
      color: var(--text-normal);
    }
  }
  #message-actions {
    animation: fadeIn 0.3s ease forwards;
  }
}