#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy {
  background: transparent;
  box-shadow: none;
  margin-left: -430px;
  margin-top: 50px;
  position: absolute;
  .container-2XeR5Z {
    background: rgba(#000, 0.3);
    input::placeholder {
      color: rgba(#fff, 0.5);
      font-weight: 400;
    }
  }
  .defaultColor-1_ajX0,
  .subtitle-2P4u9v {
    color: #fff;
  }
  .friendSelected-3J_Uh8 {
    background: rgba(#fff, 0.1);
  }
  .separator-3gy7tq {
    box-shadow: 0 1px 0 0 rgba(#fff, 0.1);
  }
  .footerSeparator-M9dQY1 {
    box-shadow: 0 -1px 0 rgba(#fff, 0.1);
  }
}