#app-mount .emojiPicker-3m1S-j {
  background: rgba(0,0,0,0.7);
  border: none;
  animation: fadeIn 0.2s ease forwards;
  .container-2XeR5Z {
    background: rgba(255,255,255,0.05);
  }
  .stickyHeader-1SS0JU {
    background: #000;
  }
  .infoBar-U6oBFk {
    background: transparent;
  }
  .categories-1feg4n {
    background: transparent;
  }
}