#app-mount .messagesPopoutWrap-1MQ1bW {
  box-shadow: none;
  border: none;
  background: transparent;
  overflow: hidden;
  position: absolute;
  margin-left: -400px;
  animation: fadeInBottom 0.2s ease forwards;
  .header-ykumBX {
    background: rgba(#000, 0.3);
    box-shadow: none;
  }
  pre {
    background: rgba(0,0,0,0.5);
    border: none;
    overflow: hidden;
    code {
      background: transparent;
      overflow: hidden;
    }
  }
  code {
    background: rgba(0,0,0,0.5);
  }
  .actionButtons-1sUUug {
    box-shadow: none;
    background: transparent;
    .jumpButton-3DTcS_ {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
      color: #fff;
    }
  }
  [class*="timestamp"] {
    color: rgba(#fff, 0.5);
  }
  .messageGroupWrapper-o-Zw7G {
    background: rgba(#000, 0.3);
    border: none;
  }
  .footer-1kmXd4 {
    background: rgba(#000, 0.3);
  }
}