#app-mount .container-2x5lvQ {
  background: transparent;
  box-shadow: none;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  animation: fadeIn 0.2s ease forwards;
  header {
    background: rgba(#000, 0.6);
  }
  section {
    background: rgba(#000, 0.3);
  }
  .sparkline-3A-8OK {
    circle {
      fill: rgba(var(--BG-gradient-one), 1) !important;
    }
    polyline {
      fill: rgba(var(--BG-gradient-two), 0.2) !important;
      stroke: rgba(var(--BG-gradient-two), 1) !important;
    }
  }
}