#app-mount .layer-v9HyYc[style*="top"][style*="left"] .menu-Sp6bN1 {
  .item-1GzJrl {
    &:first-of-type {
      color: var(--nitro);
    }
    &.invite-271nFU {
      color: var(--blurple);
    }
    &.leave-1DRJfn {
      color: var(--red);
    }
  }
}