#app-mount {
  .popoutRight-1veHKi .userPopout-3XzG_A {
    margin-left: 0;
    animation: fadeInRight 0.2s ease forwards !important;
  }
  .popoutLeft-3aViER .userPopout-3XzG_A {
    animation: fadeInLeft 0.2s ease forwards !important;
  }
  .noArrow-2foL9g.popout-2iWAc-.popoutRight-1veHKi.arrowAlignmentTop-1yftWI {
    transform: none !important;
  }
  .animatorRight-3i_YPs .userPopout-3XzG_A {
    margin-left: 0 !important;
  }
  .layer-v9HyYc[style*="left"][style*="bottom"] .userPopout-3XzG_A {
    margin-left: 0;
  }
  .userPopout-3XzG_A {
    box-shadow: none;
    position: relative;
    margin-left: -270px;
    margin-top: -1px;
    opacity: 0;
    animation: fadeInRight 0.2s ease forwards !important;
    .headerPlaying-j0WQBV {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    }
    .botTagInvert-18-95s {
      color: rgba(var(--BG-gradient-one), 1);
      font-weight: bold;
    }
    .body-3iLsc4, .headerNormal-T_seeN {
      background: transparent;
    }
    .rolesList-22qj2L {
      max-height: 300px;
      overflow-y: auto;
    }
    .bodyTitle-Y0qMQz {
      color: #fff;
      font-weight: 500;
    }
    .note-3kmerW textarea {
      &::placeholder {
        color: #fff;
      }
      &:focus {
        background: rgba(#000, 0.3);
      }
    }
    .role-2irmRk {
      height: auto;
      position: relative;
      overflow: hidden;
      color: #fff;
      .roleCircle-3xAZ1j::after {
        content: "";
        position: absolute;
        height: 24px;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: inherit;
        opacity: 0.2;
        z-index: -1;
      }
    }
    .footer-1fjuF6 {
      background: transparent;
      border-color: rgba(#000, 0.1);
      padding: 0;
      .quickMessage-2XpSaN {
        background: rgba(#000, 0.3);
        border: none;
        color: #fff;
        margin: 10px;
        width: 92%;
        &::placeholder {
          color: #fff;
        }
      }
      .protip-YaFfgO {
        display: none;
      }
    }
  }
  .layer-v9HyYc[style*="left: 332px;"] .userPopout-3XzG_A {
    margin-left: 0;
  }
  .noArrow-2foL9g.popout-2iWAc-.popoutRight-1veHKi.arrowAlignmentTop-1yftWI.theme-undefined .userPopout-3XzG_A {
    margin-left: 0;
  }
}