.theme-dark {
  // Text and Borders
  --border-colour: #141414;
  --text-default: #d1d5da;
  --text-muted: #959da5;
  --text-focus: #ffffff;
  --text-opacity: 255,255,255;

  // Background
  --background-light: #2f363d;
  --background: #24292e;
  --background-alt: #2a3036;
  --background-dark: #1d2125;

  //White
  --white:#ffffff; // For use on buttons only. USE RESPECTIVE TEXT COLORS FOR CROSS-THEME SUPPORT.

  // Settings
  --input-height: 25px;

  // Checkbox
  --checkbox-background: #fff;
  --checkbox-border: #bbb;
  --checkbox-tick: #444;
  --checkbox-box-shadow: none;

  // Userpopouts
  --userpopout-button-hover: rgba(255,255,255,0.03);

  // Tooltips
  --tooltip-background: #{darken(#2a3036, 4%)}; //redo

  // Scrollbars
  --channel-scrollbar: rgba(0,0,0,0.3);

  // Discord variables
  --background-modifier-hover: var(--background-light);
  --background-modifier-active: #444d56;
  --background-modifier-selected: var(--accent-solid);

  // Syntax
  --syntax-blue:#79b8ff;
  --syntax-purple:#b392f0;
  --syntax-grey:#959da5;
  --syntax-grey-alt:#d1d5da;
  --syntax-orange:#ffab70;
  --syntax-green:#56b6c2;
}