.theme-light {
  // Text and Borders
  --border-colour: #e1e4e8;
  --secondary-border-color:#d1d5da; // Light Mode Only
  --text-default: #24292e;
  --text-muted: #6a737d;
  --text-focus: #000000;
  --text-opacity: 0,0,0;

  // Background
  --background-light: #f6f8fa;
  --background-alt: #ffffff;
  --background:#ffffff;
  --background-dark: #ebeef1;

  //White
  --white: #ffffff; // Only use to contrast against a neutral background.

  // Settings
  --input-height: 25px;

  // Modals
  --modal-box-shadow: 0 2px 7px rgba(3, 3, 3, 0.7);

  // Checkbox
  --checkbox-background: #ddd;
  --checkbox-border: #bbb;
  --checkbox-tick: #444;
  --checkbox-box-shadow: 0 2px 3px rgba(0,0,0,0.4);

  // Userpopouts
  --userpopout-button-hover: rgba(0,0,0,0.05);

  // Tooltips
  --tooltip-background: #fff;

  // Scrollbars
  --channel-scrollbar: rgba(0,0,0,0.3);

  // Discord variables
  --background-modifier-hover: rgba(0,0,0,0.05);
  --background-modifier-active: rgba(0,0,0,0.1);
  --background-modifier-selected: var(--accent-solid);

  // Syntax
  --syntax-blue:#79b8ff;
  --syntax-purple:#b392f0;
  --syntax-grey:#6a737d;
  --syntax-grey-alt:#24292e;
  --syntax-orange:#ffab70;
  --syntax-green:#56b6c2;
}