:root {
  // Master variables
  --border-radius: 3px;
  --accent-solid: rgba(var(--accent), 1);
  --accent-solid-hover: rgba(var(--accent-hover), 1);
  --base-left: var(--container, 0);
  --bd-blue: var(--accent-solid);
  --bd-blue-hover: var(--accent-solid-hover);

  // Spacing
  --spacing-third: calc(var(--spacing) / 3);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);

  // Fonts
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-xsm: 9px;
  --font-size-sm: 11px;
  --font-size: 12px;
  --font-size-lg: 14px;
  --font-size-xl: 16px;
  --font-size-xxl: 22px;

  // Titlebar
  --titlebar-height: 28px;

  // Toolbar (headers)
  --toolbar-height: 50px;

  //
  --item-height: 34px;

  // Sidebars
  --sidebar-width: 260px;
  --member-height: 42px;
  --channel-height: 32px;

  // Avatars
  --avatar-size-small: 25px;
  --avatar-size: 30px;
  --avatar-size-large: 45px;

  // Discord defaults
  --discord-green: #43b581;
  --discord-yellow: #faa61a;
  --discord-red: #f04747;
  --discord-purple: #593695;
  --discord-invisible: #747f8d;
  --discord-nitro: #ff73fa;
  --discord-blurple: #7289da;

  // RadialStatus vars
  --rs-small-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-width: 2px;
  --rs-avatar-shape: 5%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
}