:root {
  --slate-version: "Slate 1.0.9";

  // Master variables
  --border-radius: 3px;
  --button-border-radius: 2px;
  --accent-solid: rgba(var(--accent), 1);
  --bd-blue: var(--accent-solid);
  --bd-blue-hover: rgb(var(--accent));
  --text-link: rgb(var(--link-colour, var(--accent)));

  // No AdjustableServerWidth used variables
  --noasw-base: var(--container, 72px);
  --noasw-channel-header: var(--container, 0px);

  // Spacing
  --spacing-third: calc(var(--spacing) / 3);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-sm: 8px;
  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);

  // Fonts
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-xsm: calc(var(--font-size) - 3px); // 9px
  --font-size-sm: calc(var(--font-size) - 1px); // 11px
  --font-size: 12px;
  --font-size-lg: calc(var(--font-size) + 2px); // 14px
  --font-size-xl: calc(var(--font-size) + 4px); // 16px
  --font-size-xxl: 42px;
  --line-height-sm: 1;
  --line-height: 1.5;

  // Top bar (Toolbar and Titlebar)
  --topbar-background: #1d2125;
  --topbar-background-hover: #2f363d;
  --topbar-background-active:#444d56;
  --topbar-header-selected: #24292e;
  --topbar-border: #141414;

  // Font weights
  --font-weight-ultralight: 300;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  // Titlebar
  --titlebar-height: 28px;

  // Toolbar (headers)
  --toolbar-height: 50px;
  --toolbar-icon-default: #d1d5da;
  --toolbar-icon-focus: #ffffff;
  --toolbar-text-normal: #d1d5da;
  --toolbar-text-muted: #959da5;
  --toolbar-text-focus: #ffffff;
  --toolbar-search-background: #1a1b1e;
  --toolbar-search-border: #141414;

  // Channels
  --item-height: 34px;

  // Sidebars
  --sidebar-width: 260px;
  --member-height: 42px;
  --channel-height: 32px;

  // Avatars
  --avatar-size-xsm:18px;
  --avatar-size-sm: 24px;
  --avatar-size: 28px;
  --avatar-size-lg: 45px;
  --avatar-size-xlg: 64px;

  // Backdrops
  --backdrop: rgb(0 0 0 / 0.4);

  // Elevation
  --elevation-1: 0 8px 24px rgba(0,0,0,0.15);
  --elevation-2: 0 2px 7px rgba(12, 7, 7, 0.7);

  // Status
  --discord-green: 40, 167, 69;
  --discord-yellow: 219, 171, 9;
  --discord-red: 215, 58, 73;
  --discord-purple: 89, 54, 149;
  --discord-invisible: 117, 128, 142;
  --discord-nitro: 255, 115, 250;
  --discord-blurple: 114, 137, 218;
  --discord-spotify: 29, 185, 84;
  --discord-twitch: 89, 54, 149;
  --bd-blue: var(--accent-solid);
  --bd-blue-hover: var(--accent-solid-hover);
  --blurple: var(--accent-solid);

  // RadialStatus
  --rs-small-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-width: 2px;
  --rs-avatar-shape: 5%;
  --rs-online-color: rgb(var(--discord-green));
  --rs-idle-color: rgb(var(--discord-yellow));
  --rs-dnd-color: rgb(var(--discord-red));
  --rs-offline-color: #636b75;
  --rs-streaming-color: rgb(var(--discord-twitch));
  --rs-invisible-color: rgb(var(--discord-invisible));

  // Cards
  --tip-box-background:rgba(3, 102, 214, 0.06);
  --tip-box-border:#c8e1ff;
}