#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] .contentRegion-3nDuYy {
	flex: unset;
	flex-grow: 1;
	border-left: 1px solid var(--base-border);
	background: transparent;
	.contentColumnDefault-1VQkGM {
		padding: var(--spacing-double);
		flex-grow: 1;
		max-width: unset;
		min-width: unset;
	}

	// Close button
	.toolsContainer-1edPuj {
		padding-top: 0;
		width: auto;
		height: 50px;
		top: -50px;
		display: flex;
		align-items: center;
		position: absolute;
		margin: 0;
		right: var(--spacing-double);
	}
	.tools-3-3s-N {
		position: relative;
		.closeButton-1tv5uR {
			border: none;
			width: 16px;
			height: 16px;
			flex: none;
			border-radius: 0;
			background: var(--toolbar-text-muted);
			mask:url($icon_close) center/12px no-repeat;
			transform: none;
			svg {
				display:none;
			}
			&:hover {
				background: var(--text-normal);
			}
		}
		.keybind-KpFkfr {
			display: none;
		}
	}

	// Global rules

	.note-1V3kyJ {
		margin-bottom:var(--spacing-half);
	}

	h2 {
		font-weight: var(--font-weight-semibold);
		font-size: var(--font-size-md);
		color: var(--text-normal);
		margin-bottom: var(--spacing);
		line-height: unset;
		text-transform: none;
	}
	.marginBottom40-2vIwTv h5 + .children-rWhLdy  .marginTop8-1DLZ1n.flex-1xMQg5:first-child {
		margin-top:0;
	}
	.title-31JmR4,
	.h3-3PDeKG {
		font-size: var(--font-size);
		font-weight: var(--font-weight-normal);
		color: var(--text-normal);
		margin: 0;
	}
	h5 {
		font-weight: var(--font-weight-semibold);
		font-size: var(--font-size-md);
		margin-bottom: var(--spacing);
		line-height: unset;
		text-transform: none;
		&:not(.isEnabled-24g9qA) {
			color: var(--text-normal);
		}
	}
	.row-2okwlC {
		box-shadow: none;
	}
	.switch-3wwwcV {
		margin: 0;
		order: -1;
		margin-right: var(--spacing-half) !important;
	}
	.description-3_Ncsb {
		font-size: var(--font-size);
		line-height: 1.5;
		color: var(--text-muted);
	}
	.subText-2Zhkkh {
		color:var(--text-muted);
		font-size:var(--font-size);
		margin-top:var(--spacing-third);
	}
	.titleDefault-a8-ZSr {
		cursor: default;
	}
	.switchItem-2hKKKK {
		margin: 0;
		.description-3_Ncsb {
			margin-bottom:var(--spacing);
		}
	}
	.marginTop40-i-78cZ {
		margin-top: var(--spacing-double);
	}
	.faded-3bns_w {
		opacity: 1;
	}

	.beta-3smTDE {
		vertical-align:middle;
		line-height: var(--line-height);
		border-radius:var(--border-radius);
		padding:var(--spacing-third) var(--spacing-half);
		color:var(--text-normal);
		background:var(--background-modifier-active);
		font-size:var(--font-size-sm);
		font-weight:var(--font-weight-normal);
		display:inline-block;
		user-select:none;
	}

	// Content dividers
	.children-rWhLdy > .marginBottom40-2vIwTv {
		margin-bottom: var(--spacing-double);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.horizontal-2EEEnY > .flexChild-faoVW3 {
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.divider-3573oO {
		display: none;
	}

	.formNotice-2_hHWR {
		.default-3nhoK- {
			font-size: var(--font-size);
			color: var(--text-muted);
		}
		h5 {
			margin-bottom: var(--spacing-third);
			color: var(--text-normal);
			font-size: var(--font-size);
		}
	}
}

@import "usersettings";
@import "guildsettings";

// Light theme warning
.theme-light
	#app-mount
	.layer-3QrUeG[aria-label*="SETTINGS"]
	.standardSidebarView-3F1I7i:after {
	content: "Light Theme BETA";
	position: absolute;
	font-size: 12px;
	border-radius: var(--border-radius);
	background: rgb(var(--status-yellow));
	padding: var(--spacing-third) var(--spacing-half);
	color: var(--white);
	height: 12px;
	margin-top: -9px;
	top: 25px;
	left: 84px;
}
