#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] .contentRegion-3nDuYy {
  flex:unset;
  flex-grow:1;
  border-left: 1px solid var(--border-colour);
  background:transparent;
  .contentColumnDefault-1VQkGM {
    padding: var(--spacing-double);
    flex-grow:1;
    max-width:unset;
    min-width:unset;
  }
  // Close button
  .toolsContainer-1edPuj {
    padding-top: 0;
    width: auto;
    height:50px;
    top: -50px;
    display:flex;
    align-items:center;
    position: absolute;
    margin:0;
    right: var(--spacing-double);
  }
  .tools-3-3s-N {
    position:relative;
    .closeButton-1tv5uR {
      border: none;
      width: 16px;
      height: 16px;
      flex: none;
      background: transparent;
      border-radius: 0;
      color:var(--toolbar-text-muted);
      transform:none;
        svg {
          color:inherit;
          path {
          d:path($path_close);
          transform:scale(1.5) translateX(2px);
          fill:currentColor;
        }
      }
      &:hover {
        color:var(--text-normal);
      }
    }
    .keybind-KpFkfr {
      display: none;
    }
  }
  // Global rules
  h2 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-lg);
    color: var(--text-normal);
    margin-bottom: var(--spacing);
    line-height: unset;
    text-transform:none;
  }
  .title-31JmR4 {
    font-size: var(--font-size-lg);
  }
  h5 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size);
    line-height: unset;
    text-transform:none;
    &:not(.isEnabled-24g9qA) {
      color: var(--text-normal);
    }
  }
  .row-2okwlC {
    box-shadow: inset 0 -1px 0 var(--border-colour);
  }
  .titleDefault-a8-ZSr {
    line-height: unset;
  }
  .description-3_Ncsb {
    font-size: var(--font-size);
    color: var(--text-normal) !important;
  }
  .marginTop40-i-78cZ {
    margin-top: var(--spacing-double);
  }
  .marginTop60-3PGbtK {
    margin-top: var(--spacing-triple);
  }
  .h3-3PDeKG {
    line-height: unset;
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-half);
  }
  // Content dividers
  .children-rWhLdy > .marginBottom40-2vIwTv {
    margin-bottom: var(--spacing-double);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .horizontal-2EEEnY > .flexChild-faoVW3 {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .divider-3573oO {
    display:none;
  }
}

@import 'usersettings';
@import 'serversettings';

// Light theme warning
.theme-light #app-mount .layer-3QrUeG[aria-label*=SETTINGS] .standardSidebarView-3F1I7i:after {
  content: "Light Theme BETA";
  position: absolute;
  font-size: 12px;
  border-radius: var(--border-radius);
  background: rgb(var(--discord-yellow));
  padding: var(--spacing-third) var(--spacing-half);
  color: var(--white);
  height:12px;
  margin-top:-9px;
  top: 25px;
  left: 84px;
}
