#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.4);
  [class*="scroller-" i]:not([class*=bd-]) {
    background: var(--background);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .standardSidebarView-3F1I7i {
    border-radius: var(--border-radius);
    background: var(--background);
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
    width: 960px;	
    height: 65vh;
    max-height:650px;
    min-height: 400px;
    padding-top: 56px;
    &:before {
      padding-left: 10px;
      content: "Options";
      border-bottom: 1px solid var(--border-colour);
      width: 100%;
      color: #fff;
      font-weight: var(--font-weight-semibold);
      color: var(--text-default);
      position: absolute;
      top: -1px;
      left: 0;
      padding: var(--spacing-double);
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-height: 650px) {
  #app-mount .layer-3QrUeG[aria-label*="SETTINGS"] {
    .standardSidebarView-3F1I7i {
      min-height: 500px;
    }
  }
}
