#app-mount {
  // Hide unnessecary elements
  #user-settings > div > div.contentRegion-3nDuYy > div > div > main > div > div > div:nth-child(1) > h5,
  #user-settings > div > div.contentRegion-3nDuYy > div > div > main > div > div > div:nth-child(2) > h5 {
      display:none;
  }
  
  // My Account
  .userSettingsAccount-2eMFVR {
    .cardPrimary-1Hv-to {
      background: transparent;
      border: none;
      padding: 0;
      .flexChild-faoVW3:first-child {
        margin-right: 0;
        .wrapper-3t9DeA {
          width: 34px !important;
          height: 34px !important;
          border-radius: var(--border-radius);
          border:1px solid var(--border-colour);
          img {
            clip-path:none;
            -webkit-clip-path:none;
          }
        }
      }
      h5 {
        display: none;
      }
      .marginBottom20-32qID7 {
        margin-bottom: 0 !important;
        +div .viewBody-2Qz-jg {
          color:var(--text-muted);
          font-weight:var(--font-weight-light);
          font-style:italic;
        }
      }
      .viewBody-2Qz-jg {
        pointer-events: none;
        font-size: var(--font-size);
        font-weight: var(--font-weight-semibold);
        color: var(--text-normal);
        span {
          opacity: 1 !important;
        }
      }
    }
  }
  .userInfoViewing-16kqK3 .flexChild-faoVW3[style="flex: 0 1 auto;"] {
    margin-left: 0;
  }
  .userInfoViewingButton-2-jbH9 {
    top: 0;
    right: 0;
  }
  .userSettingsSecurity-3IYeMF {
    margin-top: var(--spacing-double);
    h5 {
      margin-bottom: var(--spacing);
    }
    .children-rWhLdy {
      .flexChild-faoVW3 {
        margin: 0;
        >div {
          display:flex;
          align-items:center;
          .colorStandard-2KCXvj {
            margin:0;
          }
        }
        +.flex-1xMQg5 {
          display:none;
        }
        &:only-child > div {
          flex-direction: column;
          align-items: flex-start;
          button {
            margin: var(--spacing) var(--spacing) 0 0;
          }
        }
      }
      .lookLink-9FtZy-.colorPrimary-3b3xI6 {
        margin-left: var(--spacing);
      }
    }
  }
  .userInfoEditing-1CEzdT {
    background: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-bottom: var(--spacing-double);
    border-bottom: 1px solid var(--border-colour);
    padding-bottom: var(--spacing-double);
  }
  .avatarUploaderInner-3UNxY3 {
    width: 64px;
    height: 64px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-colour);
  }
  h5 {
    font-size: var(--font-size-sm);
  }
  .avatarUploaderIndicator-2G-aIZ {
    display: none;
  }

  // Privacy and Safety

  .children-rWhLdy > .marginBottom20-32qID7.marginTop8-1DLZ1n.flex-1xMQg5 {
    margin-bottom:0 !important;
  }

  .formNotice-2_hHWR {
    padding:var(--spacing);
    border:1px solid var(--accent-solid);
    background:rgba(var(--accent), 0.1);
    border-radius:var(--border-radius);
    .colorStandard-2KCXvj {
      font-size:var(--font-size);
    }
  }

  // Authorized Apps
  .authedApp-mj2Hmd {
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--border-colour);
    border-radius: 0;
    padding-bottom: var(--spacing-double);
    margin-bottom: var(--spacing-double)
  }
  .accountList-33MS45 {
    background: transparent;
    border: none;
    padding: 0;
  }

  // Connections
  .accountBtn-2Nozo3 {
    width: 33px;
    margin: 0 var(--spacing) 0 0;
    button {
      border-radius: 0;
      width: 100%;
      padding: 0;
      height: 33px;
      border-radius: var(--border-radius);
      border: 1px solid var(--border-colour);
      background-color: var(--settings-button);
      background-size: 20px;
      background-position: center;
      &:hover {
        background-color: var(--settings-button-hover);
      }
    }
  }
  .connection-1fbD7X {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid var(--border-colour) !important;
    margin-bottom: 0;
    .flexChild-faoVW3 {
      margin-left: 0 !important;
    }
    &:last-child {
      border-bottom: none !important;
    }
  }
  .subEnabledTitle-2ElRo_ {
    color: var(--text-normal) !important;
  }
  .integration-3kMeY4 {
    background: var(--background-dark);
    border: 1px solid var(--border-colour);
  }
  .integrationName-2tSCoY {
    color: var(--text-focus);
    font-weight: var(--font-weight-semibold);
  }
  .channelLink-2TxEu3 {
    color: var(--text-normal);
  }
  .connectionHeader-2MDqhu {
    padding: var(--spacing) 0;
    margin-bottom: 0;
    background: var(--background);
    border: none;
  }
  .connectionDelete-2Odoln {
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before, &:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:before {
      height: 12px;
    }
    &:after {
      width: 12px;
    }
  }
  .connectionOptionsWrapper-3KIj1Z {
    padding: 0;
  }
  .subEnabledTitle-2ElRo_ {
    font-size: var(--font-size);
  }
  .connectionOptionSwitch-3KNn-E {
    padding: 0;
    margin-bottom: var(--spacing);
  }
  .connectionAccountValue-3VdBGs,
  .connectionAccountLabel-1DiK0A {
    margin-left: var(--spacing) !important;
  }
  .divider-3573oO {
    margin-left: 0;
    margin-right: 0;
  }
  .integrationsWrapper-VkM_zO {
    padding: var(--spacing) 0;
  }

  // Gift Inventory

  main > div h2 + .children-rWhLdy form {
    margin-bottom:var(--spacing-double);
  }

  .emptyStateImage-2MrSNs {
    margin:0;
    margin-top:calc(var(--spacing) * 4); 
    width:144px;
    height:144px;
    background:var(--text-muted);
    -webkit-mask:url($illustration_8) center/contain no-repeat;
  }
  .emptyStateHeader-248f_b {
    margin-top:var(--spacing-double);
    margin-bottom:var(--spacing);
  }
  .emptyStateSubtext-2hdA9c {
    font-size:var(--font-size);
    color:var(--text-muted);
    margin:0;
  }

  // Appearance
  .preview-2nSL_2 {
    background: var(--background);
    border-color: var(--border-colour);
  }
  .preview-2nSL_2 + .marginTop40-i-78cZ .radioGroup-1GBvlr {
    .item-26Dhrx:first-child {
      .title-3BE6m5:after {
        content:'Dark themed elements with a grey color scheme.';
      }
    }
    &:last-child {
      .title-3BE6m5:after {
        content:'Light themed elements with a white color scheme. (Unfinished)';
      }
    }
  }
  .preview-2nSL_2 + .marginTop40-i-78cZ + .marginTop40-i-78cZ + h2 + .switchItem-2hKKKK {
    margin-bottom:var(--spacing-double) !important;
  }

  // Notifications
  .notificationsSound-27jFSh {
    padding: var(--spacing) 0;
    box-shadow: inset 0 -1px 0 0 var(--border-colour);
    &:hover .soundLabel-wUmcnl {
      transform: translateX(0);
    }
  }
  .soundLabel-wUmcnl {
    transform: translateX(-24px);
  }
  .icon-GiGwrE {
    width: 14px;
    height: 14px;
    margin-right: var(--spacing);
  }
  .sound-2QlACh {
    font-size: var(--font-size);
  }

  // Keybinds
  .card-FDVird:before {
    content: none;
  }

  // Game Activity
  .game-1ipmAa {
    box-shadow: 0 1px 0 0 var(--border-colour);
    padding: var(--spacing) 0;
  }
  .gameName-1RiWHm,
  .overlayStatusText-L2IACa {
    font-size: var(--font-size);
  }
  .gameVerifiedIcon-2dGGa5 {
    width: 14px !important;
    height: 14px !important;
  }
  .lastPlayed-3bQ7Bo {
    font-size: var(--font-size-sm);
    color: var(--text-muted);
  }
}

.theme-light .connectionIcon-2ElzVe {
  filter: invert(1);
}