//META{"name":"Adjustable Server Size","description":"Makes the server list smaller or larger. Customizable in the file or Custom CSS tab.","author":"Gibbu","version":"1.0"}*//{}

@import url("https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css");

:root {
    --ASW_size: 50px;
}
