.guildsWrapper-5TJh6A, .scrollerWrap-1IAIlv {
    width: var(--ASW_size);
}
.guild-1EfMGQ, .guild-1EfMGQ .avatar-S_nsxk, .guild-1EfMGQ .guildInner-3DSoA4 a {
    width: calc(var(--ASW_size) - 20px);
    height: calc(var(--ASW_size) - 20px);
    position: relative;
}
.theme-dark .guild-1EfMGQ .guildIcon-CT-ZDq {
    width: 100%;
    height: 100%;
    position: absolute;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 a {
    position: relative;
}
.theme-dark .guild-1EfMGQ .guildIcon-CT-ZDq.noIcon-1a_FrS {
    position: absolute;
    top: 1px;
    left: 0;
    line-height: var(--ASW_size);
    width: calc(var(--ASW_size) - 20px);
    height: calc(var(--ASW_size) - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.friendsOnline-_wi_fM {
    display: none;
}
.guildSeparator-1X4GQ1 {
    margin-left: -10px;
    width: var(--ASW_size);
}
.homeIcon-1FoKUJ {
    position: absolute;
    top: 0;
    left: 0;
}
button.guildsAdd-21_IdK {
    position: relative;
}
button.guildsAdd-21_IdK .guildsAddInner-1KMFy- {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(var(--ASW_size) - 20px)
}
.guild-1EfMGQ.selected-ML3OIq:before {
    top: 50% !important;
    transform: translateY(-50%) !important;
    height: calc(var(--ASW_size) - 60%) !important;
    width: 10px !important;
    margin-top: 0 !important;
}

/* Custom CSS tab Instructions */
#bd-settingspane-container .editor-wrapper {
    position: relative;
    margin-top: 100px;
}
#bd-settingspane-container .editor-wrapper::before {
    content: "To change the size of the Server List type the following: \A :root { --ASW_size: (YOUR NUMBER)px } \A\A Example:\A :root { --ASW_size: 55px }";
    background: #009688;
    display: block;
    white-space: pre;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,1);
    position: absolute;
    top: -110px;
}
