.wrapper-1Rf91z {
    width: calc(var(--ASW_size) + 15px);
    position: relative;
}
.wrapper-1Rf91z .listItem-2P_4kh {
    width: calc(var(--ASW_size) + 15px);
    height: calc(var(--ASW_size) + 15px);
    margin: unset;
    display: flex;
    align-items: center;
}
.wrapper-1Rf91z .listItem-2P_4kh .pill-31IEus, .wrapper-1Rf91z .listItem-2P_4kh .pill-2uzAFe {
    top: 50%;
    transform: translateY(-50%);
    height: var(--ASW_size);
}
.wrapper-1Rf91z .listItem-2P_4kh:first-child svg svg {
    width: 65%;
}
.wrapper-1Rf91z .listItem-2P_4kh .wrapper-25eVIn, .wrapper-1Rf91z > div[style] {
    height: var(--ASW_size);
    width: var(--ASW_size);
}
.wrapper-1Rf91z .listItem-2P_4kh .wrapper-25eVIn svg {
    height: var(--ASW_size);
    width: var(--ASW_size);
}
.wrapper-1Rf91z .listItem-2P_4kh:first-child + .listItem-2P_4kh, .wrapper-1Rf91z div[style] + .listItem-2P_4kh {
    height: unset;
    margin-top: 5px;
}
.unreadMentionsIndicatorTop-gA6RCh, .unreadMentionsIndicatorBottom-BXS58x {
    width: calc(var(--ASW_size) + 15px);
}
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe, .unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe {
    width: var(--ASW_size);
}
.wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh mask rect:last-child {
    width: 0;
    height: 0;
}
.macButtons-2MuSAC {
    width: calc(var(--ASW_size) + 15px);
    padding: 0;
}
.macButton-c_Adir {
    display: flex;
    justify-content: center;
}
.platform-osx .wrapper-1Rf91z {
    margin-top: 15px;
}
