#app-mount {
  .pageWrapper-1PgVDX {
    background: var(--set-tint);
    box-shadow: var(--set-right-brightness);
    .scrollerWrap-2lJEkd {
      margin-top: 48px;
    }
    .searchBox-3Y2Vi7 {
      box-shadow: none;
      background: var(--background-secondary);
      input::placeholder {
        color: var(--text-normal);
        opacity: .5;
      }
    }
    .searchHelpText-19imBp {
      opacity: 0;
      transition: 0.2s ease;
      bottom: -10px;
      &.searchHelpTextVisible-1mRnNd {
        opacity: 1;
        bottom: -20px;
      }
    }
  }
  .pageHeader-3615mp {
    height: 0;
    padding-top: 50px;
  }
  .bg-AYqtMd {
    -webkit-mask: linear-gradient(rgba(0,0,0,0.9) 70%, rgba(0,0,0,0) 100%);
  }
}