#app-mount .container-1D34oG {
  background: var(--set-tint);
  box-shadow: var(--set-right-brightness);
  .nowPlayingColumn-2sl4cE {
    background: transparent;
  }
  .itemCard-v9viV7 {
    background: var(--background-secondary);
  }
  .separator-XqIyoz {
    display: none;
  }
  .inset-3sAvek {
    background: transparent;
  }
  .section-2gLsgF:hover {
    background: var(--background-secondary);
  }
}