@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800|Montserrat:400,500,600,700');
* {outline-width: 0 !important; font-family: 'Montserrat';}
body, html {padding: 0; margin: 0;}


$bg1: #111;
$bg2: #1c1c1c;
$bg3: #272727;


body {
    background: $bg1;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background: $bg2;
    box-shadow: inset -1px 0 0 $bg3;
    z-index: 10;
}
.navTop {
    padding-bottom: 10px;
    padding: 25px;
    border-bottom: 1px solid $bg3;
    h1 {
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        margin: 0;
    }
    p {
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        margin: 0;
    }
}
.nav {
    a, button {
        display: block;
        box-sizing: border-box;
        padding: 25px;
        color: #eee;
        width: calc(100% - 1px);
        border: none;
        background: transparent;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        font-weight: 500;
        border-bottom: 1px solid $bg3;
        &:hover {
            background: lighten($bg2,2%);
        }
    }
}
.social {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    a {
        flex: 1;
        text-align: center;
        padding: 20px 0;
        color: #666;
        transition: 0.2s ease;
        border-top: 1px solid $bg3;
        border-right: 1px solid $bg3;
        &:hover {
            color: #ddd;
        }
        &:last-child {
            border-right: none;
        }
    }
}

#right {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100vw - 300px);
    z-index: 11;
}
#slides {
	position: absolute;
	height: 100%;
	width: 100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 1s;
    display: flex;
    align-items: center;
    img {
        width: 100%;
        display: block;
    }
}
.info {
    position: fixed;
    top: 372px;
    left: 0;
    width: 300px;
    box-sizing: border-box;
    padding: 10px 20px;
    color: #fff;
}
.showing {
	opacity: 1;
	z-index: 2;
}







.slideOut {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $bg2;
    z-index: 5;
    box-sizing: border-box;
    transition: 0.2s ease;
    overflow-y: auto;
    transform: scale(0.85, 0.85);
    opacity: 0;
    visibility: hidden;
    .close {
        position: absolute;
        top: 0;
        cursor: pointer;
        right: 0;
        color: #fff;
        font-size: 24px;
        padding: 15px;
    }
    header {
        padding: 25px;
        box-sizing: border-box;
        border-bottom: 1px solid $bg3;
        h2 {
            margin: 0;
            color: #fff;
        }
    }
    .body {
        padding: 25px;
        box-sizing: border-box;
        color: #eee;
        code {
            background: $bg3;
            display: block;
            padding: 15px;
            box-sizing: border-box;
        }
        .update {
            padding: 25px 0;
            border-bottom: 1px solid $bg3;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: none;
            }
            p {
                margin-top: 0;
                font-weight: 600;
            }
            ul {
                margin-bottom: 0;
            }
        }
    }
    &.toggle {
        transform: scale(1,1);
        opacity: 1;
        visibility: visible;
    }
}

















































































//
