@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800|Roboto:300,400,500,700|Abel");
* {
  outline-width: 0 !important;
  font-family: 'Roboto'; }

body, html {
  padding: 0;
  margin: 0; }

body {
  background: #eee; }

#changeLogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  #changeLogOverlay.toggle {
    opacity: 1;
    visibility: visible; }

#changeLog {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 6;
  background: #eee;
  overflow: hidden;
  border-radius: 3px;
  width: 550px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  #changeLog.toggle {
    opacity: 1;
    visibility: visible; }
  #changeLog .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    #changeLog .header h1 {
      margin: 0;
      font-family: 'Nunito';
      font-weight: 700; }
    #changeLog .header span {
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 20px;
      cursor: pointer; }
  #changeLog .body {
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 250px; }
    #changeLog .body .update {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      #changeLog .body .update:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0; }
      #changeLog .body .update p {
        margin: 0;
        font-weight: bold; }
      #changeLog .body .update ul {
        padding-left: 20px;
        margin: 10px; }

#centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #centre img {
    width: 100%; }

.title {
  background: #fff;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative; }
  .title h1 {
    font-family: 'Nunito';
    font-weight: 600;
    margin: 0; }
  .title .socials {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .title .socials a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 32px;
      height: 32px;
      margin-right: 5px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #444;
      font-size: 20px;
      text-decoration: none; }
      .title .socials a:hover {
        background: #f8f8f8;
        border-radius: 3px; }
      .title .socials a:last-child {
        margin-right: 0; }

.previewImage {
  position: relative;
  overflow: hidden;
  border-radius: 3px; }
  .previewImage .notes {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    text-align: right; }
    .previewImage .notes p {
      color: #fff;
      margin: 2px 0; }
  .previewImage img {
    display: block; }

.btns {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .btns a, .btns button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px 0;
    text-decoration: none;
    background: none;
    border: none;
    font-family: 'Nunito';
    font-weight: 700;
    color: #444;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #eee; }
    .btns a:last-child, .btns button:last-child {
      border-right: none; }
    .btns a:hover, .btns button:hover {
      background: #fafafa; }

@media only screen and (max-width: 1366px) {
  #centre {
    width: 980px; } }

@media only screen and (max-width: 980px) {
  #centre {
    width: 100%;
    padding: 0 20px; } }
