/*//META{"name":"Simply Dark Discord - Grey","description":"Makes Discord sharp and simple, available with 2 versions. Dark and Grey.","author":"Gibbu","version":"1.5.4","source":"https://github.com/Gibbu/BetterDiscord-Themes/tree/master/SimplyDarkDiscord","website":"https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/"}*//**/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url("https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/base.css");

:root {
    /* List of variables going from darkest to lightest */
    --bg1: #272727;
    --bg2: #2c2c2c;
    --bg3: #333;
    --bg4: #373737;
    --bg5: #3c3c3c;
    --bg6: #444;
    --bg7: #474747;
    --bg8: #4c4c4c;
    --bg9: #555;

    /* Discord preset colours */
    --green: #43b581;
    --greenDark: #3ca374;
    --yellow: #faa61a;
    --red: #f04747;
    --purple: #593695;
    
    /* Random variables */
    --winBtns: 0 135px 0 12px; /* Add space for windows buttons */

    /* Variables for my Horizontal Serverlist */
    --SSD_HSL-padding: 135px;
}
