/*//META{"name":"Simply Dark Discord - Dark","description":"Makes Discord sharp and simple, available with 2 versions. Dark and Grey.","author":"Gibbu","version":"1.7.0","source":"https://github.com/Gibbu/BetterDiscord-Themes/tree/master/SimplyDarkDiscord","website":"https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/"}*//**/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url("https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/base.css");

:root {
    --bgR: 12; /* RED value | 0 - 255 */
    --bgG: 12; /* GREEN value | 0 - 255 */
    --bgB: 12; /* BLUE value | 0 - 255 */
    --bgA: 1; /* ALPHA(transparent) value) | 0 - 1. Can use decimals (0.6) */
    --bgImage: url(''); /* HAS TO END IN .jpg, .jpeg or .gif. Example: https://i.imgur.com/XSYUUhe.jpg */

    --emojiPickerHeight: 400px;

    /* For complete circles use 50% */
    --avatarRoundness: 0px; /* Chat, Members, Voice, Direct Messages avatar roundness */

    /* Guild/Server variables */
    --serverRoundness: 0px;
    --serverHoverRoundness: 0px;
}
