/*//META{"name":"Simply Dark Discord - Dark","description":"Makes Discord sharp and simple, available with 2 versions. Dark and Grey.","author":"Gibbu","version":"1.6.0","source":"https://github.com/Gibbu/BetterDiscord-Themes/tree/master/SimplyDarkDiscord","website":"https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/"}*//**/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url("https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/base.css");

:root {
    /* List of variables going from darkest to lightest */
    --bg1: #111;
    --bg2: #171717;
    --bg3: #1c1c1c;
    --bg4: #222;
    --bg5: #272727;
    --bg6: #2c2c2c;
    --bg7: #333;
    --bg8: #373737;
    --bg9: #3c3c3c;

    /* For complete circle use 50% */
    --avatarRoundness: 0px; /* Chat, Members, Voice, Direct Messages avatar roundness */
    --serverRoundness: 0px; /* Guild/Server list icon roundness */
    --selectedServerRoundness: 0px; /* When selected on a server */
    --selectedServerBar: 0px; /* Bar to the left when selected a server */
}
