//META{"name":"Simply Dark Discord - Grey","description":"Makes Discord sharp and simple, available with 2 versions. Dark and Grey.","author":"Gibbu","version":"1.4.1","source":"https://github.com/Gibbu/BetterDiscord-Themes/tree/master/SimplyDarkDiscord","website":"https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/"}*//{}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url("https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/base.css");

/* List of variables going from darkest to lightest */
:root {
    --bg1: #272727;
    --bg2: #2c2c2c;
    --bg3: #333;
    --bg4: #373737;
    --bg5: #3c3c3c;
    --bg6: #444;
    --bg7: #474747;
}
