//META{"name":"Simply Dark Discord - Dark","description":"Makes Discord sharp and simple, available with 2 versions. Dark and Grey.","author":"Gibbu","version":"1.5.2","source":"https://github.com/Gibbu/BetterDiscord-Themes/tree/master/SimplyDarkDiscord","website":"https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/"}*//{}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url("https://gibbu.github.io/BetterDiscord-Themes/SimplyDarkDiscord/base.css");

:root {
    /* List of variables going from darkest to lightest */
    --bg1: #111;
    --bg2: #171717;
    --bg3: #1c1c1c;
    --bg4: #222;
    --bg5: #272727;
    --bg6: #2c2c2c;
    --bg7: #333;

    /* Discord preset colours */
    --green: #43b581;
    --yellow: #faa61a;
    --red: #f04747
}
