::selection {
  background: var(--accent-solid);
  color: #fff;
}
::-webkit-input-placeholder {
  user-select:none;
}
h1, h2, h3, h4, h5, h6, p {
  user-select:text;
}
#app-mount {
  background: var(--topbar-background);
  .base-3dtUhz {
    border-radius: 0;
    left: var(--base-left);
    overflow:visible !important;
  }

  .layer-3QrUeG.baseLayer-35bLyl {
    opacity: 1 !important;
    transform: scale(1) !important;
  }

  // Mentions/Channel jump
  .mention {
    background: rgba(var(--accent), 0.15);
    border-radius: var(--border-radius);
    color: var(--accent-solid);
    &:hover {
      background: var(--accent-solid);
      color: #fff;
    }
  }

  // Remove box-shadow from chat
  .content-yTz4x3:before {
    content: none;
  }

  // App-wide Text Rendering
  .h5-18_1nd {
    color:var(--text-normal);
    text-transform:none;
    font-weight:var(--font-weight-light);
    cursor:text;
    font-size:var(--font-size);
  }
  .errorMessage-3Guw2R {
    color:rgb(var(--discord-red));
    font-size:var(--font-size);
    font-weight:var(--font-weight-normal);
  }
}