#app-mount {
  background: var(--background-colour);
  .base-3dtUhz {
    border-radius: 0;
    border-left: 1px solid var(--border-colour);
    left: var(--base-left);
  }

  .layer-3QrUeG.baseLayer-35bLyl {
    opacity: 1 !important;
    transform: scale(1) !important;
  }

  // Mentions/Channel jump
  .mention {
    background: rgba(var(--accent), 0.15);
    border-radius: var(--border-radius);
    color: var(--accent-solid);
    &:hover {
      background: var(--accent-solid);
      color: #fff;
    }
  }

  // Remove box-shadow from chat
  .content-yTz4x3:before {
    content: none;
  }
}