#app-mount .container-1r6BKw {
  background: var(--toolbar-background);
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--border-color);
  padding-left: 0;
  position: relative;
  .children-19S4PO {
    flex: none;
    height: var(--toolbar-height);
    min-width: 230px;
    padding: var(--spacing);
    border-right: 1px solid var(--border-color);
    .iconWrapper-2OrFZ1 {
      margin: 0 var(--spacing) 0 0;
      .icon-22AiRD {
        width: 16px;
        color: var(--text-default);
      }
    }
    h3 {
      font-size: var(--font-size);
      font-weight: var(--font-weight-semibold);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:before {
        content: "Current Channel";
        margin-bottom: -5px;
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-light);
        line-height: normal;
        color: var(--text-muted);
      }
    }
    .divider-3FBTu8 {
      display: none;
    }
    .topic-TCb_qw {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      a {
        display: none;
      }
    }
    &:after {
      content: none;
    }
    &:hover {
      background: var(--toolbar-hover-background);
    }
  }
  .toolbar-1t6TWx {
    height: var(--toolbar-height);
    padding: 0 var(--spacing);
    border-right: 1px solid var(--border-color);
    .iconWrapper-2OrFZ1 {
      margin: 0 calc(var(--spacing) * 2) 0 0;
    }
    a .iconWrapper-2OrFZ1 {
      margin-right: 0;
    }
    .divider-3FBTu8 {
      display: none;
    }
  }
  .topPill-30KHOu {
    height: var(--toolbar-height);
    border-left: 1px solid var(--border-color);
    margin-left: var(--spacing);
    div {
      border-radius: 0;
      margin: 0;
      display: flex;
      align-items: center;
      background: transparent !important;
      color: var(--text-muted) !important;
      padding: 0 var(--spacing);
      &:hover {
        background: var(--toolbar-hover-background) !important;
        color: var(--text-default) !important;
      }
      &.selected-3s45Ha {
        color: var(--text-focus) !important;
        background: var(--accent-solid) !important;
      }
      &[style="background-color: rgba(67, 181, 129, 0.2); color: rgb(67, 181, 129);"] {
        background: var(--discord-green) !important;
        color: var(--text-focus) !important;
      }
    }
  }
  .search-36MZv- {
    position: absolute;
    right: var(--spacing);
    .searchBar-3dMhjb {
      background: var(--background-color);
      border: 1px solid var(--border-color);
      padding: 0 var(--spacing-sm);
      height: 27px;
      border-radius: var(--border-radius);
    }
  }
}