#app-mount {
  // Buttons
  .lookFilled-1Gx00P,
  .lookInverted-2D7oAl, 
  .lookOutlined-3sRXeN,
  .lookLink-9FtZy-  {
    font-size: var(--font-size);
    font-weight:var(--font-weight-light);
    cursor:default;
    min-height:var(--input-height);
    height:var(--input-height);
    line-height:normal;
    transition:none;
    padding:0 var(--spacing);
    border-radius:var(--button-border-radius);
  }
  .lookFilled-1Gx00P {
    color:var(--white);
    background-color:rgb(var(--button-colour));
    &:hover {
      box-shadow:inset 0 0 0 100vmax rgba(255,255,255,0.1);
    }
    &:focus {
      box-shadow:0 0 0 2px rgba(var(--button-colour), 0.25), inset 0 0 0 100vmax rgba(255,255,255,0.1);
    }
  }
    .secondaryButton-BIo-2g,
    .colorPrimary-3b3xI6.lookLink-9FtZy- {
      color:var(--text-normal);
      background:var(--background-light);
      min-height:var(--input-height);
      height:var(--input-height);
      padding:0 var(--spacing);
      border-radius:var(--button-border-radius);
      border:1px solid var(--border-colour);
      cursor:default;
      box-shadow:none !important;
      &:hover {
        border:1px solid currentColor;
        .contents-18-Yxp {
          background-image:none !important;
        }
      }
      &:focus {
        box-shadow:0 0 0 1px currentColor !important;
        border:1px solid currentColor !important;
      }
    }
  .lookLink-9FtZy- {
    padding:0;
    color:var(--accent-solid);
    height:auto;
    min-height:unset;
    cursor:pointer;
    &:hover .contents-18-Yxp {
      background-image:linear-gradient(0deg,transparent,transparent 1px,var(--accent-solid) 0,var(--accent-solid) 2px,transparent 0);
    }
    &.reset-2ikQ30 {
      opacity:1;
    }
  }
  .lookInverted-2D7oAl {
    color:rgb(var(--button-colour));
    background-color:var(--text-focus) !important;
    border:1px solid var(--text-focus);
    &:hover {
      border:1px solid rgb(var(--button-colour));
    }
    &:focus {
      border:1px solid rgb(var(--button-colour));
      box-shadow:0 0 0 2px rgba(var(--button-colour), 0.25);
    }
  }
  .lookOutlined-3sRXeN {
    border:1px solid rgb(var(--button-colour));
    color:rgba(var(--button-colour), .75);
    background:transparent;
    &:hover {
      color:rgb(var(--button-colour));
    }
    &:focus {
      color:rgb(var(--button-colour));
      box-shadow:0 0 0 2px rgba(var(--button-colour), .25);
    }
  }
  .colorBrand-3pXr91,
  .colorLink-35jkBc,
  .colorWhite-rEQuAQ,
  .colorBlack-1jwPVL,
  .colorPrimary-3b3xI6,
  .colorGreen-29iAKY,
  .colorYellow-2JqYwt {
    --button-colour:var(--accent);
  }
  .colorGrey-2DXtkV {
    --button-colour:var(--discord-invisible);
  }
  .colorRed-1TFJan {
    --button-colour:var(--discord-red);
  }

  // Inputs
  .input-2A_zIr,
  .input-cIJ7To {
    border-radius: var(--border-radius);
    background: var(--background-dark);
    font-size:var(--font-size);
    border:1px solid var(--border-colour);
    color:var(--text-normal);
    transition:none;
    padding:0 var(--spacing-half);
    height:var(--input-height);
    line-height:24px;
    &:focus, .focused-1mmYsC {
      border:1px solid var(--accent-solid);
      box-shadow:0 0 0 2px rgba(var(--accent), 0.25);
    }
    &::-webkit-input-placeholder {
      color:var(--text-muted);
    }
    &.multiInput-1e2xJ7 {
      border:none;
      background:transparent;
      box-shadow:none;
      padding:0;
    }
    .emoji-MCvpgl {
      background:var(--background);
    }
    .clearIcon-xXwSFS {
      width:12px;
      height:12px;
    }
  }
  .inputContainer-1SpwlU {
    display:flex;
    align-items:center;
    .emojiButtonContainer-3d6DFV {
      position:relative;
      margin-left:0;
    }
  }

  .inputWrapper-31_8H8 {
    flex-grow:1;
    .inputPrefix-2VAOGg {
      display:none;
    }
  }

  .multiInputLast-1aQ3YA {
    flex-grow:0;
    margin-left:var(--spacing);
    &input {
      padding:2px 6px;
      padding-left:18px;
      width:54px;
    }
    &:before {
      content:none;
    }
  }

  // Radio buttons
  .item-26Dhrx {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    &[style*="background-color"] {
      .descChecked-XkfPsU, .titleChecked-2wg0pd {
        color: var(--text-focus) !important;
        font-weight: bold;
      }
    }
    .checkbox-1ix_J3 {
      border: none !important;
      background: var(--checkbox-background) !important;
      border-radius: 50%;
      width: 14px !important;
      height: 14px !important;
      position: relative;
      cursor: pointer;
      svg {
        display: none;
      }
      &.checked-3_4uQ9:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        background: var(--accent-solid);
        transform: translate(-50%, -50%);
      }
    }
  }
  .checkboxWrapper-SkhIWG {
    display: flex;
    align-items: center;
  }
  .input-3ITkQf[type="checkbox"] {
    display: none;
  }
  .label-cywgfr {
    display: flex;
    align-items: center;
    padding-left: var(--spacing);
  }
  .title-3BE6m5 {
    margin-right: var(--spacing);
    width: auto;
    line-height: normal;
    font-size: var(--font-size);
    font-weight: var(--font-size);
  }
  .info-3LOr12 {
    display: flex;
    align-items: center;
    .desc-2Dttbk {
      flex: 3;
      margin: 0;
      font-size: var(--font-size);
    }
  }

  // Checkboxes
  .switch-3wwwcV,
  .bd-switch {
    height: 14px;
    width: 30px;
    border-radius: var(--border-radius);
    overflow: visible;
    &:after {
      margin: 0;
      border-radius: var(--border-radius);
      width: 14px;
      height: 14px;
      box-shadow: none;
      transform: translate3d(-1px,0,0);
      box-shadow: var(--checkbox-box-shadow);
    }
    &.valueChecked-m-4IJZ, &.bd-switch-checked {
      background: var(--accent-solid);
      &:after {
        transform: translate3d(16px,0,0);
      }
    }
  }
  .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: var(--accent-solid);
    border-color: var(--accent-solid);
  }

  // Select
  .css-15ejc46-control,
  .css-2yldzf-control,
  .css-1yegjoj-control,
  .css-oc2jo8-control,
  .css-13kbzi0-control,
  .css-oce0qz-control {
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    background: var(--background-dark);
    font-size: var(--font-size);
    height: var(--input-height);
    padding: 0;
    min-height: auto;
  }
  .css-1hwfws3 {
    padding: 0 var(--spacing-half);
    margin-top: -5px;
  }
  .css-1wy0on6 {
    height: var(--input-height);
  }
  .css-12qlrak-indicatorContainer,
  .css-1flfamv-indicatorContainer {
    padding-right: var(--spacing-half);
    opacity: 1;
    svg {
      width: 16px;
      height: 16px;
      -webkit-mask: url($icon_chevron-down) center/12px no-repeat;
      background: #fff;
      path {
        display: none;
      }
    }
  }
  .css-13kbzi0-control,
  .css-oce0qz-control {
    opacity: .5;
  }
  .title-1B76a1 {
    font-size: var(--font-size);
  }
  .subtitle-2yP_Eh {
    font-size: var(--font-size-sm);
  }

  // Keybinds
  .container-1nZlH6 {
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    background: var(--background-dark);
    font-size: var(--font-size);
    height: var(--input-height);
    padding: 0;
    min-height: auto;
    .input-1UhAnY {
      padding: 0 var(--spacing);
    }
    .button-34kXw5 {
      background: transparent;
    }
    .text-2sI5Sd {
      font-size: var(--font-size);
      top: -5px;
      position: relative;
    }
    &.hasValue-3pdcdm:not(.disabled-29eJ21):hover .button-34kXw5 {
      width: 100px;
    }
  }

  // Range slider
  .slider-1PF9SW {
    .bar-2Qqk5Z {
      border-radius: 2px;
    }
    .barFill-23-gu- {
      background: var(--accent-solid);
    }
  }
}

// Light Mode Buttons

.theme-light {
  #app-mount {
    .secondaryButton-BIo-2g, 
    .colorPrimary-3b3xI6.lookLink-9FtZy- {
      &:hover {
        background:var(--background);
        border:1px solid var(--secondary-border-color);
      }
      &:focus {
        box-shadow:0 0 0 2px rgba(0,0,0,0.05) !important;
        border:1px solid var(--secondary-border-color) !important;
      }
    }
  }
}