#app-mount {
  .messages-3amgkR,
  .messagesPopout-24nkyi,
  .listWrapper-3kgtQ0 .scroller-2FKFPG,
  .contentWrapper-SvZHNd .scroller-2FKFPG,
  .container-1D34oG .scrollerBase-289Jih,
  .scroller-zPkAnE,
  .infoScroller-3EYYns,
  .listScroller-2_vlfo {
    &::-webkit-scrollbar {
      width: 4px;
      display: none;
      background: transparent !important;
      box-shadow: -1px 0 0 var(--border-colour);
    }
    &::-webkit-scrollbar-track-piece {
      background: transparent;
      border-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-background);
      border-radius: 0;
      border-radius: var(--border-radius);
      border: none;
      &:hover {
        background-color: var(--scrollbar-background-hover);
      }
      &:active {
        background-color: var(--scrollbar-background-active);
      }
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &:hover {
      overflow: overlay;
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
}

