// RadialStatus
#app-mount .avatarHint-1qgaV3 .avatarHintInner-Dco91E {
  width: calc(var(--avatar-size-xlg) - var(--rs-large-spacing) - var(--rs-width));
  height: calc(var(--avatar-size-xlg) - var(--rs-large-spacing) - var(--rs-width));
  margin-top: calc(var(--rs-width) - 1px);
  margin-left: calc(var(--rs-width) - 1px);
  white-space: normal;
  text-align: center;
}