#app-mount .titleBar-AC4pGV {
  height: calc(var(--titlebar-height) - 2px);
  border-bottom: 1px solid var(--topbar-border);
  margin-top: 2px;
  position: relative;
  width: 100vw;
  .wordmarkWindows-1v0lYD {
    padding: 0 var(--spacing-half);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--titlebar-height);
    margin-top: -3px;
    svg {
      display: none;
    }
    &:before {
      content: '';
      width: var(--titlebar-height);
      height: var(--titlebar-height);
      position: relative;
      -webkit-mask: url($icon_discord) center/18px no-repeat;
      top: 2px;
      opacity: .5;
      background: #fff;
      -webkit-app-region: drag;
    }
    &:after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: var(--titlebar-height);
      background: var(--topbar-header-selected);
      z-index: -1;
    }
  }
  .winButton-iRh8-Z {
    height: var(--titlebar-height);
    width: calc(var(--titlebar-height) * 1.5);
    color: var(--toolbar-text-default);
    top: -2px;
    cursor: default;
  }
  .winButtonClose-1HsbF-:hover {
    color: var(--toolbar-text-focus);
  }
}