#app-mount {
  .tooltip-2QfLtc {
    box-shadow: none;
    border: 1px solid var(--border-colour);
    font-size: var(--font-size);
    text-align: center;
    padding: var(--spacing-half) var(--spacing);
    border-radius: var(--border-radius);
    min-height:var(--input-height);
  }
  .tooltipBlack-PPG47z {
    background: var(--tooltip-background);
    color: var(--text-focus);
    .tooltipPointer-3ZfirK {
      border-top-color: var(--border-colour);
    }
  }
}

