#app-mount .modal-1sor29 {
  min-height: auto;
  color: var(--text-default);
  .header-2tA9Os {
    padding: var(--spacing-double);
    border-bottom: 1px solid var(--border-colour);
    button {
      padding: 0;
    }
  }
  .inner-ZyuQk0 {
    padding: var(--spacing-double);
    .content-38qMG0 {
      padding-bottom: 0;
    }
  }
}