#app-mount {
  .art-347BZj {
    display: none;
  }
  .header-1TKi98 {
    padding: var(--spacing-double);
  }
  .header-3C6qT5 {
    padding-top: 0;
    align-items: flex-start;
  }
  .headerText-2uyvpY {
    line-height: inherit;
    font-weight: normal;
  }
  .content-1LAB8Z {
    padding: 0 var(--spacing-double);
  }
}