#app-mount {
  .downloadLink-1ywL9o {
    &:nth-child(2) {
      left: 90px;
    }
    &:nth-child(3) {
      left: 110px;
    }
  }
  .modal-3c3bKg {
    transform: none !important;
    opacity: 1 !important;
    button[type="submit"] {
      margin-left: var(--spacing);
    }
  }
  .modal-yWgWj- {
    background-color: var(--background);
    border-radius: var(--border-radius);
    box-shadow: none;
    .header-2tA9Os {
      padding: var(--spacing-double);
      border-bottom: 1px solid var(--border-colour);
      box-shadow: none;
    }
    .inner-ZyuQk0 {
      padding: var(--spacing-double) var(--spacing-double) 0 var(--spacing-double);
    }
    .colorStandard-2KCXvj {
      font-size: var(--font-size);
    }
    .largeSpacing-304iPU {
      margin-bottom: var(--spacing-double);
    }
    .divider-3573oO {
      border-top-color: var(--border-colour);
    }
    .footer-3rDWdC {
      background: var(--background);
      box-shadow: none;
      border-top: 1px solid var(--border-colour);
      padding: var(--spacing-double);
    }
    .h4-AQvcAz,
    .title-31JmR4 {
      font-size: var(--font-size-lg);
    }
    .description-3_Ncsb,
    .labelDescriptor-1PqHgD {
      font-size: var(--font-size);
    }
    .switchItem-2hKKKK .directionRow-3v3tfG {
      align-items: center;
      margin-right: var(--spacing);
    }
    .cardPrimaryOutline-29Ujqw {
      border-color: var(--border-colour);
      background: var(--background-dark);
      padding: var(--spacing-half) 0 var(--spacing-half) var(--spacing);
      border-radius: var(--border-radius);
      .directionRow-3v3tfG {
        align-items: center;
        svg {
          width: var(--font-size-xl);
        }
      }
      .weightSemiBold-1WYsXZ {
        font-size: var(--font-size-lg);
      }
      .channelNameByline-R73-tU {
        font-size: var(--font-size-sm);
      }
      .box-mmYMsp {
        background: var(--background) !important;
        cursor: pointer;
        border: none;
        &[style*="rgb(114, 137, 218)"] {
          background: var(--accent-solid) !important;
          border: none !important;
        }
      }
    }
    .checkboxMute-14hTGS:before {
      content: none;
    }
  }
}

