.root-1gCeng.small-3iVZYw {
  background: var(--background);
  min-height: unset;
  .content-mK72R6 {
    padding-bottom: 0;
  }
  .colorStandard-2KCXvj {
    font-size: var(--font-size-lg);
  }
  .colorMuted-HdFt4q {
    font-size: var(--font-size-sm);
    color: var(--text-muted);
  }
  .footer-3rDWdC {
    background-color: transparent;
    box-shadow: none;
    button[type="submit"] {
      margin-left: var(--spacing);
    }
  }
}