// Mac
html.platform-osx #app-mount {
  .macButtons-2MuSAC {
    padding: 5px 0 5px 10px;
  }
  .guilds-1SWlCJ {
    margin-top: 0;
    .tutorialContainer-1v44GL .listItem-2P_4kh {
      top: -1px;
    }
  }
}