#app-mount .container-1D34oG {
  background: var(--background-alt);
  .children-19S4PO {
    padding-right: 0;
    &:hover {
      background: transparent;
    }
  }
  .tabBody-3YRQ8W:before {
    content: none;
  }
  .scroller-2FKFPG {
    overflow: hidden;
    &::-webkit-scrollbar {
      width: 12px;
      display: none;
      background: transparent;
      border-left: 1px solid var(--border-colour);
    }
    &::-webkit-scrollbar-track-piece {
      background: transparent;
      border-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-style: solid;
      border-color: transparent;
      border-left-width: 4px;
      border-right-width: 3px;
      background-clip: padding-box;
      background-color: var(--channel-scrollbar);
    }
    &:hover {
      overflow: overlay;
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
  .title-30qZAO {
    margin: 0;
    padding: var(--spacing);
    border-bottom: 1px solid var(--border-colour);
  }
  .peopleListItem-2nzedh {
    border-top: none;
    border-bottom: 1px solid var(--border-colour);
    margin: 0;
    padding: var(--spacing);
    border-radius: 0;
    height: auto !important;
    .userInfo-2zN2z8 {
      overflow: visible;
    }
    .discordTag-2_tqUA {
      overflow: visible;
    }
    .username-31C1TQ {
      font-size: var(--font-size-lg);
      overflow: visible;
    }
    .discriminator-22Okc1 {
      font-size: var(--font-size-sm);
      color: var(--text-muted);
      visibility: visible;
      margin-left: 5px;
    }
    .text-3MU_QQ {
      font-size: var(--font-size);
    }
    .actionButton-uPB8Fs {
      background: var(--background);
      border: 1px solid var(--border-colour);
      border-radius: var(--border-radius);
      color: var(--text-focus);
    }
    &:hover {
      background: var(--background-light);
    }
  }
  .sectionHeader-20RGqu {
    border-bottom-color: var(--border-colour);
    .addInputWrapper-1BOZ3d {
      padding: var(--spacing);
      h2 {
        margin: 0;
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-lg);
      }
      .description-1EvxpH {
        display: none;
      }
      .wrapper-1cBijl {
        border-color: var(--border-colour);
        border-radius: var(--border-radius);
        background-color: var(--background);
        margin: var(--spacing) 0 0 0;
        padding: 0;
        height: 46px;
        overflow: hidden;
        input {
          font-size: var(--font-size-lg);
          padding-left: var(--spacing);
          height: 100%;
          margin-right: 0;
          border-right: 1px solid var(--border-colour);
        }
        .addFriendHint-3Y70FX {
          height: 100%;
          font-size: var(--font-size-lg);
          top: -2px;
          left: var(--spacing);
        } 
        button {
          height: 100%;
          border-radius: 0;
          background: transparent;
          transition: none;
          &:not([disabled]):hover {
            background: var(--accent-solid);
          }
        }
      }
    }
  }

  .nowPlayingColumn-2sl4cE {
    border-left: 1px solid var(--border-colour);
    background: var(--background);
  }
  .wrapper-3D2qGf {
    background: var(--background-alt);
    border: 1px solid var(--border-colour);
    .separator-XqIyoz {
      background-color: var(--border-colour);
    }
    .inset-3sAvek {
      background-color: var(--background);
      border: 1px solid var(--border-colour);
    }
  }
}