#app-mount .container-3Mxszk {
  background: var(--main-background);
  .container-19hC9u:before {
    content: none;
  }
  .children-19S4PO {
    padding-right: 0;
    &:hover {
      background: transparent;
    }
  }
  .scroller-1IIF0A {
    background: var(--main-background);
    overflow: hidden;
    &::-webkit-scrollbar {
      width: 12px;
      display: none;
      background: transparent;
      border-left: 1px solid var(--border-color);
    }
    &::-webkit-scrollbar-track-piece {
      background: transparent;
      border-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-style: solid;
      border-color: transparent;
      border-left-width: 4px;
      border-right-width: 3px;
      background-clip: padding-box;
      background-color: var(--channel-scrollbar);
    }
    &:hover {
      overflow: overlay;
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
  .searchBar-TUoVPN {
    background: var(--background-color);
    border: 1px solid var(--border-color);
  }
  .header-39GIC8 {
    padding: var(--spacing);
    background: var(--main-background);
    border-bottom-color: var(--border-color);
    width: 100%;
  }
  .rowWrapper-2fB6P0 {
    margin: 0;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    padding-bottom: 0;
    .bodyCell-9xKjWE {
      padding: var(--spacing);
    }
    &:hover {
      background: var(--main-background-hover);
    }
  }
  .scroller-2XE8rp {
    background-color: var(--main-background);
  }
}