#app-mount .wrapper-3Q5DdO {
  position:fixed;
  background:var(--background-colour-dark);
  .canvas-3XuBXe,
  .fallbackImage-31Sk4m,
  .image-2jyRAK, 
  .verticalSeparator-3huAjp,
  .colorHeaderSecondary-3Sp3Ft,
  .needAccount-23l_Wh {
    display:none;
  }
  .rightSplit-2US0xy {
    background:url($illustration_2) center/50%; 
    box-shadow:inset 0 0 0 100vmax rgba(0,0,0,0.4);
  }
  .authBox-hW6HRx {
    padding:0;
    max-width: 400px;
    background:var(--background-colour);
    box-shadow:var(--modal-box-shadow);
    border-radius:var(--border-radius);
    border:1px solid var(--border-color);
    position:relative;
    left:-100px;
    .qrLogin-1AOZMt {
      position:absolute;
      left:100%;
      background:var(--background-colour);
      box-shadow:var(--modal-box-shadow);
      border-radius:var(--border-radius);
      border:1px solid var(--border-color);
      margin-left:var(--spacing);
      height:auto;  
      width:auto;
      top:0;
      padding:0;
      .qrLoginInner-c_7ePj {
        justify-content:flex-start;
        .qrCodeContainer-3sXarj {
          padding:var(--spacing-double);
        }
      }
      .title-jXR8lp {
        order:-1;
      }
      .qrCodeContainer-3sXarj {
        margin:0;
      }
    }
    .title-jXR8lp {
      width:100%;
      height:50px;
      padding:var(--spacing-double);
      box-sizing:border-box;
      display:flex;
      align-items:center;
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-lg);
      border-bottom:1px solid var(--border-colour);
      margin:0;
      color:var(--text-normal);
    }
    .defaultMarginh3-2iptLs, 
    .defaultMarginh5-2mL-bP {
      margin-bottom:var(--spacing-third);
    }
    .block-egJnc0 {
      margin:0;
      padding:var(--spacing-double);
      box-sizing:border-box;
    }
    .marginBottom20-32qID7 {
      margin-bottom:var(--spacing);
    }
  }
  .wrapper-6URcxg {
    transform:none !important;
    opacity:1 !important;
    width:100vw !important;
    height:100vh !important;
    min-width:unset;
    min-height:unset;
  }
}