#app-mount .pageWrapper-1PgVDX {
    background-color: var(--background-1);
    .bg-AYqtMd {
        display: none;
    }
    .card-3DjzTQ {
        border-radius: 5px;
    }
    .searchBox-3Y2Vi7, .css-1wqqa50-container, .card-3DjzTQ {
        background-color: var(--pages-box);
        box-shadow: var(--box-shadow);
    }
}