#app-mount .gameLibrary-TTDw4Y {
    .scroller-1IIF0A {
        background: var(--background-1);
    }
    .header-39GIC8 {
        background: var(--background-1);
    }
    .rowWrapper-2fB6P0 {
        margin: 8px 8px 8px 2px;
        .row-ZLfFhY {
            border: none;
        }
        .textCell-1aBIUP, .icon-1IKq3C {
            color: var(--text-3);
        }
        &.rowWrapperActive-2L7i9f {
            padding-bottom: 0;
            background-color: var(--pages-box);
            box-shadow: var(--box-shadow)
        }
    }
}