@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800|Roboto:300,400,500,700');
* {outline-width: 0 !important; font-family: 'Roboto';}
body, html {padding: 0; margin: 0;}



html {
    overflow: hidden;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#centre {
    width: 1280px;
    position: relative;
}
#title {
    padding-bottom: 15px;
    h1 {
        margin: 0;
        font-family: 'Nunito';
    }
}
.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding-top: 15px;
    a {
        width: 100%;
        text-align: center;
        color: #fff;
        text-decoration: none;
        padding: 15px 0;
        transition: 0.2s ease;
        i {
            padding-right: 5px;
        }
        &.download {
            background: #4CAF50;
            &:hover {
                background: darken(#4CAF50, 5%);
            }
        }
        &.source {
            background: #2196F3;
            &:hover {
                background: darken(#2196F3, 7%);
            }
        }
    }
}

.responsiveVideo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
    }
}



















































































































//
