* {
    border-radius: 0 !important;
    &:before, &:after {
        border-radius: 0 !important;
    }
}
::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'Roboto';
    border-radius: 0 !important;
    -webkit-mask: none !important;
    mask: none !important;
    &:before, &:after {
        border-radius: 0 !important;
        mask: none !important;
    }
}

#app-mount .scroller-2FKFPG {
    background: transparent;
}

// Tooltips
#app-mount .tooltipBlack-PPG47z {
    background: var(--bg15);
    box-shadow: none;
    color: #fff;
    text-align: center;
    position: relative;
    .tooltipPointer-3ZfirK {
        border-top-color: var(--bg15);
    }
}

// Buttons
.lookOutlined-3sRXeN.colorRed-1TFJan:not(:disabled) {
    background: var(--red);
    color: #fff;
    &:hover {
        background: var(--redDark);
        border-color: var(--redDark);
    }
}

// Nitro
.flowerStarContainer-3zDVtj {
    color: var(--bg15) !important;
    .iconTierNone-3xOaeG {
        color: #fff !important;
    }
}

// Switch
#app-mount {
    .switch-3wwwcV {
        &:after {
            margin: 0;
            box-shadow: none;
            height: 100%;
        }
        &.valueUnchecked-2lU_20 {
            &:active:after {
                width: 18px;
            }
        }
        &.valueChecked-m-4IJZ {
            &:active:after {
                width: 18px;
                left: 0;
            }
            &:after {
                transform: translate3d(24px,0,0);
            }
        }
    }
    .ui-switch {
        &:before {
            top: 0 !important;
            left: 0 !important;
            height: 100% !important;
        }
        &.checked:before {
            transform: translateX(26px) !important;
        }
    }
}



// Status
#app-mount .wrapper-3t9DeA {
    position: relative;
    * {
        overflow: visible;
        mask: none;
    }
    .dots-3Bkt3k {
        position: relative;
        z-index: 2;
        [cx="2.5"] {
            cy: -8;
            cx: -8.5;
        }
        [cx="8.75"] {
            cy: -8;
            cx: -2.25;
        }
        [cx="15"] {
            cy: -8;
            cx: 4;
        }
    }
    .mask-1l8v16 > rect[x="22"] {
        x: 0;
        y: 0;
    }
    .cursorDefault-dsQJ1n rect {
        x: -49;
        y: -53;
    }
    .pointerEvents-2zdfdO[x="14.5"] {
        fill: rgba(0,0,0,0.5);
        width: 30px;
        height: 30px;
        x: 1;
        y: 1;
    }

    &[style*="width: 80px;"] {
        position: relative;
        rect {
            width: 80px;
            height: 80px;
        }
        &[style*="width: 80px;"]:after {
            top: auto;
            left: auto;
            bottom: -15px;
            right: 0;
        }
    }
    &[style*="width: 32px;"] {
        rect {
            width: 32px;
            height: 32px;
            overflow: visible;
            x: -14.5;
            y: -17;
            rx: calc(var(--SD-roundness) / 2) !important;
            ry: calc(var(--SD-roundness) / 2) !important;
        }
        img {
            border-radius: calc(var(--SD-roundness) / 2) !important;
        }
    }
    img {
        border-radius: var(--SD-roundness) !important;
    }
    &[aria-label*="mobile"] {
        &:not([style*="width: 80px;"]):before {
            content: "";
            background: linear-gradient(90deg, transparent, var(--bg4) 50%);
            height: 30px;
            width: 50px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            position: absolute;
            right: -180px;
        }
        &:after {
            content: "";
            -webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZD0iTTE1LjUgMWgtOEM2LjEyIDEgNSAyLjEyIDUgMy41djE3QzUgMjEuODggNi4xMiAyMyA3LjUgMjNoOGMxLjM4IDAgMi41LTEuMTIgMi41LTIuNXYtMTdDMTggMi4xMiAxNi44OCAxIDE1LjUgMXptLTQgMjFjLS44MyAwLTEuNS0uNjctMS41LTEuNXMuNjctMS41IDEuNS0xLjUgMS41LjY3IDEuNSAxLjUtLjY3IDEuNS0xLjUgMS41em00LjUtNEg3VjRoOXYxNHoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==');
            -webkit-mask-size: 16px;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            display: block;
            position: absolute;
            width: 12px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            right: -171px;
            background: var(--green);
            z-index: 1;
        }
    }
    rect {
        x: 0;
        y: 0;
        width: 100%;
        height: 100%;
        rx: var(--SD-roundness);
        ry: var(--SD-roundness);
        fill: transparent;
        stroke-width: var(--SD-avatar-status-width);
        &[fill="#43b581"], &[fill="rgba(67, 181, 129, 1)"], &[mask*="online"] {
            stroke: var(--green);
        }
        &[fill="#faa61a"], &[fill="rgba(250, 166, 26, 1)"], &[mask*="idle"] {
            stroke: var(--yellow);
        }
        &[fill="#f04747"], &[fill="rgba(240, 71, 71, 1)"], &[mask*="dnd"] {
            stroke: var(--red);
        }
        &[fill="#593695"], &[fill="rgba(89, 54, 149, 1)"], &[mask*="streaming"] {
            stroke: var(--purple);
        }
        &[fill="#747f8d"], &[mask*="offline"], &[mask*="ivisible"], &[fill="rgba(116, 127, 141, 1)"] {
            stroke: #747f8d;
        }
        &[x="16"] {
            width: 24px;
            height: 24px;
        }
        &[x="28"] {
            width: 40px;
            height: 40px;
            overflow: visible;
        }
    }
}

// X Buttons
#app-mount {
    .removeKeybind-39dSFj, .removeGame-2JFGPn, .restoreButton-22-SIW, .emojiRemove-1k6MlJ, .removeWebhook-3PNViU, .revokeInvite-28N8uj {
        background-color: var(--bg10);
        border: none;
        box-shadow: none;
    }
}

// Notices
.notice-2FJMB4 .dismiss-SCAH9H {
    left: 0;
}