.wordmark-2iDDfm {
    display: none;
}

// Windows
.bd-detached-editor .winButton-iRh8-Z {
    right: 30% !important
}
.typeWindows-1za-n7 {
    height: 9px;
    margin-top: 0;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    background: transparent;
}
.winButton-iRh8-Z {
    position: relative;
    top: 0;
    height: 47px;
    width: 40px;
}
.app-19_DXt.platform-win .container-1r6BKw {
    padding-right: 125px;
}
