#app-mount .sidebar-2K8pFh {
    background: transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,var(--BG-left-brightness));
    .container-PNkimc, .privateChannels-1nO12o {
        background: transparent;
    }

    // Channel states
    .wrapper-1ucjTd {
        .icon-1_QxNX {
            color: var(--channels-default);
        }
        &.modeMuted-3osy7j .content-3at_AU {
            .icon-1_QxNX {
                color: var(--interactive-muted);
            }
        }
        &:hover .content-3at_AU {
            background: var(--background-modifier-hover);
            .icon-1_QxNX {
                color: var(--interactive-hover);
            }
        }
        &.modeUnread-1zpFdA .content-3at_AU {
            background: var(--background-modifier-hover);
            .icon-1_QxNX {
                color: var(--interactive-active);
            }
        }
        &.modeSelected-1zApJ_ .content-3at_AU {
            background: var(--BG-gradient);
            .icon-1_QxNX {
                color: #fff;
            }
        }
    }




    .panels-j1Uci_ {
        background: transparent;
    }
}