#app-mount .membersWrap-2h-GB4 {
    .member-3-YXUe.selected-aXhQR6 {
        background: var(--BG-gradient);
        .roleColor-rz2vM0, .activity-2Gy-9S {
            color: var(--text-normal) !important;
        }
    }
    .layout-2DM8Md {
        background-color: transparent;
    }

    .activity-2Gy-9S {
        color: var(--text-normal);
    }
}