:root {
    --red: #f04747;
    --redDark: #e42d2d;
    --green: #43b581;
    --greenDark: #368e66;
    --yellow: #faa61a;
    --yellowDark: #d08d1e;
    --blurple: #7289da;
    --blurpleDark: #6980d0;
}

/***** Global *****/
.app-2rEoOp.theme-light .container-2lgZY8 {
    background: var(--bg5) !important;
}
.app-2rEoOp.theme-light::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg5) !important;
}



/***** Titlebar *****/
.titleBar-AC4pGV {
    box-shadow: none;
}
.winButton-iRh8-Z > svg {
    filter: invert(1);
}
.titleBar-AC4pGV .wordmark-2iDDfm svg path {
    fill: var(--bg2);
}



/***** Guilds/Server list *****/
.app-2rEoOp.theme-light .wrapper-1Rf91z {
    background: var(--bg5);
    border-radius: 0;
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .acronym-2mOFsV {
    background: var(--bg4);
    color: var(--c1)
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .expandedFolderBackground-2sPsd-, .app-2rEoOp.theme-light .wrapper-1Rf91z .folder-21wGz3 {
    background: var(--bg4);
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .button-OhfaWu {
    background: var(--bg4);
    color: var(--c3);
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .item-2hkk8m {
    background: var(--bg0);
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .item-2hkk8m[style*="height: 8px;"] {
    background: var(--bg2);
    transition: 0.05s ease;
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .guildSeparator-3s64Iy {
    background: var(--bg4)
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .blobContainer-239gwq:active *:not(.acronym-2mOFsV) {
    background: transparent !important;
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .blob-1PX1Gp:active *:not(.button-OhfaWu) {
    background: transparent !important;
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .circleIconButton-jET_ig {
    background: var(--bg4);
    color: var(--c1);
}
.app-2rEoOp.theme-light .wrapper-1Rf91z .listItem-2P_4kh .guildsError-b7zR5H {
    background: #f04747;
}




/***** Channels/Direct messages *****/
.app-2rEoOp.theme-light .channels-Ie2l6A {
    background-color: var(--bg7) !important;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-PNkimc {
    background: transparent;
}

/*** Header ***/
.app-2rEoOp.theme-light .channels-Ie2l6A .header-2o-2hj {
    box-shadow: none;
    border-bottom: 1px solid var(--bg5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .header-2o-2hj:hover {
    background: var(--bg7);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .header-2o-2hj .name-3YKhmS {
    color: var(--c3);
    font-weight: 600;
    text-shadow: none;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .header-2o-2hj svg {
    filter: invert(1)
}
.app-2rEoOp.theme-light .channels-Ie2l6A .bannerImage-1jOskm {
    margin-top: 48px;
    background-size: 0, cover !important;
    -webkit-mask: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 100%) !important;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .bannerImage-1jOskm:after {
    background: rgba(#000, 0.2);
}
.app-2rEoOp.theme-light .channels-Ie2l6A div[style="width: 100%; height: 78px; visibility: hidden;"] {
    height: 120px !important;
}

/*** Channels ***/
/* Category */
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-3GGEv_ .wrapper-CU3qI5 {
    color: var(--c4);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS {
    font-weight: var(--channelCategoryThickness);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-3GGEv_ .addButton-1BORro svg {
    opacity: .6;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-3GGEv_ .addButton-1BORro polygon {
    fill: var(--c4);
}
/* Normal */
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq svg {
    color: var(--c3);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .name-3_Dsmg {
    color: var(--c3);
    font-weight: var(--channelNormalThickness);
}
/* Hovered */
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq > div:hover .content-3at_AU {
    background-color: var(--bg5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq > div:hover svg {
    color: var(--c1);
    opacity: 1;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq > div:hover .name-3_Dsmg {
    color: var(--c1);
}
/* Selected */
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU {
    background-color: var(--bg4) !important;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU svg:not(.actionIcon-2Hi9ZG) {
    color: var(--c1);
    opacity: 1;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU svg.actionIcon-2Hi9ZG {
    color: var(--c1);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU .name-3_Dsmg {
    color: var(--c1);
    font-weight: var(--channelSelectedThickness);
}
/* NSFW */
.app-2rEoOp.theme-light .channels-Ie2l6A .marginReset-3RfdVe svg path.background-2OVjk_ {
    opacity: .6;
}
/* Muted */
.app-2rEoOp.theme-light .channels-Ie2l6A .modeMuted-3osy7j svg {
    color: var(--c5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .modeMuted-3osy7j .name-3_Dsmg {
    color: var(--c5);
}
/* New Messages */
.app-2rEoOp.theme-light .channels-Ie2l6A .unread-3zKkbm {
    background-color: var(--c4);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .contentUnreadText-2vNnZc svg {
    color: var(--c1);
    opacity: 1;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .contentUnreadText-2vNnZc .name-3_Dsmg {
    color: var(--c1);
}
/* Move channel */
.app-2rEoOp.theme-light .channels-Ie2l6A .wrapper-1ucjTd:active .content-3at_AU {
    background: var(--bg4) !important;
}
/* Limited channel */
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .userLimit-64AFxe .users-i_3-kL {
    background: var(--bg5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .userLimit-64AFxe .total-3tKGEB {
    background: var(--bg4);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .userLimit-64AFxe .total-3tKGEB:after {
    border-right-color: var(--bg4);
}
/* Joined Voice */
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .voiceUser-14U_Ns .username-lm8y6T {
    color: var(--c1);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .voiceUser-14U_Ns:hover .content-3xS9Lh {
    background: var(--bg5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .voiceUser-14U_Ns:hover .username-lm8y6T {
    color: var(--c1);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .avatarSpeaking-3MqCHL {
    box-shadow: inset 0 0 0 2px #43b581, inset 0 0 0 3px var(--bg6);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .containerDefault-1ZnADq .voiceUser-14U_Ns.popout-open .content-3xS9Lh {
    background: var(--bg4);
}


/*** Connected voice & Account details ***/
.app-2rEoOp.theme-light .channels-Ie2l6A .container-1giJp5,
.app-2rEoOp.theme-light .channels-Ie2l6A .container-3baos1 {
    background: var(--bg6)
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-1giJp5 {
    border: none;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-1giJp5 .channel-SEolQq {
    color: var(--c4);
    font-weight: 600;
    opacity: 1;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-1giJp5 span {
    font-weight: 600;
}
.app-2rEoOp.theme-light .container-3baos1 .button-2JbWXs .buttonIcon-onTTxP, .container-1giJp5 .button-2JbWXs .buttonIcon-onTTxP {
    color: var(--bg0);
}
.app-2rEoOp.theme-light .button-2JbWXs:hover:not(.disabled-v9-Ysw) {
    background: var(--bg4);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-1giJp5 .flex-1xMQg5 > div:hover {
    background-color: #333;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-3baos1 .discriminator-3W31ZY {
    color: var(--c4);
    opacity: 1;
    font-weight: 600;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-3baos1 .username-2BIRiC {
    font-weight: 500;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-3baos1 .username-2BIRiC:not([style*=""]) {
    color: var(--c1);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-3baos1 .flex-1xMQg5 > div:hover,
.app-2rEoOp.theme-light .channels-Ie2l6A .container-3baos1 .flex-1xMQg5 > button:hover {
    background-color: var(--bg4);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px #43b581, inset 0 0 0 1.5px var(--bg7);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .container-3baos1 .status-oxiHuE {
    border-color: var(--bg6);
}
.app-2rEoOp.theme-light .button-s03oPN {
    color: var(--c1);
}
.app-2rEoOp.theme-light .button-s03oPN:hover:not(.disabled-1ZY10C) {
    background: var(--bg4);
    color: var(--c1);
}




/*** Direct Messages ***/
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O .name-2WpE7M {
    font-weight: 600;
    color: var(--c3)
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o header {
    color: var(--c5);
    opacity: 1;
    font-weight: 600;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o a > svg {
    color: var(--c4);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ .name-2WpE7M,
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ svg {
    color: var(--c1);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .status-oxiHuE {
    border-color: var(--bg7);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .channel-2QD9_O:hover .status-oxiHuE {
    border-color: var(--bg5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .channel-2QD9_O.selected-1HYmZZ .status-oxiHuE {
    border-color: var(--bg4);
}


/* Search Bar */
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .searchBar-6Kv8R2 {
    box-shadow: inset 0 -1px 0 var(--bg5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background: transparent;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .searchBar-6Kv8R2 .inner-3ErfOT {
    background: var(--bg5);
    border: none;
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarInner-1_Tg2R input::placeholder {
    color: var(--c4);
    opacity: .7;
    font-weight: 500;
}
/* Hovered */
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O:hover a {
    background: var(--bg5);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O:hover .activity-525YDR {
    color: var(--c1);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O:hover .activityIcon-1mtTk4 path {
    fill: var(--c2);
}
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O:hover .close-3hZ5Ni {
    filter: invert(1);
}
/* Selected */
.app-2rEoOp.theme-light .channels-Ie2l6A .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ a {
    background: var(--bg4);
}


/***** Members *****/
.app-2rEoOp.theme-light .membersWrap-2h-GB4 .members-1998pB {
    background: var(--bg7);
}
.app-2rEoOp.theme-light .membersWrap-2h-GB4 .members-1998pB .content-OzHfo4 .activity-1IYsbk {
    color: var(--c4);
    font-weight: var(--membersPlayingThickness);
}
.app-2rEoOp.theme-light .membersWrap-2h-GB4 .member-3W1lQa:hover .content-OzHfo4 {
    background: var(--bg6);
}
.app-2rEoOp.theme-light .membersWrap-2h-GB4 .member-3W1lQa.popout-open .content-OzHfo4 {
    background: var(--bg5);
}
.app-2rEoOp.theme-light .membersWrap-2h-GB4 .memberOffline-2lN7gt .usernameOffline-3VSVLk,
.app-2rEoOp.theme-light .membersWrap-2h-GB4 .username-1cB_5E {
    font-weight: var(--membersMemberThickness);
}
.app-2rEoOp.theme-light .membersWrap-2h-GB4 .status-2s6iDp {
    border-color: var(--bg7)
}
.app-2rEoOp.theme-light .membersGroup-v9BXpm {
    color: var(--c5);
    font-weight: var(--membersRoleThickness);
}



/***** Chat *****/
.app-2rEoOp.theme-light .chat-3bRxxu,
.app-2rEoOp.theme-light .chat-3bRxxu .content-yTz4x3,
.app-2rEoOp.theme-light .chat-3bRxxu .noChannel-Z1DQK7 {
    background-color: var(--bg8) !important;
}
.app-2rEoOp.theme-light .chat-3bRxxu form .channelTextArea-rNsIhG {
    border-top-color: var(--bg5)
}
.app-2rEoOp.theme-light .chat-3bRxxu form .channelTextAreaDisabled-rZtG8r .innerDisabled-2mc-iF textarea::placeholder {
    color: var(--c4);
}
.app-2rEoOp.theme-light .chat-3bRxxu form .inner-zqa7da {
    background: var(--bg7);
}
.app-2rEoOp.theme-light .chat-3bRxxu form .inner-zqa7da textarea {
    color: var(--c3);
    font-weight: var(--chatTextThickness);
}
.app-2rEoOp.theme-light .chat-3bRxxu form .inner-zqa7da textarea::placeholder {
    color: var(--c5);
}
.app-2rEoOp.theme-light .chat-3bRxxu form .inner-zqa7da .attachButtonPlus-rUdX-B {
    fill: var(--c2);
}
.app-2rEoOp.theme-light .chat-3bRxxu .embed-IeVjo6 .embedInner-1-fpTo {
    background: var(--bg6);
    border-color: var(--bg6);
}
.app-2rEoOp.theme-light .chat-3bRxxu .embed-IeVjo6 .embedInner-1-fpTo .embedProviderLink-2Pq1Uw,
.app-2rEoOp.theme-light .chat-3bRxxu .embed-IeVjo6 .embedInner-1-fpTo .embedDescription-1Cuq9a {
    font-weight: 600;
}
.app-2rEoOp.theme-light .chat-3bRxxu .username-_4ZSMR {
    color: var(--c1);
    font-weight: var(--chatUsernameThickness);
}
.app-2rEoOp.theme-light .chat-3bRxxu .markup-2BOw-j {
    color: var(--c1);
}
.app-2rEoOp.theme-light .chat-3bRxxu .dividerRed-MKoLlr,
.app-2rEoOp.theme-light .chat-3bRxxu .divider-3gKybi {
    background-color: transparent !important;
}
.app-2rEoOp.theme-light .chat-3bRxxu .dividerRed-MKoLlr .dividerContent-2L12VI:before,
.app-2rEoOp.theme-light .chat-3bRxxu .dividerRed-MKoLlr .dividerContent-2L12VI:after {
    height: 1px !important;
    opacity: 1;
}
.app-2rEoOp.theme-light .chat-3bRxxu .divider-3gKybi .dividerContent-2L12VI::before,
.app-2rEoOp.theme-light .chat-3bRxxu .divider-3gKybi .dividerContent-2L12VI::after {
    border-color: var(--bg5);
}
.app-2rEoOp.theme-light .chat-3bRxxu .innerNoAutocomplete-1WpcVO,
.app-2rEoOp.theme-light .chat-3bRxxu .innerAutocomplete-1PN280 {
    background: var(--bg7);
}
.app-2rEoOp.theme-light .chat-3bRxxu .innerNoAutocomplete-1WpcVO .textArea-2Spzkt,
.app-2rEoOp.theme-light .chat-3bRxxu .innerAutocomplete-1PN280 .textArea-2Spzkt {
    font-weight: var(--chatTextThickness);
    color: var(--c1);
}
.app-2rEoOp.theme-light .chat-3bRxxu .markup-2BOw-j pre {
    background: var(--bg6);
    border-color: var(--bg6);
}
.app-2rEoOp.theme-light .chat-3bRxxu .markup-2BOw-j code {
    background: var(--bg6);
    font-weight: var(--chatCodeBlockThickness);
}
.app-2rEoOp.theme-light .chat-3bRxxu .markup-2BOw-j code.hljs {
    color: var(--c2);
}
.app-2rEoOp.theme-light .chat-3bRxxu .dividerEnabled-2TTlcf.divider-32i8lo {
    border-bottom-color: var(--bg5);
}
.app-2rEoOp.theme-light .chat-3bRxxu .attachment-33OFj0 {
    background: var(--bg6);
    border-color: var(--bg6);
}
.app-2rEoOp.theme-light .chat-3bRxxu .attachment-33OFj0 .fileNameLink-9GuxCo,
.app-2rEoOp.theme-light .chat-3bRxxu .attachment-33OFj0 .metadata-3WGS0M,
.app-2rEoOp.theme-light .chat-3bRxxu .markup-2BOw-j {
    font-weight: var(--chatTextThickness);
}
.app-2rEoOp.theme-light .chat-3bRxxu .wrapper-35wsBm.userSelectNone-Iy6XEP {
    background: var(--bg6);
    border-color: var(--bg6);
}
.app-2rEoOp.theme-light .chat-3bRxxu .wrapper-35wsBm.userSelectNone-Iy6XEP .guildIconImage-3qTk45 {
    background-color: var(--bg3);
}
.app-2rEoOp.theme-light .chat-3bRxxu .typing-2GQL18 {
    background: transparent !important;
}
.app-2rEoOp.theme-light .chat-3bRxxu .timestampCozy-2hLAPV {
    font-weight: var(--chatTimestampThickness);
}
.app-2rEoOp.theme-light .chat-3bRxxu .container-3-pyIM {
    font-weight: var(--chatTextThickness);
}
.app-2rEoOp.theme-light .chat-3bRxxu .reactionBtn-2na4rd, .app-2rEoOp.theme-light .chat-3bRxxu .button-3Jq0g9 {
    opacity: 1
}



/***** Scrollbars *****/
.app-2rEoOp.theme-light .chat-3bRxxu .vertical-V37hAW .scroller-2FKFPG::-webkit-scrollbar-track {
    border-color: var(--bg8);
    background: var(--bg6);
}
.app-2rEoOp.theme-light .chat-3bRxxu .vertical-V37hAW .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	border-color: transparent !important;
	background-color: transparent !important;
}
.app-2rEoOp.theme-light .chat-3bRxxu .vertical-V37hAW .scroller-2FKFPG::-webkit-scrollbar-thumb {
	display: initial;
    border-color: var(--bg8);
    background-color: var(--scrollbarColour);
}
.popouts-3dRSmE.theme-light .emojiPicker-3m1S-j .scroller-2FKFPG::-webkit-scrollbar-thumb,
.popouts-3dRSmE.theme-light #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.root-SR8cQa .scroller-2FKFPG::-webkit-scrollbar-thumb,
.messagesPopoutWrap-1MQ1bW .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarColour) !important;
}



/***** Headers *****/
.app-2rEoOp.theme-light .container-1r6BKw {
    box-shadow: none;
    border-bottom: 1px solid var(--bg6);
    background: var(--bg8);
}
.app-2rEoOp.theme-light .container-1r6BKw .children-19S4PO:after {
    content: none;
}
.app-2rEoOp.theme-light .container-1r6BKw .searchBar-3dMhjb {
    background: var(--bg7);
}



/***** Popouts *****/
/*** User Popout ***/
.userPopout-3XzG_A .protip-YaFfgO {
    display: none;
}
.userPopout-3XzG_A .quickMessage-2XpSaN {
    border: none;
    background: var(--bg8);
}
.theme-light .item-2J1YMK, .theme-light .item-1Yvehc {
    color: var(--c2);
}
.theme-light .item-2J1YMK:hover, .theme-light .itemSubMenu-1vN_Yn:hover, .theme-light .item-1Yvehc:hover {
    color: var(--c1);
}

/*** Status Picker ***/
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl {
    color: var(--c1)
}
.menu-Sp6bN1.alt-3btY0e .helper-2c73HK {
    color: var(--c4);
}


/***** Emoji Picker *****/
.emojiPicker-3m1S-j .scroller-3vODG7 {
    height: var(--emojiPickerHeight) !important;
}
.lightTheme-3LGLQs.container-2XeR5Z {
    background: var(--bg7);
}
.lightTheme-3LGLQs .input-1Rv96N {
    color: var(--c1);
}
.lightTheme-3LGLQs .input-1Rv96N::placeholder {
    color: var(--c5);
}



/***** Modals *****/
/*** User Modal ***/
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.root-SR8cQa .topSectionPlaying-1J5E4n .tabBarContainer-1s1u-z .item-PXvHYJ {
    color: #fff !important;
}
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.root-SR8cQa .topSectionPlaying-1J5E4n .tabBarContainer-1s1u-z .item-PXvHYJ[style*="border-color: rgb(79, 84, 92);"] {
    border-bottom-color: #fff !important;
}



/***** Tooltips *****/
.theme-light .tooltipBlack-PPG47z,
.theme-light .bubble-3we2di {
    background-color: #fff;
    color: var(--c1) !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    font-weight: var(--tooltipsTextThickness);
}
.theme-light .tooltipBlack-PPG47z .tooltipPointer-3ZfirK,
.theme-light .bubble-3we2di:before {
    border-top-color: #fff !important;
}



/***** Gif autocomplete *****/
.app-2rEoOp.theme-light .container-3ISnnM .scroller-2FKFPG .result-3w1ZcL {
    background: var(--bg5) !important;
}



/* BLurple Button Recolour */




/***** Store *****/
.app-2rEoOp.theme-light .listingLarge-3Rix7u .purchaseUnit-2lxci3 .bodySection-jqkkIP {
    background: var(--bg6);
    border-top-color: var(--bg4);
}
.app-2rEoOp.theme-light .listingLarge-3Rix7u .purchaseUnit-2lxci3 .bodySection-jqkkIP .actionText-3EKWER,
.app-2rEoOp.theme-light .listingLarge-3Rix7u .purchaseUnit-2lxci3 .bodySection-jqkkIP .details-31ROOk .title-3KTIjF,
.app-2rEoOp.theme-light .listingLarge-3Rix7u .purchaseUnit-2lxci3 .bodySection-jqkkIP .details-31ROOk .info-1Emy1X {
    color: var(--c3);
}
.app-2rEoOp.theme-light .listingLarge-3Rix7u .purchaseUnit-2lxci3 .bodySection-jqkkIP .listingPrice-2GiDSc,
.app-2rEoOp.theme-light .listingLarge-3Rix7u .purchaseUnit-2lxci3 .bodySection-jqkkIP .label-13UUcd {
    color: var(--c1);
}



/***** User Settings *****/
/*** Sidebar ***/
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] #bd-settings-sidebar > span > div:last-child::after {
    content: var(--TLVersion);
    display: block;
    margin-top: 2px;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .sidebarRegion-VFTUkN {
    background: var(--bg7);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .sidebarRegion-VFTUkN .header-2RyJ0Y,
.app-2rEoOp.theme-light #bd-settings-sidebar .ui-tab-bar-header {
    color: var(--c4);
    font-weight: var(--settingsSBHeaderThickness);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .sidebarRegion-VFTUkN .item-PXvHYJ,
.app-2rEoOp.theme-light #bd-settings-sidebar .ui-tab-bar-item {
    font-weight: var(--settingsSBMenuButtonThickness);
    color: var(--c2);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .sidebarRegion-VFTUkN .item-PXvHYJ:hover,
.app-2rEoOp.theme-light #bd-settings-sidebar .ui-tab-bar-item:hover {
    background: var(--bg5);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .sidebarRegion-VFTUkN .item-PXvHYJ.selected-3s45Ha,
.app-2rEoOp.theme-light #bd-settings-sidebar .ui-tab-bar-item.selected {
    background: var(--bg4);
}
.app-2rEoOp.theme-light #bd-settings-sidebar .ui-tab-bar-item {
    margin-bottom: 2px;
}

/*** Main content ***/
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .contentRegion-3nDuYy {
    background: var(--bg8);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .userInfoViewing-16kqK3 {
    background: var(--bg7);
    border-color: var(--bg5);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] h2 {
    font-weight: var(--settingsHeaderThickness);
    color: var(--c1);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] h5 {
    font-weight: var(--settingsSubHeaderThickness);
    color: var(--c2);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .description-3_Ncsb,
.theme-light .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.theme-light .userSettingsSecurity-3IYeMF .codeCheckbox-1T0TTy,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .desc-2Dttbk,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .title-31JmR4,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label]
.deviceOptionLabel-22FM_u,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .bda-slist .ui-switch-item .bda-description,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .primary-jw0I4K,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .css-6nrxdk-singleValue {
    font-weight: var(--settingsTextThickneess);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .lighten-2aYaaU {
    color: var(--c1);
    opacity: .7;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .connection-1fbD7X .titleDefault-a8-ZSr {
    color: #fff !important;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] button.colorRed-1TFJan {
    background: var(--red);
    border-color: var(--red);
    color: #fff;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] button.colorRed-1TFJan:hover {
    background: var(--redDark);
    border-color: var(--redDark);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] button.colorBrand-3pXr91 {
    background: var(--blurple);
    border-color: var(--blurple);
    color: #fff;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] button.colorBrand-3pXr91:hover {
    background: var(--blurpleDark);
    border-color: var(--blurpleDark);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .authedApp-mj2Hmd,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .accountList-33MS45 {
    background: var(--bg7);
    border-color: var(--bg5)
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .connectedAccounts-2-XP1G {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    box-shadow: none;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .connectedAccounts-2-XP1G .accountBtn-2Nozo3 {
    margin: 0;
    padding: 0;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .connectedAccounts-2-XP1G .accountBtn-2Nozo3 button {
    width: 100%;
    border-radius: 0;
    border: none;
    border-top: 1px solid var(--bg5);
    border-bottom: 1px solid var(--bg5);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .connectedAccounts-2-XP1G .accountBtn-2Nozo3:first-child button {
    border-left: 1px solid var(--bg5);
    border-radius: 5px 0 0 5px;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .connectedAccounts-2-XP1G .accountBtn-2Nozo3:last-child button {
    border-right: 1px solid var(--bg5);
    border-radius: 0 5px 5px 0;
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .connectedAccounts-2-XP1G .accountBtn-2Nozo3 button:hover {
    background-color: var(--bg8);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .paymentPane-3bwJ6A,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .paginator-166-09,
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .payment-xT17Mq {
    background: var(--bg7);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .css-oc2jo8-control {
    background: var(--bg7);
    border-color: var(--bg5)
}
.theme-light .cardPrimaryEditable-3KtE4g {
    background: var(--bg7);
    border-color: var(--bg5);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .bda-slist .ui-switch-item {
    background: var(--bg7);
    border-color: var(--bg5);
}
.theme-light .bda-slist .bda-header, .theme-light .bda-slist .bda-footer {
    border-color: var(--bg4);
}
.app-2rEoOp.theme-light .repo-controls .quickSelectLabel-2r3iJ_, .app-2rEoOp.theme-light .repo-controls .sort-filter {
    opacity: 1;
    font-weight: var(--settingsTextThickneess)
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .description-3_Ncsb {
    color: var(--c4);
}
.app-2rEoOp.theme-light .layer-3QrUeG[aria-label] .cardPrimaryEditable-3KtE4g:not([style*="background-color"]) .desc-2Dttbk {
    color: var(--c1);
}




/***** Version *****/
[aria-label="USER_SETTINGS"] .side-8zPYf6 .header-2RyJ0Y:first-child::before {
    content: "TrueLight v1.0.2";
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--bg4);
    padding-bottom: 5px;
}
