#app-mount {
  .popout-2sKjHu {
    background: var(--background);
    border: 1px solid var(--border-colour);
  }
  .optionLabel-2CkCZx {
    padding: var(--spacing);
    font-size: var(--font-size);
    line-height: inherit;
  }
}