#app-mount {
  .popout-2sKjHu {
    background: var(--background);
    border: 1px solid var(--border-colour);
  }
  .optionLabel-2CkCZx {
    padding: var(--spacing);
    font-size: var(--font-size);
    line-height: inherit;
  }
  .css-n57xjs-menu {
    background: var(--background);
    box-shadow: var(--elevation-1);
    border: 1px solid var(--border-colour);
  }
  .css-12o7ek3-option,
  .css-1aymab5-option,
  .css-1gnr91b-option {
    font-size: var(--font-size);
    padding: var(--spacing);
    height: auto;
    min-height: unset;
  }
  .css-1gnr91b-option {
    background: var(--background-modifier-hover);
  }
  .css-12o7ek3-option {
    background: rgb(var(--accent));
  }
}