/**
 * @name SimplyDark
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Makes Discord sharp and Simple.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/SimplyDark
 * @website https://gibbu.me/
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url("https://gibbu.github.io/BetterDiscord-Themes/SimplyDark/base.css");

/* Black Box user tags */
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

:root {

    --SD-bgR: 10; /* RED value | 0 - 255 | DEFAULT: 10 */
    --SD-bgG: 10; /* GREEN value | 0 - 255 | DEFAULT: 10 */
    --SD-bgB: 10; /* BLUE value | 0 - 255 | DEFAULT: 10 */

    --SD-emojipickerheight: 224px; /* Height of the emojipicker. Changing this may cause issues in some places. | DEFAULT: 224px */
    --SD-roundness: 0px; /* Roundness for avatars, servers ect... | DEFAULT: 0px | MAX: 30px */
    --SD-avatar-status-width: 2px; /* Width of status border around avatars (must end in px) | DEFAULT: 2px */

    /*
        To use a custom font. Visit https://fonts.google.com and select one to your liking.
        Now just follow this tutorial: (TUT HERE)
    */
    --SD-font: 'Roboto';

}
