#app-mount .scrollableContainer-2NUZem {
  .button-3AYNKb {
    color: var(--text-normal);
    opacity: .2;
    &:hover {
      opacity: 1;
    }
  }
  .emojiButton-3uL3Aw {
    opacity: .2;
    &:hover {
      opacity: 1
    }
  }
}
#app-mount .form-2fGMdU:before {
  content: none;
}
