#app-mount {
  .message-2qnXI6 {
    text-shadow: 0 var(--text-shadow-distance) var(--text-shadow-spread) rgba(0,0,0,var(--text-shadow-opacity));
  }
  .buttonContainer-DHceWr {
    z-index: 11;
  }
  .wrapper-2aW0bm {
    background: var(--set-tint);
    box-shadow: var(--set-popout-brightness);
    transition: none;
  }
  .mentioned-xhSam7 {
    background: linear-gradient(var(--gradient-direction), rgba(var(--gradient-one), 0.3), rgba(var(--gradient-two), 0.3)) !important;
    border-radius: 0 3px 3px 0;
    &:before {
      background-color: rgba(var(--gradient-one), 1);
    }
  }
  .attachment-33OFj0 {
    border: none;
    background: var(--background-secondary);
  }
}


.message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover {
  background: transparent;
}