#app-mount {
  .bd-modal-wrapper {
    .bd-modal {
      animation: fadeInBottom 0.2s ease forwards;
    }
    &.closing .bd-modal {
      animation: fadeOutBottom 0.2s ease forwards;
    }
  }
  .bd-modal-inner {
    border: none;
    box-shadow: none;
    overflow: hidden;
    position: fixed;
    max-width: 1000px;
    margin: 0 var(--BG-window-padding);
    width: 100%;
    .header, .tab-bar-container {
      box-shadow: none;
      background: rgba(#000, 0.6);
    }
    .bd-modal-body {
      background: transparent;
    }
    .table-header {
      border: none;
    }
    .error {
      background: rgba(#000, 0.3);
      border: none;
      margin-bottom: 15px;
      padding: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .footer {
      position: relative;
      button {
        background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
        color: #fff !important;
      }
    }
  }
}