#app-mount {
  .modal-yWgWj- .content-38qMG0 {
    padding-top: 20px;
  }
  .modal-3c3bKg {
    transition: none !important;
    transform: none !important;
    animation: fadeInTop 0.2s ease forwards;
    .cardPrimaryEditable-3KtE4g,
    .input-cIJ7To {
      background: rgba(#000, 0.3);
      border: none;
      color: #fff;
    }
    .divider-38zUJA,
    .divider-3WKGWk {
      border-color: rgba(#fff, 0.1);
    }
    .container-2XeR5Z {
      background: rgba(#000, 0.3);
    }
    .botTag-2WPJ74 {
      font-weight: bold;
    }
    .botTagInvert-18-95s {
      color: rgba(var(--BG-gradient-one), 1);
      background: #fff !important;
    }
    .lookInverted-2D7oAl.colorBrand-3pXr91 {
      font-weight: 600;
      color: rgba(var(--BG-gradient-one), 1);
    }
    .message-2qRu38 {
      background: rgba(#000, 0.3);
      border: none;
      box-shadow: none;
      pre {
        background: rgba(0,0,0,0.5);
        border: none;
        overflow: hidden;
        code {
          background: transparent;
          overflow: hidden;
        }
      }
      code {
        background: rgba(0,0,0,0.5);
      }
    }
    .lookFilled-1h1y05.select-1Pkeg4 {
      border: none;
      background: rgba(#000, 0.3);
    }
    .arrow-2KJjTM {
      color: #fff;
    }
    .removeOverride-2sdvVX {
      background-color: rgba(#000, 0.5);
      box-shadow: none;
    }
    .footer-2VgWkh {
      background: rgba(#000, 0.3);
    }
    .checkbox-1ix_J3[style*="rgb(114, 137, 218)"] {
      border: none;
      background: #fff;
      polyline {
        stroke: rgba(var(--BG-gradient-one), 1);
      }
    }
    .installSize-1eXbBX {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
    }
    .override-2YgiXd {
      background: rgba(#000, 0.3);
      border: none;
      & > div:first-child {
        display: flex;
        align-items: center;
      }
    }
    .checkboxGroup-Z7AmuU .checkboxContainer-2vV9zd:before {
      background: rgba(#fff, 0.2);
    }
  }
  .modal-yWgWj-.modal-1sor29 {
    background: transparent;
    box-shadow: none;
    .footer-3rDWdC, .header-2tA9Os {
      background: rgba(#000, 0.3);
      box-shadow: none;
    }
    .selectable-x8iAUjmessage-content {
      padding-top: 20px;
    }
    .content-8biNdB p {
      color: #fff;
    }
    ul li {
      color: #fff;
    }
  }
  // Something
  .wrapper-2ZbzR9 {
    background: transparent;
  }
}