#app-mount {
  // Drag & Drop
  .uploadModalIn-1z07Bv {
    .bgScale-1otPtc {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
    }
    .inner-3nWsbo {
      border: none;
    }
  }

  // Keyboard shortcuts
  .keyboardShortcutsModal-3piNz7 {
    background: transparent;
    .keybindDescription-2RDbC2 {
      color: #fff;
    }
    & > h1 {
      position: relative;
    }
    & > div:not(.ddrArrows-lSnH7P) {
      position: relative;
      border-color: rgba(#000, 0.1);
    }
  }

  // Folder Settings
  .root-1gCeng.small-3iVZYw {
    background: transparent;
    box-shadow: none;
    animation: fadeInTop 0.2s ease forwards;
    .input-cIJ7To {
      background: rgba(#000, 0.3);
      border: none;
    }
    .footer-3rDWdC {
      background: rgba(#000, 0.3);
      box-shadow: none;
    }
  }
}