#app-mount .quickswitcher-3JagVE {
  background: transparent;
  box-shadow: none;
  .input-2VB9rf {
    background: rgba(#000, 0.3);
    box-shadow: none;
    &::placeholder {
      color: rgba(#fff, 0.5);
      font-weight: 300;
    }
  }
  .scrollerOuter-3FLELE {
    margin-top: 10px;
  }
  .resultFocused-3aIoYe {
    background: rgba(#000, 0.3);
  }
}