#app-mount .uploadModal-2ifh8j {
  background: transparent;
  & > div {
    position: relative;
  }
  .autocompleteInner-zh20B_ {
    height: 145px;
    overflow-y: auto;
    .content-Qb0rXO, .contentTitle-2tG_sM {
      color: #fff;
    }
    .description-11DmNu, .descriptionUsername-J_75O8 {
      color: rgba(#fff, 0.6);
      font-weight: 400;
    }
    .divider-23swzi {
      background: rgba(#fff, 0.1);
    }
    .descriptionDiscriminator-3vUOCc {
      color: rgba(#fff, 0.3);
      font-weight: 400;
    }
  }
  .inner-3nWsbo {
    border: none;
  }
  .inner-zqa7da {
    background: rgba(#000, 0.3);
    textarea {
      color: #fff;
    }
  }
  .checkbox-1ix_J3.checked-3_4uQ9 polyline {
    stroke: rgba(var(--BG-gradient-one), 1);
  }
  .file-34mY5K {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    .icon-kyxXVr {
      min-width: 60px;
      height: 90px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      background-size: cover;
      margin-left: 15px;
      border-color: rgba(var(--BG-gradient-one), 1);
    }
    .description-2ug5H_ {
      padding: 0;
      height: auto;
      margin-left: 15px;
    }
  }
  .footer-3mqk7D {
    background: rgba(#000, 0.3);
    .lookInverted-2D7oAl.colorBrand-3pXr91 {
      background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
      color: #fff;
      font-weight: 600;
    }
  }
}