#app-mount .root-SR8cQa {
  & > div {
    position: relative;
  }
  .botTag-2WPJ74, .lookFilled-1Gx00P.colorGreen-29iAKY, .topSectionSpotify-1lI0-P {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
  }
  .lookInverted-2D7oAl.colorGreen-29iAKY {
    color: rgba(var(--BG-gradient-one), 1);
    font-weight: 600;
    background: #fff !important;
  }
  .topSectionNormal-2-vo2m {
    background: rgba(#000, 0.3);
  }
  .tabBarContainer-1s1u-z {
    border-top: none;
  }
  .topSectionPlaying-1J5E4n {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
  }
  .body-3ND3kc {
    background: transparent;
  }
  .userInfoSection-2acyCx {
    border-color: rgba(#000, 0.1);
  }
  .userInfoSectionHeader-CBvMDh {
    color: rgba(#fff, 0.5);
    font-weight: 500;
  }
  .note-3kmerW textarea:focus {
    background: rgba(#000, 0.3);
  }
  .connectedAccount-36nQx7 {
    background: rgba(#000, 0.3);
    border: none;
    .connectedAccountName-f8AEe2 {
      color: #fff;
    }
  }
}