/**
 * @name Adjustable Server Width
 * @author Gibbu#1211
 * @version 1.0.0
 * @description Makes the server list smaller or larger. Customizable in the file.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/AdjustableServerWidth
 * @website https://gibbu.me/
*/
:root {
    --ASW_size: 25px;
}

.base-3dtUhz {
    left: calc(var(--ASW_size) + 20px);
}

.wrapper-1Rf91z {
    width: calc(var(--ASW_size) + 20px);
    .scrollerWrap-1IAIlv {
        width: calc(var(--ASW_size) + 20px);
        min-width: 78px;
    }
    .expandedFolderIconWrapper-1xLaU- {
        transform: none !important;
    }
    .expandedFolderBackground-2sPsd- {
        width: var(--ASW_size);
        margin-left: -2px;
    }
    .closedFolderIconWrapper-15K9MK {
        transform: none !important;
    }
    .guildSeparator-3s64Iy {
        width: var(--ASW_size) !important;
    }
    .placeholderMask-3K9THS {
        height: var(--ASW_size);
        width: var(--ASW_size);
        foreignObject {
            width: 100%;
            height: 100%;
        }
    }
    .expandedGuilds-1JMD4M {
        height: auto !important;
    }
    .listItem-2P_4kh {
        width: calc(var(--ASW_size) + 20px);
        display: flex;
        align-items: center;
        [class*="pill"] {
            top: 50%;
            transform: translateY(-50%);
            span {
                height: var(--ASW_size) !important;
                transition: 0.15s ease !important;
                transform: scale(1,0) !important;
                // Unread
                @for $i from 0 through 8 {
                    &[style*="height: #{$i}"] {
                        transform: scale(1,0.25) !important;
                    }
                }
                // Hovered
                @for $i from 9 through 20 {
                    &[style*="height: #{$i}"] {
                        transform: scale(1,0.50) !important;
                    }
                }
                // Selected
                @for $i from 21 through 40 {
                    &[style*="height: #{$i}"] {
                        transform: scale(1,1) !important;
                    }
                }
            }
        }

        &:first-child svg svg {
            width: 60%;
        }
        .wrapper-25eVIn {
            height: var(--ASW_size);
            width: var(--ASW_size);

            svg {
                height: var(--ASW_size);
                width: var(--ASW_size);
            }
        }
        &:first-child + .listItem-2P_4kh {
            height: unset;
            margin-top: 5px;
        }
        &:first-child + div[style]:not([class*="listItem"]) {
            height: var(--ASW_size) !important;
        }
    }
    > div[style] {
        height: var(--ASW_size);
        width: var(--ASW_size);
    }
    div[style] + .listItem-2P_4kh {
        height: unset;
        margin-top: 5px;
    }
    .guildsError-b7zR5H {
        height: var(--ASW_size);
        width: var(--ASW_size);
    }
}

.unreadMentionsIndicatorBottom-BXS58x,
.unreadMentionsIndicatorTop-gA6RCh {
    width: calc(var(--ASW_size) + 20px);
}

.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe,
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe {
    width: var(--ASW_size);
}

.wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh mask rect:last-child {
    width: 0;
    height: 0;
}

.macButtons-2MuSAC {
    width: calc(var(--ASW_size) + 20px);
    padding: 0;
}

.macButton-c_Adir {
    display: flex;
    justify-content: center;
}

.platform-osx .wrapper-1Rf91z {
    margin-top: 15px;
}
