/**
 * @name Adjustable Server Width
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Makes the server list smaller or larger. Customizable in the file.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/AdjustableServerWidth
 * @website https://gibbu.me/
*/
:root {
  --server-icon-size: 35px;  /* Size of the server icons | DEFAULT: 35px */
  --server-icon-spacing: 8px;  /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
  --server-container-padding: 10px;  /* Spacing between left and right sides of server icons | DEFAULT: 10px */
}



:root {
  --icon: var(--server-icon-size, var(--ASW_size, 35px));
  --container: calc(var(--icon) + calc(var(--server-container-padding) * 2));
}
// Base
.base-3dtUhz {
  left: var(--container);
}

// Guilds
.wrapper-1Rf91z {
  width: var(--container);
  .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
  }
  [role="group"] {
    height: auto !important;
  }
  .placeholderMask-3K9THS {
    width: var(--icon);
    height: var(--icon);
  }
  .listItem-2P_4kh {
    width: var(--container);
    margin-bottom: var(--server-icon-spacing);
  }
  .scroller-2TZvBN > div[style]:not(.listItem-2P_4kh) {
    height: calc(var(--icon) + var(--server-icon-spacing)) !important;
  }
  [class*="pill"] {
    height: var(--icon);
    top: 50%;
    transform: translateY(-50%);
    span {
      height: var(--server-icon-size) !important;
      transition: 0.1s ease !important;
      transform: scale(1,0) !important;
      // Unread
      @for $i from 0 through 8 {
        &[style*="height: #{$i}"] {
          transform: scale(1,0.25) !important;
        }
      }
      // Hovered
      @for $i from 9 through 20 {
        &[style*="height: #{$i}"] {
          transform: scale(1,0.50) !important;
        }
      }
      // Selected
      @for $i from 21 through 40 {
        &[style*="height: #{$i}"] {
          transform: scale(1,1) !important;
        }
      }
    }
  }
  .guildsError-b7zR5H,
  .svg-1X37T1,
  .wrapper-25eVIn {
    width: var(--icon);
    height: var(--icon);
  }
  .iconBadge-2NuvG9 {
    border-radius: 50%;
    height: calc(var(--icon) / 3);
    width: calc(var(--icon) / 3);
  }
  // Folders
  .wrapper-21YSNc {
    width: var(--container);
    .folder-21wGz3,
    .folderIconWrapper-226oVY {
      background: transparent;
    }
    .expandedFolderBackground-2sPsd- {
      left: 50%;
      transform: translateX(-50%);
      width: var(--server-icon-size);
    }
    .expandedGuilds-1JMD4M {
      height: auto !important;
    }
    .closedFolderIconWrapper-15K9MK,
    .expandedFolderIconWrapper-1xLaU- {
      transform: none !important;
    }
  }
}
.colorMuted-HdFt4q.size12-3cLvbJ:first-child:after {
  content: "Adjustable Server Width 2.0.2";
  display: block;
}