#app-mount .chat-3bRxxu {
    background: var(--background-1);
    .scroller-2FKFPG {
        background: transparent;
    }

    .hasMore-3e72_v {
        background: var(--message-box);
        box-shadow: var(--box-shadow);
    }
    .jumpToPresentBar-9P20AM {
        left: unset;
        bottom: 10px;
        right: 30px;
        padding: 0 10px 0 5px;
        background: var(--message-button);
        box-shadow: var(--box-shadow), 0 0 5px rgba(0,0,0,0.3);
        border-radius: 5px;
        opacity: 1;
        > span {
            padding: 0 0 0 5px;
            .spinnerItem-2r0Owh {
                background-color: var(--text-1);
            }
        }
        button {
            font-size: 12px;
            padding-right: 0;
            height: auto;
            color: var(--text-1);
            svg {
                display: none;
            }
            &:first-child {
                display: none;
            }
        }
        &:before {
            content: "";
            width: 16px;
            height: 16px;
            -webkit-mask: url($history) center/cover;
            background: var(--text-1);
        }
    }
    .newMessagesBar-mujexs {
        top: 10px;
        left: 30px;
        right: 30px;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    .messagesWrapper-3lZDfY {
        ::-webkit-scrollbar-thumb {
            visibility: hidden !important;
        }
        .markup-2BOw-j {
            > a, strong > a, em > a {
                color: rgba(var(--accent), 1);
                text-decoration: underline;
            }
        }
        .divider-3gKybi {
            margin-top: 20px;
            margin-left: 20px;
            color: var(--channels-default);
            .dividerContent-2L12VI {
                &:before, &:after {
                    content: none;
                }
            }
            &.dividerRed-MKoLlr {
                color: var(--red);
            }
        }
        .containerCozy-jafyvG {
            background: var(--message-box);
            margin: 20px 12px 0 20px;
            border-radius: 5px;
            box-shadow: var(--box-shadow);
            min-height: calc(var(--chat-avatar-size) + 45px);
            .contentCozy-3XX413 {
                margin-left: calc(var(--chat-avatar-size) + 40px);
            }

            .wrapper-3t9DeA {
                height: var(--chat-avatar-size) !important;
                width: var(--chat-avatar-size) !important;
            }
            .embedFull-2tM8-- {
                background: var(--background-2);
                .embedTitle-3OXDkz {
                    color: rgba(var(--accent), 1);
                }
            }
            .guildIconImage-3qTk45 {
                background-color: transparent;
            }

            .dividerEnabled-2TTlcf {
                display: none;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }
        .inner-zqa7da {
            background: var(--background-1);
        }
        &:hover ::-webkit-scrollbar-thumb {
            visibility: visible !important;
        }
    }

    .wrapper-3WhCwL {
        color: rgba(var(--accent), 1);
        background: rgba(var(--accent), 0.1);
        &:hover {
            color: #fff;
            background: rgba(var(--accent), 1);
        }
    }

    .content-3dzVd8 {
        .scrollableContainer-2NUZem {
            background: var(--background-1);
            border-radius: 5px;
        }
    }

    .operations-36ENbA>a {
        color: rgba(var(--accent), 1);
    }

    .channelTextArea-rNsIhG {
        border-top-color: var(--message-box-divider);
        .scrollableContainer-2NUZem {
            background-color: var(--message-box);
            box-shadow: var(--box-shadow);
            .inner-MADQqc {
                max-height: 144px;
            }
            .textArea-12jD-V {
                padding: 15px;
                box-sizing: border-box;
                top: 1px;
                .placeholder-37qJjk {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                    font-size: 12px;
                    opacity: .7;
                    left: 15px;
                    padding: 0;
                }
                .slateTextArea-1Mkdgw {
                    left: 0;
                    top: 0;
                    padding: 15px;
                    box-sizing: border-box;
                }
            }
            .buttons-3JBrkn {
                height: 54px;
                button {
                    opacity: .3;
                    min-height: 54px;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .attachWrapper-2TRKBi {
                border-right: none;
            }
            .attachButton-2WznTc {
                height: 100%;
                .attachButtonInner-PQjIyk {display: none;}
                &:before {
                    content: "";
                    width: 24px;
                    height: 24px;
                    background: var(--text-normal);
                    -webkit-mask: url($upload_file) center/20px no-repeat;
                    opacity: .3;
                    transition: 0.2s ease;
                }
                &:hover:before {
                    opacity: 1;
                    -webkit-mask-size: 24px;
                }
            }
            .attachButtonDivider-3Glu60 {
                display: none;
            }
        }
    }

    .content-yTz4x3 {
        &:before {
            content: none;
        }
    }
}
