.theme-dark {
  // Master Variables
  --border-color: #141414;
  --background-color: #24292e;
  --text-default: #d1d5da;
  --text-muted: #959da5;
  --text-focus: #ffffff;

  // Toolbar (headers)
  --toolbar-background: #1d2125;
  --toolbar-hover-background: #2f363d;
  --toolbar-server-icon-color: #454f59;

  // Account Container
  --account-panel-background-color: #2f363d;
  --account-button-hover-color: #{lighten(#2f363d, 1%)};

  // Chat/Friends/DM
  --main-background: #2a3036;
  --main-background-hover: #{lighten(#2a3036, 2%)};

  // Servers
  --server-icon: var(--toolbar-background);

  // Friends list
  --now-playing-background: var(--main-background);

  // Userpopouts
  --userpopout-header: var(--toolbar-background);
  --userpopout-body: var(--background-color);
  --userpopout-textbox: var(--toolbar-background);

  // Font weights
  --font-weight-ultralight: 300;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  // Scrollbars
  --channel-scrollbar: rgba(0,0,0,0.3);

  // Discord variables
  --background-modifier-hover: #2f363d;
  --background-modifier-active: #444d56;
  --background-modifier-selected: var(--accent-solid);
}