#app-mount .noArrow-2foL9g.popout-2iWAc-,
#app-mount .popoutRight-1veHKi.noArrow-2foL9g,
#app-mount .animatorLeft-1EQxU0.translate-2dAEQ6,
#app-mount .animatorRight-3i_YPs.translate-2dAEQ6 {
  backdrop-filter: blur(var(--popout-blur));
  border-radius: 3px;
  overflow: hidden;
}

#app-mount .userPopout-3XzG_A {
  box-shadow: none;
  border-radius: 0;
  background: var(--set-tint);
  box-shadow: var(--set-popout-brightness);
  .headerNormal-T_seeN {
    background: transparent;
  }
  .headerStreaming-2FjmGz {
    background: rgba(89, 54, 149, 0.4);
  }
  .headerPlaying-j0WQBV {
    background: linear-gradient(rgba(var(--gradient-one), .5), rgba(var(--gradient-two), .5));
  }
  .headerSpotify-zpWxgT {
    background: rgba(29, 185, 84, 0.4);
  }

  .bodyTitle-Y0qMQz {
    color: var(--text-normal);
    font-weight: 500;
  }

  .bodyInner-245q0L {
    background: transparent;
  }
  .footer-1fjuF6 {
    background: transparent;
    border: none;
  }
  .quickMessage-1yeL4E {
    background: var(--background-secondary);
    border: none;
  }
  .protip-YaFfgO {
    display: none;
  }
}