#app-mount .wrapper-1ucjTd {

  // Server channels
  &.modeUnread-1zpFdA .content-3at_AU {
    background: var(--unread-channel-background);
  }
  &:hover .content-3at_AU {
    background: var(--background-modifier-hover);
  }
  &.modeSelected-1zApJ_ .content-3at_AU {
    background: var(--set-gradient-solid);
    .name-3_Dsmg,
    .actionIcon-2Hi9ZG,
    .icon-1_QxNX {
      color: #fff;
    }
  }

}
