#app-mount .sidebar-2K8pFh {
  background: var(--set-tint);
  box-shadow: var(--set-left-brightness);
  border-radius: 0;
  .scroller-1JbKMe,
  .privateChannels-1nO12o,
  .container-PNkimc {
    background: transparent;
  }
}