#app-mount .wrapper-3t9DeA * { overflow: visible; mask: none; }

#app-mount .wrapper-3t9DeA .dots-3Bkt3k { position: relative; z-index: 2; }

#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="2.5"] { cy: -8; cx: -8.5; }

#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="8.75"] { cy: -8; cx: -2.25; }

#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="15"] { cy: -8; cx: 4; }

#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] { x: 0; y: 0; }

#app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect { x: -49; y: -53; }

#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] { fill: rgba(0, 0, 0, 0.5); width: 30px; height: 30px; x: 1; y: 1; }

#app-mount .wrapper-3t9DeA[style*="width: 80px;"] { position: relative; margin-right: 0 !important; }

#app-mount .wrapper-3t9DeA[style*="width: 80px;"] img { clip-path: circle(calc(39px - var(--rs-large-spacing))); }

#app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect { width: 80px; height: 80px; }

#app-mount .wrapper-3t9DeA[style*="width: 80px;"][style*="width: 80px;"]:after { left: unset; right: -2px; top: unset; bottom: -2px; transform: none; }

#app-mount .wrapper-3t9DeA[style*="width: 32px;"] img { clip-path: circle(calc(15px - var(--rs-small-spacing))); }

#app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect { width: 32px; height: 32px; overflow: visible; x: -14.5; y: -17; }

#app-mount .wrapper-3t9DeA img { border-radius: 50%; }

#app-mount .wrapper-3t9DeA[aria-label*="mobile"] { margin-right: 24px; }

#app-mount .wrapper-3t9DeA[aria-label*="mobile"]:after { content: ""; -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4gICAgPHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMzQgMi4wMkwxNCAyYy0yLjIxIDAtNCAxLjc5LTQgNHYzNmMwIDIuMjEgMS43OSA0IDQgNGgyMGMyLjIxIDAgNC0xLjc5IDQtNFY2YzAtMi4yMS0xLjc5LTMuOTgtNC0zLjk4ek0zNCAzOEgxNFYxMGgyMHYyOHoiLz48L3N2Zz4="); -webkit-mask-size: 16px; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; display: block; position: absolute; width: 12px; height: 16px; top: 50%; transform: translateY(-50%); left: 39px; background: var(--green); z-index: 1; }

#app-mount .wrapper-3t9DeA[aria-label*="mobile"] ~ .memberInner-2CPc3V .nameTag-m8r81H .username-2b1r56 { max-width: 168px; }

#app-mount .wrapper-3t9DeA rect { x: 0; y: 0; width: 100%; height: 100%; rx: 200%; ry: 200%; fill: transparent; stroke-width: var(--rs-width); }

#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*="online"] { stroke: var(--green); }

#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*="idle"] { stroke: var(--yellow); }

#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*="dnd"] { stroke: var(--red); }

#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*="streaming"] { stroke: var(--purple); }

#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*="offline"], #app-mount .wrapper-3t9DeA rect[mask*="ivisible"], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] { stroke: #747f8d; }

#app-mount .wrapper-3t9DeA rect[x="16"] { width: 24px; height: 24px; }

#app-mount .wrapper-3t9DeA rect[x="28"] { width: 40px; height: 40px; overflow: visible; }

#app-mount .avatarHint-1qgaV3 foreignObject { mask: none; }

#app-mount .avatarHint-1qgaV3 .avatarHintInner-Dco91E { border-radius: 50% !important; }

#app-mount .message-1PNnaP .mask-1l8v16 img { clip-path: circle(calc(19px - var(--rs-small-spacing))); }

#app-mount .memberOffline-2lN7gt img { clip-path: none; }

#app-mount .header-QKLPzZ .wrapper-3t9DeA { margin-right: 20px !important; }
