:root {
  // Master variables
  --border-radius: 3px;
  --accent-solid: rgba(var(--accent-colour), 1);

  // Spacing
  --spacing: 10px;

  // Fonts
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-size-xsm: 9px;
  --font-size-sm: 11px;
  --font-size: 12px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;

  // Titlebar
  --titlebar-height: 28px;

  // Toolbar (headers)
  --toolbar-height: 50px;

  // Sidebars
  --sidebar-width: 260px;
  --member-height: 42px;
  --channel-height: 32px;

  // Avatars
  --avatar-size: 30px;
  --avatar-size-small: 25px;
  --avatar-size-large: 45px;








  // Discord defaults
  --discord-green: #43b581;
  --discord-yellow: #faa61a;
  --discord-red: #f04747;
  --discord-purple: #593695;
  --discord-invisible: #747f8d;
}