#app-mount .userPopout-3XzG_A {
    box-shadow: var(--box-shadow);
    background: var(--user-popout);
    .header-2BwW8b {
        .headerName-fajvi9,
        .headerTagUsernameNoNickname-2_H881,
        .headerTag-2pZJzA {
            color: var(--text-1);
        }
    }
    .headerPlaying-j0WQBV, .headerNormal-T_seeN {
        background: transparent;
    }
    .headerSpotify-zpWxgT {
        background: transparent;
        .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
            background: var(--spotify-green);
            color: #fff;
            border: none;
            &:hover {
                background: var(--spotify-green-dark);
            }
        }
    }
    .headerStreaming-2FjmGz {
        background: transparent;
        .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
            background: var(--twitch-purple);
            border: none;
            &:hover {
                background: var(--twitch-purple-dark);
            }
        }
    }
    .activity-11LB_k {
        background: transparent;
        .activityName-1IaRLn,
        .headerText-1HLrL7 {
            color: var(--text-1);
        }
        .content-3JfFJh {
            color: var(--text-2);
        }
    }
    .bodyInner-245q0L {
        background: var(--user-popout-body);
        padding: 10px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .addButton-pcyyf6 {
        position: absolute;
        top: 7px;
        right: 6px;
        border: none;
        &:hover {
            color: var(--text-1);
        }
    }
    .bodyTitle-Y0qMQz {
        color: var(--text-1);
    }
    .note-3HfJZ5 {
        margin-left: 0;
        position: relative;
        textarea {
            max-height: unset;
            &:focus {
                background: var(--user-popout-message);
            }
        }
        .charcounter.popout {
            bottom: unset !important;
            top: -19px;
        }
    }
    .footer-1fjuF6 {
        background: var(--user-popout-body);
        border: none;
        padding: 0;
        .quickMessage-1yeL4E {
            background: var(--user-popout-message);
            border: none;
            margin: 0 10px 10px 10px;
            box-sizing: border-box;
            width: calc(100% - 20px);
            &::placeholder {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1.5px;
                font-size: 12px;
                opacity: .7;
            }
        }
        .protip-YaFfgO {
            display: none;
        }
    }
}